<html>
<head>
  <title></title>
</head>

<body>

<div class="container_landing_page">
  <div class="container_landing_page_photo"></div>
  <div class="container_landing_page_welcome"></div>
  <div class="container_landing_page_why_sosed"></div>
  <div class="container_landing_page_buttons"></div>
      <div class="container_landing_page_login">
      <%= link_to "Login", new_user_session_path %>
    </div>     
    <div class="container_landing_page_signup">
      <%= link_to "Sign up", new_user_registration_path %>
    </div>
  </div>
</div>

<div class="containter_columns_with_background_picture">
  <div class="about_dashboard_columns">
  <div class="about_dashboard_box">
    <div class ="about_dashboard_title">
        Title: 
    </div>
      <div class="about_dashboard_body"> 
        <div class="about_dashboard_body_username">  
         First
        </div>
      </div>
  </div>
   <div class="about_dashboard_box">
    <div class ="about_dashboard_title">
        Title: 
    </div>
      <div class="about_dashboard_body"> 
        <div class="about_dashboard_body_username">  
          Second
        </div>
      </div>
  </div>
    <div class="about_dashboard_box">
    <div class ="about_dashboard_title">
        Title: 
    </div>
      <div class="about_dashboard_body"> 
        <div class="about_dashboard_body_username">  
          Third
        </div>
      </div>
  </div>
    <div class="about_dashboard_box">
    <div class ="about_dashboard_title">
        Title: 
    </div>
      <div class="about_dashboard_body"> 
        <div class="about_dashboard_body_username">  
          Third
        </div>
      </div>
  </div>
  <div class="about_dashboard_box">
  <div class ="about_dashboard_title">
      Title: 
  </div>
    <div class="about_dashboard_body"> 
      <div class="about_dashboard_body_username">  
        Third
      </div>
    </div>
  </div>
  </div>
</div>

<div class="container_landing_page">
  <div class="container_landing_page_photo"></div>
  <div class="container_landing_page_welcome"></div>
  <div class="container_landing_page_why_sosed"></div>
</div>
</body>
</html>