
<div class="body_payment_confirmation">
<a class="to_address_book" href="/address_book"></a>
<div class="payment_confirmation_wrapper">
  <div class="payment_confirmation_title">
    Uspešno ste potrdili Dogovor o sodelovanju!
  </div>
  <div class="payment_confirmation_text">
    Hvala za potrditev. Za vsa vprašanja smo vam vedno na voljo na nina.breznik@sosed.si <br><br>
    Če boste dogovor o sodelovanju želeli prekiniti, preprosto izbrišite svoj račun. <br> <br>
    Veselimo se sodelovanja z vami in vam želimo veliko uspehov na servisu!
  </div>
  <div class="payment_confirmation_text">
    <i class='fa fa-arrow-left'></i> <%= link_to "Nazaj na profil", profile_path %>
  </div>

</div>
</div>
