<html>
<head>
  <title></title>
</head>
<body>
  <h2>Payment information for Bank transfer</h2>
<table>
  <tr align="left">
    <th>Company:</th>
    <th>Moj sosed d.o.o.</th>
  </tr>
  <tr align="left">  
    <th>Address:</th>
    <th>Radehova 39</th>
  </tr>
  <tr align="left">
    <th>City:</th>
    <th>2230 Lenart</th>
  </tr>   
  <tr align="left"> 
    <th>Purpose of payment:</th>
    <th>Lead payment</th>
  </tr>
  <tr align="left">
    <th>Account number:</th>
    <th>IBAN SI56 0410 2000 2065 311 (NOVA KBM d.d.)</th>
  </tr>
  <tr align="left">
    <th>Reference:</th>                      
    <th>??</th>                     
  </tr>
</table>
</body>
</html>