<h1>How it works?</h1>
<ol>
  <h4>You can <a href="campaigns/new">post campaign</a> you want to run on Google Adwords and invite others to share costs with you.</h4>
  <h4>You can also <a href="/dashboard">join existing campaigns.</a></h4>
  <h4>When there is at least 5 people co-owning a campaign, LeadShareApp will provide you with cost analysis to start a campaign</h4>
  <h4>After all the participants confirm, the campaign will start to run and leads from potencial customers will appear direcly on your dashboard.</h4>
</ol>