<div class="body_payment_confirmation">
<div class="payment_confirmation_wrapper">
  <div class="payment_confirmation_title">
    FAQ
  </div> 
    <div class="payment_confirmation_text">
      <p>
        Koliko je pogodbeni delež od vaših cen, oziroma kako deluje nagrajevanje?<br><br>
        Glede deleža od storitev je tako, da se cene zaračunavajo po Sosed ceniku, pri čemer 30% plačila nakažete nam, preostalo pa pripada vam. Od teh 30% pa delež potem poravnamo tistemu, ki je pripeljal stranko, poplačamo stroške in vlagamo v nadaljni razvoj aplikacije. Natančno si lahko obrazložite preberete <%= link_to "tukaj", price_list_path %>.
      </p><br>
      <p>
        Kako deluje sistem mreže servisov na splošno?<br><br>
        Na splošno je vsak samozaposlen, povezani smo preko aplikacije. Dela pridobivamo mi, skupaj vsi serviserji v mreži in preko partnerjev (Telekom ipd.).  O pogojih sodelovanja pa lahko več preberete v našem <% link_to "Dogovoru o sodelovanju", terms_of_use_path %>. 
      </p><br>

      <p>
        Glede na to, da gre za servis, ali to pomeni, da se moramo izvajalci oglasiti pri stranki ali se lahko vse skupaj dogaja "remote"? Glede na to, da smo nekateri zaposleni, je to možno izvajati popoldne oz. zvečer in kako se dejansko to izvede? Je potrebno stranko poklicali ali se naredi online help - kaj če sem na sestanku pa me stranka potrebuje?<br><br>
        Ko nam stranka pošlje povpraševanje ali pokliče, ga objavimo na začetni strani. Prvi serviser, ki je prost in je na voljo v strankini okolici (poskusili bomo poskrbeti, da sta v določenem okolišu registrirana vsaj dva), potrdi servis. Tako da če nimate časa, servisa preprosto ne potrdite. Če pa mi ne najdemo prostega serviserja pa vas kontaktiramo, kdaj bi imeli čas in poskusimo prestaviti servis. <br>
        Torej, ko potrdite, se zavezujete, da boste šli ob dogovorjeni uro do stranke, sicer pa nimate nobene obveze.Če je stranka prišla do nas preko vaše afiliacijske kode pa prejmete tudi določen %, torej tudi, če ne greste vi na servis.
      </p><br>

      <p>
        Kako stranko prepričati, da potem, ko ji recimo pomagamo, še "klikne" na zaključitev procesa odprave napake ter s tem potrdi osnovo za obračun - verjamete da bodo hoteli biti tako pošteni?<br><br>
        Sosed servis deluje predvsem kot fizični obisk pri stranki na domu ali v pisarni, nudimo pa tudi pomoč na daljavo, večinoma za stranke, ki jim zaupamo (stalne stranke, ki vemo, da plačujejo storitev). Ko pa opravljamo servis na daljavo, pa stranko vprašamo, ali uporablja spletno banko in če jo, prosimo, da takoj poravna servis. V nasprotnem primeru pošljemo račun, če pa se zgodi, da stranka ne plača, jo damo na črno listo in nov servis lahko naroči šele, ko poravna stare dolgove. Praviloma zato vedno zaračunavamo storitve takoj (tudi pri obisku na domu). Mogoče v prihodnosti lahko dodamo za servis na daljavo plačilo vnaprej in se potem izognemo tovrstnim težavam. 
      </p><br>

      <p>
        Kaj pomeni, da sem lahko solastnik aplikacije? Kakšni stroški so povezani s tem oz. na kakšen način ste si to zamislili?<br><br>
        Glede solastništva bi radi v prihodnosti našli dovolj močan team serviserjev, ki bi bili dovolj povezani in bi delili skupno vizijo, da bi jih povabili k solastništvu (brez finančnega vložka). Sami bi bili potem eni izmed solastnikov, ki bi bili tudi skrbnik in razvijalec aplikacije, skupaj z ostalimi pa bi delali na marketingu, strategiji in ostalih odločitvah. Zakaj? Ker imamo raje manjši kos večjega kolača kot celo mini torto. In če smo solastniki močan team, potem lahko lažje skupaj rastemo in s tem bolj uspešno širimo aplikacijo in zaslužek. 
      </p><br>
      
      <p> Niste prejeli odgovora na vaše vprašanje? 
        <%= mail_to "nina.breznik@sosed.si", "Pišite nam!" %></div>
      </p>
    
    </div>
</div>
</div>


