<html>
<head>
  <title>LeadShare</title>
</head>
<body>
  <div><a href="/users/sign_up">SignUp / SignIn</a>
  </div>
  <nav>
    <ul>
      <a href="/">Home</a> <br>
      <a href="/faq">Faq</a> <br>
      <a href="/campaigns">Browse campaings</a> <br>
      <a href="#">My dashboard</a> <br>
      <a href="/contact">Contact</a> <br>
    </ul>
  </nav>
  
  <div>
    <p>Welcome to LeadShare. You can post your Campaing here and invite others to share costs for the leads OR you can browse through existing campaigns and join them. To find out more about how it works, visit <a href="static_pages/faq">FAQ</a>.</p>
  </div>
  <div>
    <p>POST your campaign and find people who will join and share costs with you.</p>
    <p>OR</p>
  </div>
  <div>
    <p><a href="/campaigns">BROWSE</a> active campaigns & JOIN to get cheaper leads for your business</p>
  </div>  
</body>
</html>
