<html>
<head>
  <title>LeadShare</title>
</head>
<body>
  <div>
    <h2><p>Welcome to LeadShare.</p></h2>
  </div>
  <div>
    <p><h3><a href ="campaigns/new">POST</a> your campaign and find people who will join and share costs with you.</h3></p>
    <p>OR</p>
  </div>
  <div>
    <p><h3>BROWSE active campaigns & click to get more details on a campaigns</h3></p>
    <body>
    <% @campaigns.each do |campaign| %>
      <h4><%= link_to campaign.title, campaign%></h4> 
    <% end %>
  </div>  
</body>
</html>
