<div class="body_info_singlepage">
  <!-- <section class="section_our_team"> -->
  <section class="section_budget">
    <br>
    <div class="section_budget_title">Are you a Newcomer? </div>
    <div class="section_budget_text">
      Tell us what you are good at, what service can you offer
      and the we will help you find a local company or organisation
      who could hire you. <br>
      Not self-employed yet?
      Send us an email and we will help you find a local guide who will help you get started. <br>
    </div>
    <br>
    <div class="section_budget_title">How to start with freelancing?</div>
    <div class="section_budget_text">
      If you are not self employed yet, we can help you find a local supporter that
      is willing to help you with free legal advice and professional mentorship.
      In this case, you can post a request for help on the marketplace
      and we will help you find an advisor for you. <a href=#legal>See more info</a>
    </div>
    <br>
    <div class="section_budget_title">And for the locals who want to help</div>
    <div class="section_budget_text">
      Help newcomers re-start in their new home country.
      Post a request and hire a newcomer
      as a freelancer, business partner or as a volunteer.
      <%= link_to "Join us!", new_user_registration_path %>
    </div>
    <br>
  </section>
  <section class="section_our_team">
    <br>
    <br>
    <div class="section_our_team_title">Do you want to help newcomers?</div>
    <div class="section_our_team_text">
      We partner with a range of organizations,
      including nonprofits, schools and incubators.
      These organizations are united by a strong commitment
      to serving the needs of vulnerable and/or excluded populations,
      either through offering help with space and mentorship
      or with connecting newcomers to the market opportunities.
      You can create a post on the marketplace directly and book an independant newcomer professional, or
      <%= link_to "e-mail us", "mailto:we@refugeeswork.com" %>
      and we will help you figure out how you can help and add you on our list of supporters.
    </div>
    <div id=legal></div>
    <br><br>
    <div class="section_our_team_title">Legal</div>
    <div class="section_our_team_text">
      For Asylum Seekers (refugees in a pending asylum procedure),
      volunteering is one option to work in companies and NGOs.
      Recognized Refugees & people granted subsidiary protection
      have Free Access to the Labour Market.
      They do not face any restrictions and can find a job,
      start Freelancing or can start with their Small Business.
    </div>
    <br>
    <div class="section_our_team_title">Useful links</div>
    <div class="section_our_team_text">
    <a href="https://www.mawista.com/blog/en/working-freelancer-germany/">
      Freelancing in Germany
    </a>
    <br>
    <a href="http://www.make-it-in-germany.com/en/for-qualified-professionals/working/setting-up-a-business-in-germany">
      Setting up a business in Germany
    </a>
    <br>
    <a href="https://www.anerkennung-in-deutschland.de/html/en/1843.php">
      Professional Recognition
    </a>
    <br>
    <a href="http://www.refugeephrasebook.de/basic-conversation/">
      Refugee Phrasebook
    </a>
    <br>
    <a href="http://www.gtai.de/GTAI/Navigation/EN/welcome.html#invest">
      Germany Trade & Invest
    </a>
    <br>
    <a href="https://www.berlin.de/fluechtlinge/berlin-engagiert-sich/berliner-initiativen/">
      Berlin Initiatives for Refugees
    </a>
    </div>
  </section>

  <section class="section_our_team">
    <i class="fa fa-heart"></i>
    <div class="section_our_team_title">Get in touch</div>
    <div class="section_our_team_text">Contact us!
      <%= link_to "we@refugeeswork.com", "mailto:we@refugeeswork.com"%>
    </div>
  </section>


  <section class="section_company_info">
    <div class="section_company_info_name">Be the change you want to see!</div>
    <br>
    <div class="section_company_info_contact">
      <a href="https://github.com/RefugeesWork/roadmap">
        Join our team!
      </a>
    </div>
    <br>
    <div class="section_company_info_city">RefugeesWork was made in Berlin, Germany.</div>
  </section>
</div>
