<div class="body_info_singlepage">
  <div class="section_picture">
    <div class="section_picture_background">
      <div class="section_picture_title">SOSED.BIZ</div>
      <div class="section_picture_text">Vsak dan nova povpraševanja strank.</div>
      <div class="section_picture_buttons">
        <div class="section_picture_buttons_signup"><%= link_to "#{I18n.t'staticpagesprofile-links.sign-up'}", new_user_registration_path %></div>
        <div class="section_picture_buttons_signin"><%= link_to "#{I18n.t'staticpagesprofile-links.sign-in'}", new_user_session_path %></div>
      </div>
      <i class="fa fa-angle-down"></i>
    </div>
  </div>

  <section class="section_welcome">
    <div class="section_welcome_title">Dobrodošli na Sosed.biz</div>
    <div class="section_welcome_subtitle">STE PRIPRAVLJENI NA NOVE STRANKE?</div>
    <div class="section_welcome_text">Marketing na spletu zahteva veliko časa. Mi poskrbimo, da ta čas ponovno dobite nazaj. Poveste na le, kaj počnete in kje in mi vam posredujemo povpraševanja. Pregledovanje povpraševanj je popolnoma brezplačno. Plačate samo ko najdete stranke, s katerimi bi želeli delati.</div>
  </section>

  <section class="section_divided">
    <div class="section_divided_left">
      Na našo stran prihaja na desetine strank, ki iščejo zanesljive izvajalce za izvedbo njihovih projektov.
    </div>
    <div class="section_divided_right">
      V bazi imamo tudi že nekaj 100 izvajalcev, ki z našo pomočjo povečujejo obseg svojega posla.
    </div>
  </section>

  <section class="section_how_it_works">
    <div class="section_how_it_works_image"></div>
    <div class="section_how_it_works_title">Kako deluje?</div>
    <div class="section_how_it_works_text">Stranke odgovorijo na vprašanja glede njihovega projekta. Informacije glede strankinih želja objavimo na naši strani in zainteresirani izvajalci se odločijo za nakup kontakta.</div>
    <div class="section_how_it_works_title">Kako stranka izbere mene?</div>
    <div class="section_how_it_works_text">Na našem blogu lahko najdete podrobne nasvete. Ključni pa so: jasna in profesionalna sporočila, ocena stroškov, povratne informacije ter vztrajnost.</div>
  </section>

  <section class="section_our_team">
    <div class="section_our_team_title">Naša ekipa</div>
    <div class="section_our_team_text">Motivirani smo za to, kar počnemo in radi delamo skupaj, da dosežemo, kar želimo. V naši ekipi smo marketingarji, programerji, oblikovalci ter biznis ekipa.</div>
  </section>

  <section class="">
  </section>

  <section class="">
  </section>

  <section class="">
  </section>

</div>