<div class="body_info_singlepage">
  <section class="section_welcome">
    <div class="section_welcome_title">Dobrodošli na LeadShareApp za Sosed agente </div>
    <div class="section_welcome_subtitle">ŽELITE POSTATI SOSED?</div>
    <div class="section_welcome_text">To je privilegij tistih, ki imajo znanje, izkušnje in izjemne komunikacijske sposobnosti.</div>
  </section>

  <section class="section_divided">
    <div class="section_divided_left">
      Iščemo računalniške genije.
    </div>
    <div class="section_divided_right">
      Se želiš boriti proti nedelujočim računalnikom?
    </div>
  </section>

  <section class="section_how_it_works">
    <div class="section_how_it_works_image"></div>
    <div class="section_how_it_works_title">Postani SOSED!</div>
    <div class="section_how_it_works_text">Če imaš voljo, znanje za delo s strankami, svoje računalniško podjetje ali s.p. in se vidiš v SOSEDOVI uniformi, lahko postaneš del naše partnerske mreže.</div>
  </section>

  <section class="section_our_team">
    <i class="fa fa-heart"></i>
    <div class="section_our_team_title">Naša ekipa</div>
    <div class="section_our_team_text">Motivirani smo za to, kar počnemo in radi delamo skupaj, da dosežemo, kar želimo. V naši ekipi smo marketingarji, programerji, oblikovalci ter biznis ekipa.</div>
  </section>

  <section class="section_budget">
    <i class="fa fa-calculator"></i>
    <div class="section_budget_title">Če se nam želiš pridružiti, se prijavi v aplikacijo.</div>
    <div class="section_budget_text">Vse serviserje bomo skrbno preverili, potem pa jim poslali navodila za delo s strankami, pogodbo o sodelovanju ter promocijski material.</div>
  </section>

  <section class="section_what_customers_want">
    <div class="section_what_customers_want_title">Kaj stranke iščejo?</div>

    <div class="section_what_customers_want_item"><i class="fa fa-check-square-o"></i>Izvajalca, ki je na razpolago.</div>
    <div class="section_what_customers_want_item"><i class="fa fa-check-square-o"></i>Strokovnjaka, ki mu lahko zaupajo in ki jim bo svetoval.</div>
    <div class="section_what_customers_want_item"><i class="fa fa-check-square-o"></i> Računalnikarja, ki bo poskrbel, da bodo imeli s storitvijo lepo izkušnjo.</div>
  </section>

  <section class="section_join_sosed">
    <div class="section_why_sosed_image"></div>
    <i class="fa fa-line-chart"></i>
    <div class="section_join_sosed_introduce">Skupaj z vami gradimo skupnost slovenskih računalniških serviserjev</div>
    <i class="fa fa-paper-plane-o"></i>
    <div class="section_join_sosed_cooperation">Veselimo se sodelovanja z vami. Dobrodošli!</div> 
    <i class="fa fa-thumbs-up"></i>   
    <div class="section_join_sosed_success">Najboljše delujemo, ko ste vi uspešni.</div>  
  </section>

  <section class="section_why_sosed">
    <div class="section_why_sosed_title">Zakaj naj se vpišem na Sosedov LeadShareApp?</div>
    <div class="section_why_sosed_text">Spoznajte nove stranke. Pridobite nova dela. Sosed agenti, ki uporabljajo storitve LeadShareApp so svoje poslovanje so uspeli povečati svoje poslovanje. Uporaba aplikacije je za naše partnerje brezplačna.<br><br> ČE ŽELITE SODELOVATI Z NAMI, SE PRIJAVITE V APLIKACIJO IN NA VAŠ E-NASLOV VAM BOMO POSLALI POGOJE ZA SODELOVANJE.</div>
  </section>
  <section class="section_company_info">
    <div class="section_company_info_name">Moj sosed d.o.o.</div>
    <div class="section_company_info_street">Radehova 39</div>
    <div class="section_company_info_city">2230 Lenart</div>
    <div class="section_company_info_tax_number">Davčna številka: 49595105</div>
    <div class="section_company_info_bank_account">TRR: SI56 0410 2000 2065 311</div>
    <div class="section_company_info_contact"><a href="mailto:nina.breznik@sosed.si">email: info@sosed.si</a></div>
  </section>
</div>