<div class="body_info_singlepage">
  <!-- <section class="section_our_team"> -->
  <section class="section_budget">
    <br>
    <div class="section_budget_title">Are you a Newcomer? </div>
    <div class="section_budget_text">
      Create a profile, let us know about your skills and we will help you find
      a local company or organisation that will hire you. <br><br>
      You can also join our online platform to learn basics of programming,
      that we developed together with
      <a target="_blank" href="http://www.codingamigos.com/">Coding Amigos digital collective</a> and
      <a target="_blank" href="http://wizardamigosinstitute.github.io/">Wizard Amigos Institute</a>,
      Berlin based programming school.<br><br>
      Not self-employed yet?<br>
      To get started visit our
      <a target="_blank" href="https://gitter.im/codingamigos/learners">Visit our Chat</a> and community will be happy to
      support you with answers and help you learn new digital skills. <br>
    </div>
    <br>
    <div class="section_budget_title">How to get started with freelancing?</div>
    <div class="section_budget_text">
      If you have skills, but are not self employed yet, we can help you find a local supporter that
      is willing to help you with free legal advice and professional mentorship.
      In this case, you can post a request for help on our <a target="_blank" href="https://gitter.im/RefugeesWork/Chat">RefugeesWork organisation channel</a>
      and we will help you find an advisor for you. <a href=#legal>See some legal info</a>
    </div>
    <br>
    <div class="section_budget_title">And for the locals who want to help</div>
    <div class="section_budget_text">
      Help newcomers re-start in their new home country.
      Post a request and hire a newcomer
      as a freelancer, business partner or as a volunteer.
      <%= link_to "Join us!", new_user_registration_path %>
    </div>
    <br>
  </section>
  <section class="section_our_team">
    <br>
    <br>
    <div class="section_our_team_title">Do you want to help newcomers?</div>
    <div class="section_our_team_text">
      We partner with a range of organizations,
      including nonprofits, schools and incubators.
      These organizations are united by a strong commitment
      to serving the needs of vulnerable and/or excluded populations,
      either through offering help with space and mentorship
      or with connecting newcomers to the market opportunities.
      You can create a post on the marketplace directly and book an independant newcomer professional, or
      <%= link_to "e-mail us", "mailto:we@refugeeswork.com" %>
      and we will help you figure out how you can help and add you on our list of supporters.
    </div>
    <div id=legal></div>
    <br><br>
    <div class="section_our_team_title">Legal</div>
    <div class="section_our_team_text">
      For Asylum Seekers (refugees in a pending asylum procedure),
      volunteering is one option to work in companies and NGOs.
      Recognized Refugees & people granted subsidiary protection
      have Free Access to the Labour Market.
      They do not face any restrictions and can find a job,
      start Freelancing or can start with their Small Business.
    </div>
    <br><br>
    <div class="section_our_team_links">
    <a target="_blank" href="http://www.europarl.europa.eu/RegData/etudes/ATAG/2016/578985/IPOL_ATA(2016)578985_EN.pdf">
      Labour market integration of refugees: standards set by EU law
    </a>
    <br>
    <a target="_blank" href="https://www.mawista.com/blog/en/working-freelancer-germany/">
      Freelancing in Germany
    </a>
    <br>
    <a target="_blank" href="http://www.make-it-in-germany.com/en/for-qualified-professionals/working/setting-up-a-business-in-germany">
      Setting up a business in Germany
    </a>
    <br>
    <a target="_blank" href="https://www.anerkennung-in-deutschland.de/html/en/1843.php">
      Professional Recognition
    </a>
    <br>
    <a target="_blank" href="https://www.youtube.com/playlist?list=PLbtP2pUMT_hukdtCayfrk592awflW5GEe">
      Learn programming with online videos for beginners
    </a>
    <br>
    <a target="_blank" href="http://www.meetup.com/CodingAmigos/">
      Meeting for international digital professionals and learners (2x a week)
    </a>
    </div>
    <br><br>
    <div class="section_our_team_title">Supporters</div>
    <div class="section_our_team_text">
      RefugeesWork project is supported by:
      <a target="_blank" href="http://codefor.de/digitalrefugeelabs/">Digital Refugee Lab</a>,
      <a target="_blank" href="http://codefor.de/en/berlin/">Open Knowledge Lab Berlin</a>,
      <a target="_blank" href="http://platformcoop.net/">Platform Cooperativism</a>,
      <a target="_blank" href="http://fairydust.agency/">FairyDust Agency</a>,
      <a target="_blank" href="http://www.meetup.com/CodingAmigos/">Coding Amigos digital collective</a>,
      <a target="_blank" href="http://co-up.de/code-of-conduct.html">Co-Up</a>,
      <a target="_blank" href="http://wizardamigosinstitute.github.io/">Wizard Amigos Institute</a>,
      <a target="_blank" href="https://github.com/SquatUp/roadmap">SquatUp</a>
      and others.
    </div>
  </section>
  <section class="section_end">
    <i class="fa fa-heart"></i>
    <div class="section_end_title">Get in touch</div>
    <div class="section_end_text">Contact us!
      <%= link_to "we@refugeeswork.com", "mailto:we@refugeeswork.com"%>
    </div>
  </section>

</div>
