<div class="body_info_singlepage">
  <section class="section_welcome">
    <div class="section_welcome_title">Why shouldn't refugees be able to use their skills? </div>
    <div class="section_welcome_title">Some of them are hairdressers or fashion designers. Some carpenters. Some other translators or computer technicians.</div>
    <div class="section_welcome_title">Do you need any of these or similar services? </div>
    <div class="section_welcome_subtitle">
      <br>
      Book a refugee for something you need to get done!</div>
  </section>

  <section class="section_how_it_works">
    <div class="section_how_it_works_image"></div>
    <div class="section_how_it_works_title"> YOU can make a difference! Activate yourself!</div>
    <div class="section_how_it_works_text">Post a job/task and we will find the right refugee who can do it. To pay back you can prepare some nice meal, give a pice of clothing or ask what they need in return for their time. </div>
  </section>

  <section class="section_budget">
    <i class="fa fa-calculator"></i>
    <div class="section_budget_title">ARE YOU A REFUGEE?</div>
    <div class="section_budget_text">Click <%= link_to "Register now", new_user_session_path %> and we will put you into our database and inform you when new jobs/tasks will be available near you.</div>
  </section>

  <section class="section_our_team">
    <i class="fa fa-heart"></i>
    <div class="section_our_team_title">WANT TO HELP US</div>
    <div class="section_our_team_text">Are you also dissatisfied with the way people who had to leave homes because of war and danger in their countries are treated? Please, share this page, tell all your friends to get their tasks done by refugee profeesionals. Get involved and share our idea. </div>
  </section>


  <section class="section_why_sosed">
    <div class="section_why_sosed_title">Who are we and why are we doing this?</div>
    <div class="section_why_sosed_text"> We are people from planet earth who want to help our friends in need. We are convinced that refugees should not be stigmatized and excluded. Instead, we should offer them a warm welcome. We believe we can establish a more humane culture of welcoming refugees!</div>
  </section>
  <section class="section_company_info">
    <div class="section_company_info_name">Made from people for people</div>
    <br>
    <div class="section_company_info_bank_account">Be the change you want to see.</div>
    <div class="section_company_info_contact"><%= mail_to "ninabreznik@gmail.com", "Get in touch" %></div>
    <br>
    <div class="section_company_info_city">We live in Berlin, Germany.</div>
    <div class="section_company_info_tax_number">But we come from Slovenia, Korea, Germany, Portugal, Spain, Bosnia, Peru, Taiwan, Lebanon, UK, France, USA and other.</div>
    <br>
    <div class="section_company_info_street"><a href="http://www.codingamigos.com/users/5">Built by Nina / Coding Amigos</a></div>
  </section>
</div>
