<div class="body_info_singlepage">
  <!-- <section class="section_our_team"> -->
  <section class="section_budget">
    <br>
    <br>
    <div class="section_budget_title">Remote IT jobs </div>
    <div class="section_budget_text">
      Welcome to RefugeesWork - where you can find a remote IT work and get
      paid no matter where you live.
      All you need to do is, to create a profile and apply for the <%= link_to "remote IT jobs", leads_path %>.
      <br><br>
      <iframe class="iframe" src="https://www.youtube.com/embed/5v-xx_7MIH0" frameborder="0" allowfullscreen>
      </iframe>
      <br>
      <div class="section_budget_title">Join our hands-on, project-based programming lessons. Proven results.</div>
      WizardAmigos e-school for JavaScript offers best full- and part-time courses for
      people who want to learn to code. Whether you’re looking to climb the corporate ladder,
      upgrade your skills, or start an exciting new career, this is a place for you.
      <a target="_blank" href="http://app.wizardamigos.com/">Click here to start the course</a>
      <br>
    </div>
    <div class="section_budget_title">Legal</div>
    <div class="section_budget_text">
      For Asylum Seekers (refugees in a pending asylum procedure),
      volunteering is one option to work in companies and NGOs.
      Recognized Refugees & people granted subsidiary protection
      have Free Access to the Labour Market.
      They do not face any restrictions and can find a job,
      start Freelancing or can start with their Small Business.
    </div>
    <div class="section_budget_text">
    <a target="_blank" href="http://www.europarl.europa.eu/RegData/etudes/ATAG/2016/578985/IPOL_ATA(2016)578985_EN.pdf">
      Labour market integration of refugees: standards set by EU law
    </a>
    <br>
    <a target="_blank" href="https://www.mawista.com/blog/en/working-freelancer-germany/">
      Freelancing in Germany
    </a>
    <br>
    <a target="_blank" href="http://www.make-it-in-germany.com/en/for-qualified-professionals/working/setting-up-a-business-in-germany">
      Setting up a business in Germany
    </a>
    <br>
    <a target="_blank" href="https://www.anerkennung-in-deutschland.de/html/en/1843.php">
      Professional Recognition
    </a>
    <br>
    <a target="_blank" href="https://www.youtube.com/playlist?list=PLbtP2pUMT_hukdtCayfrk592awflW5GEe">
      Learn programming with online videos for beginners
    </a>
    <br>
    <a target="_blank" href="http://www.meetup.com/CodingAmigos/">
      Meeting for international digital professionals and learners (2x a week)
    </a>
    </div>
  </section>
  <br>
  <br>
  <section class="section_our_team">
    <br>
    <br>
    <div class="section_our_team_title">RefugeesWork in the press</div>
    <div class="section_our_team_text">
      <a target="_blank" href="http://www.morgenpost.de/berlin/article206825645/Ich-bin-gefluechtet-und-neu-in-Berlin.html"><img src="http://www.morgenpost.de/resources/1485789481/img/logo-head.svg" width="250px"></img></a>
      <a target="_blank" href="https://edgeryders.eu/en/refugeeswork-programming-skills-for-a-new-generation-of-freelancers-to?utm_content=bufferb21f3&utm_medium=social&utm_source=facebook.com&utm_campaign=buffer"><img src="https://pbs.twimg.com/profile_images/550268017045536769/6Bd611KN.png" width="150px"></img></a>
      <a target="_blank" href="http://platformcoop.net/stories/refugeeswork"><img src="http://platformcoop.net/assets/img/site/logo-1.png" width="250px"></img></a>
      <a target="_blank" href="http://www.labsus.org/2016/09/refugeeswork-lintegrazione-attraverso-il-lavoro-autonomo-dei-rifugiati/"><img src="http://www.labsus.org/wp-content/themes/Labsus/img/logocenter.jpg" width="150px"></img></a><br>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="section_our_team_title">Partnerships</div>
    <div class="section_our_team_text">
      We partner with a range of organizations,
      including nonprofits, schools and incubators.
      These organizations are united by a strong commitment
      to serving the needs of vulnerable and/or excluded populations,
      either through offering help with space and mentorship
      or with connecting newcomers to the market opportunities.
    </div>
    <div id=legal></div>
    <br>
    <br>
    <div class="section_our_team_title">Supporters</div>
    <div class="section_our_team_text">
      RefugeesWork project is supported by:<br><br>
      <a target="_blank" href="http://codefor.de/digitalrefugeelabs/">Digital Refugee Lab</a>,<br>
      <a target="_blank" href="http://codefor.de/en/berlin/">Open Knowledge Lab Berlin</a>,<br>
      <a target="_blank" href="http://platformcoop.net/">Platform Cooperativism</a>,<br>
      <a target="_blank" href="http://fairydust.agency/">FairyDust Agency</a>,<br>
      <a target="_blank" href="http://www.meetup.com/CodingAmigos/">Coding Amigos digital collective</a>,<br>
      <a target="_blank" href="http://co-up.de/code-of-conduct.html">Co-Up</a>,<br>
      and others.
    </div>
    <br>
    <br>
    <div class="section_our_team_title">Donate</div>
    <div class="section_our_team_text">
      All our projects are made with zero budget so with pure love and dedication for our mission: <br>
      open source & transparency,
      inclusiveness,
      digital literacy and
      open organization.
      <br><br>
      It is not easy, therefore we need your help to make the project going. You can support us with
      1, 3, 5, 10, 20 or 100 $.
      <a target="_blank" href="https://www.patreon.com/user?u=4718617"> Become our Patreon.</a><br>
    </div>
  </section>
  <section class="section_end">
    <i class="fa fa-heart"></i>
    <div class="section_end_title">Contact us</div>
    <div class="section_end_text">Get in touch
      <%= link_to "we@refugeeswork.com", "mailto:we@refugeeswork.com"%>
    </div>
  </section>

</div>
