<div class="body_info_singlepage">
  <section class="section_budget">
    <i class="fa fa-calculator"></i>
    <div class="section_budget_title">ARE YOU A NEWCOMER? WE CONNECT YOU TO THE LOCAL CHANGE MAKERS THAT CAN HELP YOU ACQUIRE NEW SKILLS, START WITH YOUR SMALL BUSINESS OR START FREELANCING.</div>
    <div class="section_budget_text">Click <%= link_to "Register now", new_user_registration_path %> and join the commmunity. Our focus is social engagement through working together.</div>
    <div class="section_budget_title">HOW TO GET STARTED?</div>
    <div class="section_budget_text">Click <%= link_to "here", leads_new_path %> and search for opportunities or offer your support.</div>
    <div class="section_budget_title">ARE YOU A LOCAL CHANGE MAKER?</div>
    <div class="section_budget_text">We partner with a range of organizations, including local businesses, schools and nonprofits. These organizations are united by a strong commitment to serving the needs of vulnerable and/or excluded populations, either through offering help with help with space and mentorship or with connecting newcomers with the market needs.</div>
    <div class="section_budget_title">LEGAL</div>
    <div class="section_budget_text">Work is the best pathway to connect newcomers with locals. We grow through the things we make. For asylum seekers (refugees in a pending asylum procedure), volunteering is one option to work in companies and NGOs. Recognized refugees & people granted subsidiary protection have free access to the labour market. They do not face any restrictions and can find a job, start freelancing or can open their small business.</div>
      <br>
      <br>
    </div>
    <div class="section_budget_text">USEFUL LINKS: <br><br>

      <a href="http://www.make-it-in-germany.com/en/for-qualified-professionals/working/setting-up-a-business-in-germany">Setting up a business in Germany</a>
      <br>
      <a href="https://www.anerkennung-in-deutschland.de/html/en/1843.php">Professional Recognition</a>
      <br>
      <a href="http://www.refugeephrasebook.de/basic-conversation/">Refugee Phrasebook</a>
      <br>
      <a href="https://www.mawista.com/blog/en/working-freelancer-germany/">Freelancing in Germany</a>
    </div>
  </section>

  <section class="section_our_team">
    <i class="fa fa-heart"></i>
    <div class="section_our_team_title">INFO, PRESS, PARTNERSHIP</div>
    <div class="section_our_team_text"></div>
    <div class="section_our_team_text">Contact us! <%= link_to "we@refugeeswork.com", "mailto:we@refugeeswork.com"%></div>
  </section>


  <section class="section_company_info">
    <div class="section_company_info_name">Be the change you want to see!</div>
    <br>
    <div class="section_company_info_contact"><a href="https://www.facebook.com/groups/refugeeswork">Join our RefugeesWork community on Facebook</a>
    </div>
    <br>
    <br>
    <div class="section_company_info_city">RefugeesWork was made in Berlin, Germany.</div>
  </section>
</div>
