<div class="body_info_singlepage">
  <section class="section_budget">
    <i class="fa fa-calculator"></i>
    <div class="section_budget_title">ARE YOU A NEW ARRIVAL?</div>
    <div class="section_budget_text">Click <%= link_to "Register now", new_user_registration_path %> and we will put you into our database and inform you when new jobs/tasks will be available near you.</div>
    <div class="section_budget_text">INFO POINTS: <br><br>
      <a href="https://www.facebook.com/groups/refugeeswork">RefugeesWork on Facebook</a>
      <br>
      <a href="http://www.refugeeguide.de/">Refugee Guide</a>
      <br>
      <a href="http://www.refugees-welcome.net/">Refugees Welcome</a>
      <br>
      <a href="http://www.refugeephrasebook.de/basic-conversation/">Refugee Phrase Book</a>
      <br>
      <a href="http://www.refugeelegalaidinformation.org/">Refugee Legal Aid Information</a>
      <br>
      <a href="http://www.medibuero.de/">Medical Help in Berlin</a>
      <br>
      <a href="http://place4refugees.de/">Place to sleep in Berlin</a>
      <br>
      <a href="https://www.facebook.com/HIRE-A-Refugee-1650499918501543/timeline/">Hire a refugee</a>
      <br>
      <a href="http://www.fluechtlinge-willkommen.de/ticket-anmeldung-refugee/">Find a room</a>
      <br>
      <a href="https://titanpad.com/germanclassesforrefugees">German classes</a>
      <br>
      <a href="http://sharehaus.net/refugio/">ShareHouse Refugio</a>
      <br>
      <a href="https://foodsharing.de/karte">FoodShare</a>
      <br>
      <a href="http://www.meetup.com/CodingAmigos/">HackerSpace for developers</a>

    </div>
  </section>

  <section class="section_our_team">
    <i class="fa fa-heart"></i>
    <div class="section_our_team_title">WANT TO HELP US</div>
    <div class="section_our_team_text">Are you also dissatisfied with the way people who had to leave homes because of war and danger in their countries are treated? Please, share this page, tell all your friends to get their tasks done by refugee professionals. Get involved and share our idea. </div>
    <div class="section_our_team_text"><a href="https://waffle.io/refugeeswork/roadmap">Check where we need your help</a></div>
  </section>


  <section class="section_why_sosed">
    <div class="section_why_sosed_title">WHY ARE WE DOING THIS?</div>
    <div class="section_why_sosed_text"> We are people from planet earth who want to help our friends in need. We are convinced that refugees should not be stigmatized and excluded. Instead, we should think of refugees not just as victims but as potential contributors to societies and economies in the future.</div>
  </section>


  <section class="section_company_info">
    <div class="section_company_info_name">Be the change you want to see!</div>
    <br>
    <div class="section_company_info_contact"><a href="https://www.facebook.com/groups/refugeeswork">JOIN DISCUSSION ON FACEBOOK GROUP</a>
    </div>
    <br>
    <br>
    <div class="section_company_info_city">We live in Berlin, Germany.</div>
    <div class="section_company_info_tax_number">But we come from Slovenia, Korea, Germany, Portugal, Spain, Bosnia, Peru, Taiwan, Lebanon, UK, France, USA and other.</div>
    <br>
    <div class="section_company_info_street"><a href="http://www.codingamigos.com/users/5">Built by Nina / Coding Amigos</a> & now run by <a href="https://waffle.io/refugeeswork/roadmap">  many wonderful people</a></div>
  </section>

</div>
