<div class="body_info_singlepage">
  <section class="section_budget">
    <i class="fa fa-calculator"></i>
    <div class="section_budget_title">ARE YOU A NEWCOMER OR LOCAL WHO WANTS TO HELP?</div>
    <div class="section_budget_text">Click <%= link_to "Register now", new_user_registration_path %> and join the commmunity. RefugeesWork is the iniciative that tries to help refugees/newcomers to connect with the locals through working together.</div>
    <div class="section_budget_title">How does is work?</div>
    <div class="section_budget_text">Click <%= link_to "Post new invitation", leads_new_path %> and say what do you need to get done or what you can do to help? <br><br>
      Maybe you can offer newcomers volunteering opportunity to join your cause and help refugees? Maybe you are a refugee doing research work and want to connect with locals? Or you want to learn to cook and could ask newcomer to teach you?
      <br>
      <br>
      There is plenty of opportunities to connect. Newcomers want to meet new people and get in touch with interesting projects, so let's make this work:)
    </div>
    <div class="section_budget_text">USEFUL LINKS: <br><br>

      <a href="https://www.facebook.com/groups/refugeeswork">RefugeesWork on Facebook</a>
      <br>
      <a href="http://www.refugeephrasebook.de/basic-conversation/">Refugee Phrasebook</a>
      <br>
      <a href="http://www.refugees-welcome.net/">WeConnect - Social Activities with Refugees</a>
      <br>
      <a href="http://www.refugeeradionetwork.net/index.html">Refugee Radio Network</a>
      <br>
      <a href="http://www.workeer.de/">Workeer - Fulltime jobs</a>
      <br>
      <a href="http://sharehaus.net/refugio/">Refugio Café</a>
      <br>
      <a href="https://foodsharing.de/karte">Foodsharing - free food</a>
      <br>
      <a href="http://wizard.amigos.institute/">Wizard Amigos Institute - Programming school for kids</a>
      <br>
      <a href="http://www.meetup.com/CodingAmigos/">Coding Amigos - Open hacking nights</a>

    </div>
  </section>

  <section class="section_our_team">
    <i class="fa fa-heart"></i>
    <div class="section_our_team_title">WANT TO HELP US</div>
    <div class="section_our_team_text">Are you also dissatisfied with the way people who had to leave homes because of war and danger in their countries are treated? Please, share this page, tell all your friends to post their invitations to help refugees connect to local community. Get involved and share our idea. </div>
    <div class="section_our_team_text"><a href="https://waffle.io/refugeeswork/roadmap">Are you a developer? Check where we need your help and/or connect your app</a></div>
  </section>


  <section class="section_company_info">
    <div class="section_company_info_name">Be the change you want to see!</div>
    <br>
    <div class="section_company_info_contact"><a href="https://www.facebook.com/groups/refugeeswork">JOIN DISCUSSION ON FACEBOOK GROUP</a>
    </div>
    <br>
    <br>
    <div class="section_company_info_city">We live in Berlin, Germany.</div>
    <div class="section_company_info_tax_number">But we come from Slovenia, Korea, Germany, Portugal, Spain, Bosnia, Peru, Taiwan, Lebanon, UK, France, USA and other.</div>
    <br>
    <div class="section_company_info_street"><a href="http://www.codingamigos.com/users/5">Built by Nina / Coding Amigos</a> with help and support of <a href="https://waffle.io/refugeeswork/roadmap">  many wonderful people</a></div>
  </section>

</div>
