<div class="body_info_singlepage">
  <section class="section_welcome">
    <div class="section_welcome_title">Dobrodošli na LeadShareApp za Sosed agente </div>
    <div class="section_welcome_subtitle">ŽELITE POSTATI SOSED?</div>
    <div class="section_welcome_text">To je privilegij tistih, ki imajo znanje, izkušnje in izjemne komunikacijske sposobnosti.</div>
  </section>

  <section class="section_divided">
    <div class="section_divided_left">
      Preprosto rečeno - iščemo tehnološke genije.
    </div>
    <div class="section_divided_right">
      Se želite boriti proti nedelujočim računalnikom?
    </div>
  </section>

  <section class="section_how_it_works">
    <div class="section_how_it_works_image"></div>
    <div class="section_how_it_works_title">Postani SOSED!</div>
    <div class="section_how_it_works_text">Če imate voljo, znanje za delo s strankami, svoje računalniško podjetje ali s.p. in se vidite v SOSEDOVI uniformi, lahko postanete del naše partnerske mreže.</div>
  </section>

  <section class="section_budget">
    <i class="fa fa-calculator"></i>
    <div class="section_budget_title">Če se nam želite pridružiti, se prijavite v aplikacijo.</div>
    <div class="section_budget_text">Prejeli boste promocijski material in lahko takoj pričeli s promocijo v vašem okolišu. <br><br>Ko prejmemo naročilo, ga objavimo na začetni strani. Če ste prosti, s klikom na servis potrdite sprejem naročila. V Imeniku kontaktov nato najdete podatke o stranki: naslov in telefonsko številko. Ob dogovorjeni uri se oglasite pri stranki in opravite servis. <br><br>
    Podrobnosti o pogojih poslovanja LeadShareApp najdete v <%= link_to "Dogovoru o sodelovanju.", terms_of_use_path %> </div>
  </section>

  <section class="section_our_team">
    <i class="fa fa-heart"></i>
    <div class="section_our_team_title">Naša ekipa</div>
    <div class="section_our_team_text">Za nami je 7 let izkušenj in več kot 5.000 servisov iz Ljubljane in ostalih delov Slovenije. Začeli smo kot Sosed servis - z lastnimi serviserji, vendar smo se po krajši pavzi odločili za drugačno pot. Razviti želimo parnersko mrežo v obliki LeadShareApp. Kot povezana skupnost želimo redno sodelovati na različnih projektih servisiranja, izobraževanja in svetovanja na različnih področjih sodobne tehnologije: računalništvo, mobilna telefonija, televizija, pametni domovi ipd. <br><br>Več o nas si lahko preberete na strani <a href="http://sosed.si">strani sosed.si</a> Odgovore na pogosta vprašanja pa najdete na <a href="http://www.leadshareapp.com/faq">FAQ</a>.</div>
  </section>


  <section class="section_why_sosed">
    <div class="section_why_sosed_title">Zakaj naj se vpišem na Sosedov LeadShareApp?</div>
    <div class="section_why_sosed_text">Spoznajte nove stranke. Pridobite nova dela. In ostanite samozaposleni. <br><br>Sosed agenti, ki uporabljajo storitve LeadShareApp so svoje poslovanje so uspeli povečati svoje poslovanje. Preberite si <%= link_to "Dogovor o sodelovanju", terms_of_use_path %> in se nam pridružite.<br><br>
      Nimate svojega podjetja? Preberite več o tem, kako ga odprete. Če se odločite za odprtje s.p. ali d.o.o. za opravljanje servisiranja računalnikov, vam pri tem brezplačno pomagamo in svetujemo, kako minimalizirate stroške poslovanja. Preberite več <a href="http://evem.gov.si/info/data/user_upload/ZELIM_REGISTRIRATI_S.P.final.swf">o ustanovitvi podjetja</a>.</div>
  </section>
  <section class="section_company_info">
    <div class="section_company_info_name">Moj sosed d.o.o.</div>
    <div class="section_company_info_street">Radehova 39</div>
    <div class="section_company_info_city">2230 Lenart</div>
    <div class="section_company_info_tax_number">Davčna številka: 49595105</div>
    <div class="section_company_info_bank_account">TRR: SI56 0410 2000 2065 311</div>
    <div class="section_company_info_contact"><a href="mailto:nina.breznik@sosed.si">email: info@sosed.si</a></div>
  </section>
</div>