<div class="body_info_singlepage">
  <div class="section_picture">
    <div class="section_picture_background">
      <div class="section_picture_title">SOSED.BIZ</div>
      <div class="section_picture_text">Vsak dan nova povpraševanja strank.</div>
      <div class="section_picture_buttons">
        <div class="section_picture_buttons_signup"><%= link_to "#{I18n.t'staticpagesprofile-links.sign-up'}", new_user_registration_path %></div>
        <div class="section_picture_buttons_signin"><%= link_to "#{I18n.t'staticpagesprofile-links.sign-in'}", new_user_session_path %></div>
      </div>
      <i class="fa fa-angle-down"></i>
    </div>
  </div>

  <section class="section_welcome">
    <div class="section_welcome_title">Dobrodošli na Sosed.biz</div>
    <div class="section_welcome_subtitle">STE PRIPRAVLJENI NA NOVE STRANKE?</div>
    <div class="section_welcome_text">Marketing na spletu zahteva veliko časa. Mi poskrbimo, da ta čas ponovno dobite nazaj. Poveste na le, kaj počnete in kje in mi vam posredujemo povpraševanja. Pregledovanje povpraševanj je popolnoma brezplačno. Plačate samo ko najdete stranke, s katerimi bi želeli delati.</div>
  </section>

  <section class="section_divided">
    <div class="section_divided_left">
      Na našo stran prihaja na desetine strank, ki iščejo zanesljive izvajalce za izvedbo njihovih projektov.
    </div>
    <div class="section_divided_right">
      V bazi imamo tudi že nekaj 100 izvajalcev, ki z našo pomočjo povečujejo obseg svojega posla.
    </div>
  </section>

  <section class="section_how_it_works">
    <div class="section_how_it_works_image"></div>
    <div class="section_how_it_works_title">Kako deluje?</div>
    <div class="section_how_it_works_text">Stranke odgovorijo na vprašanja glede njihovega projekta. Informacije glede strankinih želja objavimo na naši strani in zainteresirani izvajalci se odločijo za nakup kontakta.</div>
    <div class="section_how_it_works_title">Kako stranka izbere mene?</div>
    <div class="section_how_it_works_text">Na našem blogu lahko najdete podrobne nasvete. Ključni pa so: jasna in profesionalna sporočila, ocena stroškov, povratne informacije ter vztrajnost.</div>
  </section>

  <section class="section_our_team">
    <i class="fa fa-heart"></i>
    <div class="section_our_team_title">Naša ekipa</div>
    <div class="section_our_team_text">Motivirani smo za to, kar počnemo in radi delamo skupaj, da dosežemo, kar želimo. V naši ekipi smo marketingarji, programerji, oblikovalci ter biznis ekipa.</div>
  </section>

  <section class="section_budget">
    <i class="fa fa-calculator"></i>
    <div class="section_budget_title">Sami odločate, koliko denarja boste porabili na Sosed.biz.</div>
    <div class="section_budget_text">Ponavadi za določeno povpraševanje tekmujete z enim ali dvema ponudnikoma, maksimalno pa vas je lahko pet.<br>Potrudite se, da izstopate - naj si vas stranka zapomni.</div>
  </section>

  <section class="section_what_customers_want">
    <div class="section_what_customers_want_title">Kaj stranke iščejo?</div>

    <div class="section_what_customers_want_item"><i class="fa fa-check-square-o"></i>Izvajalca, ki je na razpolago.</div>
    <div class="section_what_customers_want_item"><i class="fa fa-check-square-o"></i>Strokovnjaka, ki mu lahko zaupajo in ki jim bo svetoval.</div>
    <div class="section_what_customers_want_item"><i class="fa fa-check-square-o"></i>In izvajalca, ki bo poskrbel, da bodo imeli s storitvijo lepo izkušnjo.</div>
  </section>

  <section class="section_join_sosed">
    <div class="section_why_sosed_image"></div>
    <i class="fa fa-line-chart"></i>
    <div class="section_join_sosed_introduce">Radi vas predstavimo novim strankam. In tako spravimo več denarja v vaš žep.</div>
    <i class="fa fa-paper-plane-o"></i>
    <div class="section_join_sosed_cooperation">Veselimo se sodelovanja z vami. Dobrodošli!</div> 
    <i class="fa fa-thumbs-up"></i>   
    <div class="section_join_sosed_success">Sosed.biz deluje najboljše, ko ste vi uspešni.</div>  
  </section>

  <section class="section_why_sosed">
    <div class="section_why_sosed_title">Zakaj naj se vpišem na Sosed.biz?</div>
    <div class="section_why_sosed_text">Spoznajte nove stranke. Pridobite nova dela. Na desetine uporabnikov uporablja storitve Sosed.biz in svoje poslovanje so uspeli v tem času bistveno povečati. Kliknite <%= link_to "tukaj", root_path %> in si oglejte sveža povpraševanja.</div>
  </section>

  <section class="section_form">
    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
    <form action="//sosed.us4.list-manage.com/subscribe/post?u=e833ef94f0704d1475029ac8e&amp;id=5387f2bff4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">Prijavite se na naše e-novice!</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="elektronski naslov" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_e833ef94f0704d1475029ac8e_5387f2bff4" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Prijava" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>
    <!--End mc_embed_signup-->
  </section>
  <section class="section_company_info">
    <div class="section_company_info_name">Moj sosed d.o.o.</div>
    <div class="section_company_info_street">Radehova 39</div>
    <div class="section_company_info_city">2230 Lenart</div>
    <div class="section_company_info_tax_number">Davčna številka: 49595105</div>
    <div class="section_company_info_bank_account">TRR: SI56 0410 2000 2065 311</div>
    <div class="section_company_info_contact">Email: info@sosed.si</div>
  </section>
</div>