<div class="body_new_lead_confirmation">
  <div class="new_lead_confirmation">
    <div class="new_lead_confirmation_thank_you">
      <%= I18n.t'new_lead_confirmation.thank_you' %>
    </div> 
    <div class="new_lead_confirmation_text">
      <%= I18n.t'new_lead_confirmation.text' %>
    </div>
</div>
</div>
<!-- Google Code for Sosed.biz conversion Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1015114848;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "CDQuCMOb1FcQ4NiF5AM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1015114848/?label=CDQuCMOb1FcQ4NiF5AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
