<div class="new_lead_confirmation">
  <div class="new_lead_confirmation_thank_you">
    <%= I18n.t'new_lead_confirmation.thank_you' %>
  </div> 
  <div class="new_lead_confirmation_text">
    <%= I18n.t'new_lead_confirmation.text' %>
  </div>
</div>