
<div class="body_payment_confirmation">
<a class="to_address_book" href="/address_book"></a>
<div class="payment_confirmation_wrapper">
  <div class="payment_confirmation_title">
    Plačilo je bilo uspešno! 
  </div>
  <div class="payment_confirmation_text">
    Hvala za zaupanje. Zakupljen kontakt najdete v Imeniku kontaktov.  
  </div>

</div>
</div>


