
<div class="body_payment_confirmation">
<a class="to_address_book" href="/address_book"></a>
<div class="payment_confirmation_wrapper">
  <div class="payment_confirmation_title">
    Uspešno ste potrdili sprejem servisa! 
  </div>
  <div class="payment_confirmation_text">
    Hvala za potrditev. Kontaktne podatke najdete v Imeniku kontaktov. <br><br>
    Če s stranko še ni točno dogorjenega termina, jo, prosim, takoj pokličite in se dogovorite za točno uro. <br> <br>Veliko uspeha na servisu!
  </div>

</div>
</div>


