
<h1>How much does a lead cost?</h1>
<table>

  <tr>
    <th><h1>SOLO</h1></th>
    <th><h1>SHARED</h1></th>
  </tr>

  <tr align="center">
    <td>lead only to you</td>
    <td>lead shared with 4</td>
  </tr>

   <tr align="center">
    <td>60€/lead</td>
    <td>12€/lead</td>
  </tr>

  <tr align="center">
    <td>pay as you go</td>
    <td>pay as you go</td>
  </tr>

  <tr align="center">
    <td>pay with wallet</td>
    <td>pay with wallet</td>
  </tr>

</table>

