<h1>How it works?</h1>
<ol>
      1. Browse through campaigns. <br>
      2. Add campaigns from business type and locations you want contacts from. <br>
      3. Choose package & click subscribe. <br>
</ol>

<h1>How much does it cost?</h1>
<table>
  <tr>
    <th>PICO</th>
    <th>GRANDE</th>
    <th>GRANDISSIMO</th>
  </tr>
 
    <th>**********</th>
    <th>**********</th>    
    <th>**********</th>

   <tr align="center">
    <td>99eur</td>
    <td>190eur</td>
    <td>290eur</td>
  </tr>
    <tr align="center">
    <td>monthly</td>
    <td>monthly</td>
    <td>monthly</td>
  </tr>
 <tr>
  <td>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="XD6NZANHNGLKS">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </td>
  <td>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="XD6NZANHNGLKS">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </td>
  <td>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="XD6NZANHNGLKS">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </td>
</tr>
</table>

