<html>
<head>
  <title></title>
</head>
<body>

<h2>How much does a lead cost?</h2>
Price per lead is 10€. You can buy each lead seperately (as you go) or you can fill your E-wallet upfront and pay with a simple click.

<h2>How can I pay?</h2>
<ul>
  <li>Credit card</li>
  <li>PayPal</li>
  <li>Payment on bank account</li>
</ul> 

<h2>How do I buy a lead?</h2>
You simply click a link under the lead you want to buy and follow payment instructions. If you have any problem, call our support on 080 4144.

<h2>How quickly after the payment do I receive a selected lead?</h2>
You will receive e-mail with lead (customer contact information) in only few minutes after the payment.

<h2>More questions?</h2>
Call our toll free number 080 4144 or <a href="mailto:nina.breznik@sosed.si">send an email.</a>

</body>
</html>



