<div class="body_promo">
  <div class="columns">
  <ul class="wookmark">
  
    <div class="lead_box">
      <div class ="profile_dashboard_title">
        Navodila
      </div>
      <div class="profile_dashboard_body"> 
        <div class="lead_new_form_description">
          Kliknite na obvestilo, ki ga želite natisniti in počakajte, da se odpre v polni velikosti. Potem kliknite shrani. Obvestilo nato natisnite, pri telefonskih številkah na mesto pod Koda za naročila pa z drobnim tiskom dopišite ali natisnite afiliacijsko kodo, ki ste jo generirali na vašem profilu. 
          Potem obvestila (po 2-3 naenkrat) še zrežite (da bodo stranke lahko odtrgale listke s telefonsko številko in vašo kodo). <br><br>
          Obvestila nato z lepilnim trakom zalepite na oglasne deske stanovanjskih blokov v vaši okolici ali na druga dovoljena mesta za promocijo.<br><br>
          Ko prejmemo novo naročilo, ga bomo objavili na aplikaciji in vse uporabnike obvestili preko e-pošte. Če boste zasedeni in ne boste mogli sprejeti naročila ali bo kdo hitrejši, pa vam vseeno pripada % za afiliacijo.
        </div>
      </div>
    </div>


    <div class="lead_box">
      <div class ="profile_dashboard_title">
        Obvestilo_1 za oglasne deske
      </div>
      <div class="profile_dashboard_body"> 
        <a href="/promo_obvestilo_1"><img alt="test" src="images/obvestilo_1.png" width="200px" height="283px"></a>
      </div>
    </div>

    <div class="lead_box">
      <div class ="profile_dashboard_title">
        Obvestilo_2 za oglasne deske
      </div>
      <div class="profile_dashboard_body"> 
        <a href="/promo_obvestilo_2"><img alt="test" src="images/obvestilo_2.png" width="200px" height="283px"></a>
      </div>
    </div>

    <div class="lead_box">
      <div class ="profile_dashboard_title">
        Obvestilo_3 za oglasne deske
      </div>
      <div class="profile_dashboard_body"> 
        <a href="/promo_obvestilo_3"><img alt="test" src="images/obvestilo_3.png" width="200px" height="283px"></a>
      </div>
    </div>

    <div class="lead_box">
      <div class ="profile_dashboard_title">
        Obvestilo_4 za oglasne deske
      </div>
      <div class="profile_dashboard_body"> 
        <a href="/promo_obvestilo_4"><img alt="test" src="images/obvestilo_4.png" width="200px" height="283px"></a>
      </div>
    </div>

    <div class="lead_box">
      <div class ="profile_dashboard_title">
        Obvestilo_5 za oglasne deske
      </div>
      <div class="profile_dashboard_body"> 
        <a href="/promo_obvestilo_4"><img alt="test" src="images/obvestilo_4.png" width="200px" height="283px"></a>
      </div>
    </div>

  </ul>
  </div>
</div>