  <% if current_user.present? %>
    <div class="promo_image_wrapper">
      <img class ="promo_image" alt="Obvestilo_2" src="images/obvestilo_2.png" width="595px" height="842px" />
    </div>
  <% end %>
