  <% if current_user.present? %>
    <div class="promo_image_wrapper">
      <img class ="promo_image" alt="Obvestilo_5" src="images/obvestilo_5.png" width="595px" height="842px" />
      <div class="promo_image_affilication_code">
        <%= current_user.tracking_id %>
      </div>
    </div>
  <% end %>
