  <% if current_user.present? %>
    <div class="promo_image_wrapper">
      <img class ="promo_image" alt="Obvestilo_4" src="images/obvestilo_4.png" width="595px" height="842px" />
    </div>
  <% end %>
