<div class="body_payment_confirmation">
<a class="to_address_book" href="/address_book"></a>
<div class="payment_confirmation_wrapper">
  <div class="payment_confirmation_title">
    Sosed Roadmap (načrti za nadgradnjo)
  </div>
  <div class="payment_confirmation_text">
    Dodati osebno afiliacijsko kodo uporabnika avtomatično na promocijski material. (nujno!)<br><br>
    Oblikovati obrazec za oddajo kopij računov in avtomatiziranje izdajanje računov za provizijo. (nujno!)<br><br>
    Avtomatiziranje plačil afiliacij. (nujno!)<br><br>
    Avtomatizacija telefonske tajnice (možnost zaračunavanja za pomoč po telefonu - na minute in direktna vezava do prostih serviserjev)<br><br>
    Zadovoljstvo strank - povratne informacije strank glede zadovoljstva s serviserjem in storitvijo<br><br>
    Avtomatizirano obveščanje - o prispelih novih naročilih in druge "notifications"<br><br>
    Profili - možnost oblikovanja profilov serviserjev (slika, članki, zvezdice za zadovoljstvo strank, skills ipd.)<br><br>
    Aplikacija za stranke - namestitev aplikacije na računalnik stranke, obveščanje o poteku antivirusnega programa, predlogi kdaj je čas za optimizacijo, čiščenje računalnika ipd.<br><br>
    Generiranje vsebin - nasveti, predlogi, opažanja s terena in prevod tega v članke ter avtomatično posredovanje medijem, blogerjem, distribucija preko naših kanalov (email, Facebook, Twitter, blog)<br><br>
    Co-ownership - oblikovanje aplikacije v smer co-ownershipa s strani serviserjev in skrb ekipe Moj sosed samo za programiranje in vzdrževanje aplikacije<br><br>
  </div>
  <div class="payment_confirmation_text">
    Imate idejo, predlog, vprašanje glede smernic razvoja? Sporočite nam na <%= mail_to "nina.breznik@sosed.si", "nina.breznik@sosed.si" %>
  </div>
  <div class="payment_confirmation_text">
    <i class='fa fa-arrow-left'></i> <%= link_to "Nazaj", price_list_path %>
  </div>

</div>
</div>