<div class="body_payment_confirmation">
<a class="to_address_book" href="/address_book"></a>
<div class="payment_confirmation_wrapper">
  <div class="payment_confirmation_title">
    Uspešno ste ustvarili afiliacijsko kodo!
  </div>
  <div class="payment_confirmation_text">
    Kodo najdete na svojem <%= link_to "profilu", profile_path %>.<br><br>
    Ko stranka, ki je prišla preko vaše afiliacijske povezave, na naši aplikaciji naroči nov servis, prejmete 10 odstotkov zneska od storitev, ki jih bo na tem servisu opravil serviser. <br><br>
    Delite povezavo in pripeljite nova dela zase ali vaše kolege Sosed serviserje ter zaslužite 10 odstotkov od vsakega servisa, ki pride preko vas!<br><br>

  </div>

</div>
</div>