<div class="body_welcome">
  <div class="leads_index_no_leads_available">
    Welcome to RefugeesWork.
    <br>
    <br>
    New arrivals are looking for opportunities to connect.
    Maybe you could organise a nice dinner and invite a refugee to cook their traditional food with you? Or invite some talented developer to build a cool app with you? Or are you working in an organisation helping refugees and could need their help with something?
    <br>
    <br>
    <div class="leads_index_no_leads_available_button_first">
      <%= link_to "POST AN INVITATION & HELP", new_lead_path %>
    </div>
    <div class="leads_index_no_leads_available_button_second">
      <%= link_to "Are you a refugee? SEE AVAILABLE INVITATIONS", leads_path %>
    </div>
  </div>
</div>
