<div class="body_welcome">
  <div class="leads_index_no_leads_available">
    Welcome to RefugeesWork.
    <br>
    <br>
    Can new arrivals that have no official working permit help you with something?
    <br>
    Translation? Design? Haircut? Cooking? Repairs? Anything else?
    <br>
    <br>
    <div class="leads_index_no_leads_available_button_first">
      <%= link_to "POST A JOB & HELP REFUGEES", new_lead_path %>
    </div>
    <div class="leads_index_no_leads_available_button_second">
      <%= link_to "Are you a refugee? SEE AVAILABLE JOBS", leads_path %>
    </div>
  </div>
</div>
