<div class="body_welcome">
  <div class="leads_index_no_leads_available">
    Welcome to REFUGEES WORK
    <br>
    <br>
    A place where newcomers and locals can connect through working together.
    <br>
    <br>
    <i class="fa fa-heart-o"> Volunteering</i>
    &nbsp &nbsp <i class="fa fa-key"> Freelancing</i>
    &nbsp &nbsp <i class="fa fa-cubes"> Organizing</i>
    &nbsp &nbsp <i class="fa fa-users"> Co-founding</i>
    &nbsp &nbsp <i class="fa fa-pencil"> Research</i>
    &nbsp &nbsp <i class="fa fa-book"> Learning</i>
    &nbsp &nbsp <i class="fa fa-lightbulb-o"> Entrepreneur in residence</i>
    &nbsp &nbsp <i class="fa fa-comments-o"> Collaboration</i>
    <br>
    <br>
    <div class="leads_index_no_leads_available_button_first">
      <%= link_to "NEWCOMERS SEEKING", new_lead_path %>
    </div>
    <div class="leads_index_no_leads_available_button_second">
      <%= link_to "LOCALS OFFERING", new_lead_path %>
    </div>
  </div>
</div>
