<div class="body_welcome">
  <div class="leads_index_no_leads_available">
    Welcome to RefugeesWork.
    <br>
    <br>
    We are a platform connecting new arrivals with job opportunities.
    <br>
    Some refugees are looking part- or full time jobs. But some are still waiting for papers so they are looking for some volunteering opportunities so they can improve their skills, meet new people, connect with the locals. 
    <br>
    <br>
    <div class="leads_index_no_leads_available_button_first">
      <%= link_to "POST A JOB & HELP REFUGEES", new_lead_path %>
    </div>
    <div class="leads_index_no_leads_available_button_second">
      <%= link_to "Are you a refugee? SEE AVAILABLE JOBS", leads_path %>
    </div>
  </div>
</div>
