<div class="body_welcome">
  <div class="leads_index_no_leads_available">
    Welcome to RefugeesWork.
    <br>
    <br>
    Work is the best pathway to connect newcomers with locals. We grow through the things we make. Post what you need help with or post what you can do to help and let newcomers or locals find you.
    <br>
    <br>
    <i class="fa fa-heart-o"> Volunteering</i>
    &nbsp &nbsp <i class="fa fa-key"> Freelancing</i>
    &nbsp &nbsp <i class="fa fa-cubes"> Organizing</i>
    &nbsp &nbsp <i class="fa fa-users"> Co-founding</i>
    &nbsp &nbsp <i class="fa fa-pencil"> Research</i>
    &nbsp &nbsp <i class="fa fa-book"> Learning</i>
    &nbsp &nbsp <i class="fa fa-lightbulb-o"> Entrepreneur in residence</i>
    &nbsp &nbsp <i class="fa fa-comments-o"> Collaboration</i>
    <br>
    <br>
    <div class="leads_index_no_leads_available_button_first">
      <%= link_to "I NEED", new_lead_path %>
    </div>
    <div class="leads_index_no_leads_available_button_second">
      <%= link_to "I CAN HELP WITH", new_lead_path %>
    </div>
  </div>
</div>
