<div class="body_welcome">
  <div class="leads_index_no_leads_available">
    Welcome to REFUGEES WORK
    <br>
    <br>
    We help newcomers and locals to work together. Local organisations can help newcomers start their business, offer them volunteering opportunities or hire them as freelancers. <%= link_to "Read more...", info_path %>
    <br>
    <br>
    <br>
    <div class="leads_index_no_leads_available_button_third">
      <%= link_to "BROWSE THE OFFERS", leads_path %>
    </div>
    <br>
    <br>
    <br>
    <i class="fa fa-key"> Freelancing</i>
    &nbsp &nbsp <i class="fa fa-cubes"> Starting a business</i>
    &nbsp &nbsp <i class="fa fa-pencil"> B2B</i>
    &nbsp &nbsp <i class="fa fa-users"> Co-founding</i>
    &nbsp &nbsp <i class="fa fa-comments-o"> Collaboration</i>
    &nbsp &nbsp <i class="fa fa-heart-o"> Volunteering</i>
    &nbsp &nbsp <i class="fa fa-book"> Learning</i>
    <br>
    <br>
    <br>
  </div>
</div>
