<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Uspešno ste potrdili Dogovor o afiliaciji.</h1>
    <p>
      Veseli nas, da ste se odločili za sodelovanje z nami. Dali bomo vse od sebe, da boste z našim sodelovanjem zelo zadovoljni.
    </p>
    <p>
      Servise za vaše stranke lahko naročite na <%= link_to "preko tega formularja", leads_new_url %>. V naročilnico obvezno zabeležite tudi vašo afiliacijsko kodo, ki jo ustvarite <%= link_to "na tej povezavi", profile_url %>.
      Za prejeta naročila bomo v naši mreži poiskali lokalnega serviserja, ki se bo ob dogovorjenem terminu oglasil pri stranki in spravil njen računalnik v red.
    </p>
      Za dodatna vprašanja sem vam na voljo.
    </p>
    Lep dan,
      <br>
    <p>Nina Breznik, <br>
      Moj Sosed <br>
      <%= root_url %><br>
      <%= mail_to "nina.breznik@sosed.si", "e: nina.breznik@sosed.si" %>
    </p>
  </body>
</html>