<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, </h1>

    <p>
      we just received a new invitation.
    </p>

    <p>
      To see the details, please <%= link_to "click here", leads_url %>.
      <br><br>Have a nice day & good luck!
    </p>

    <p>Yours,<br>
    <%= link_to "RefugeesWork community", root_url %>
    </p>

  </body>
</html>
