<!-- <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Successfully created campaign! </h1>
    <p>
      You have successfully signed up to our app with <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
      <br>
    <p>Nina</p>
  </body>
</html> -->