Hello,

We just received a new post.

To see details about new work opportunity, please <%= link_to 'click here', leads_url %>.
If you have any questions, please visit our <a href='https://gitter.im/refugeeswork/chat'>chat support.</a>

Have a nice day and good luck!

Yours,
<%= link_to 'RefugeesWork', root_url %>

<a href='http://refugeeswork.com/en/users/edit'>Click to unsubscribe</a>
