<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Pozdravljeni, </h1>
    <p>  
      sporočam vam, da na LeadShareApp najdete promocijski material, ki ga lahko natisnete in distribuirate. 
    </p>
    <p>
      Na voljo sta <%= link_to "ČB in barvna varianta.", promo_url %> 
    </p>
    <p> 
      Plus še ena novost - na obvestila lahko dodate svojo afiliacijsko kodo in potem za vsa naročila, ki pridejo preko vas še dodatno zaslužite. Preberite <%= link_to "več o afiliaciji.", price_list_url %> 
    </p>
    <p>
      Če še niste potrdili Dogovora o sodelovanju, pa vas prosim, da to čimprej storite, saj lahko samo tako prevzemate naročila na servise. <%= link_to "Dogovor o sodelovanju", terms_of_use_url %> 
    </p><br><br>
    <p>
      Veseli nas, da ste se pridružili in se veselimo novega poglavja, ki izhaja iz sodelovanja z vami.Prosim, čimprej mi javite, če je karkoli nerazumljivo, da lahko popravimo. Seveda smo v alfa fazi, tako da je za pričakovati tu in tam kakšne težave.
    <p>
      <%= link_to "Nazaj na aplikacijo", root_path %>.
    </p>
    <p>Lep dan še naprej!</p>
      <br>
    <p>Soseda Nina</p>
    <p>Sosed LeadShareApp</p>
  </body>
</html>