<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dobrodošli na LeadShareApp, </h1>
    <p>
      Uspešno ste se registrirali z uporabniškim imenom: <%= @user.email %>.<br>
    </p>
    <p>
      Prosimo vas, da si pogledate in potrdite še <%= link_to "Dogovor o sodelovanju", terms_of_use_url %>.
    </p>
    <p>
      Hvala, da ste se nam pridružili, v kratkem vas ponovno kontaktiramo. Za kakršnakoli vprašanja sem vam vedno na voljo! 
      <br><br>Lep dan še naprej.
    </p>
      <br>
    <p>Nina Breznik, <br>
      <%= root_url %><br>
      <%= mail_to "nina.breznik@sosed.si", "e: nina.breznik@sosed.si" %>
    </p>
  </body>
</html>