<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to RefugeesWork, </h1>
    <p>
      We are very happy you joined our community.<br>
    </p>
    <p>
      You have succesfully registered with username: <%= @user.email %>.
    </p>
    <p>
      <%= link_to "Here", leads_path %> you can find all jobs posted. You will also receive en email notification for every new job offer we receive.
      <br><br>Have a nice day & good luck!
    </p>
      <br>
    <p>Yours,<br>
    <%= link_to "RefugeesWork community", root_url %>
    </p>
  </body>
</html>
