<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to RefugeesWork, </h1>
    <p>
      We are very happy you joined our community.<br>
    </p>
    <p>
      You have succesfully registered with username: <%= @user.email %>.
    </p>
    <%- if @pass %>
      <p>
        Your temporary password is: <%= @pass %>
      </p>
      <p>
        We suggest you to change it with your next login!
      </p>
    <%- end %>
    <p>
      <%= link_to "Here", leads_url %> you can find all posts. You will also receive en email notification for every new post we receive.
      <br><br>Have a nice day & keep up good work!
    </p>
      <br>
    <p>Yours,<br>
    <%= link_to "RefugeesWork community", root_url %>
    </p>
  </body>
</html>
