@import '../node_modules/jeet/stylus/jeet'
@import '../node_modules/axis/axis'

// edit()

// :::::::::::: BOX SIZING :::::::::::::: //

html 
  box-sizing border-box

*, *:before, *:after 
  box-sizing inherit

// :::::::::::: COLORS :::::::::::::: //

// ::: LEAD ::: //
Lead-Orange = #FFAE4D
Lead-Orange-light = #FFAE4D
Lead-Subtitle = #F0F0F0

// ::: ORDER ::: //
Order-Orange = #FFAE4D  
Order-Orange-light = #FFAE4D
Order-Subtitle = #FFEED9


// ::: MENU ::: //
Menu-Bottom-Color = white
Menu-Bottom-Button-Color = #666
Menu-Bottom-Button-Hover-Color = #FFAE4D 
Menu-Top-Color = white

// ::: BODY ::: //
Background-Color = #EEEEEE
Buy-Button-Color = #FFAE4D 

// ::: BODY ::: //
Offer-Font-Color = #606060

// ::: FONT ::: //
App-Font-Family = 'Helvetica','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif


// :::::::::::: MIXINS :::::::::::::: //

body-mixin(backgroundImage = url("./subtle_zebra_3d.png")) 
  top_menu_bar()
  background-image  backgroundImage  
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: fixed
  margin 0px
  font-size 12px
  color #606060
  font-family App-Font-Family
  a  
    text-decoration none
    color #606060
    font-family App-Font-Family

blur-mixin(intensity = 1.6px)
  -webkit-filter blur(intensity) 
  -moz-filter blur(intensity) 
  -o-filter blur(intensity) 
  // -ms-filter blur(intensity) 
  filter blur(intensity)

// :::::::::::: APPLICATION.html.erb => menu buttons & login :::::::::::: //

.top_menu_bar
  position fixed
  top 0
  z-index 999
  width 100%
  background-color Menu-Top-Color
  blur-mixin(intensity = 0.7px)
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(255, 255, 255, 0.8);
  border-bottom 1px solid #ccc
  padding-top 3px
  .logged_user, 
  .not_logged_user
    padding-bottom 2px
    font-size 13px
    -webkit-font-smoothing: antialiased
    font-weight bold
    display inline-block
    &:hover
      opacity 0.7
  .logo
    shift(0.4)
    height 37px
    display inline-block
  .info
    padding-bottom 2px
    shift(0.58)
    font-size 21px
    display inline-block
    .fa.fa-info-circle
      color #606060
      &:hover
        color Lead-Orange 

  
.bottom_menu_bar
  padding-left 110px
  background-color Menu-Bottom-Color
  position fixed
  bottom 0
  z-index 999
  width 100%
  border-top 1px solid #ccc
  font-size 20px
  -webkit-font-smoothing: antialiased
  font-weight bold
  a[href="/"]
    color Menu-Bottom-Button-Color
    font-size 14px
    background-color white
    span(1/4)
    text-align center
    width 230px
    border-right 1px solid #e7e7e7
    padding 7px
    &:hover
      color Menu-Bottom-Button-Hover-Color
  .fa.fa-home
    font-size 22px
  a[href="/reserved"]
    color Menu-Bottom-Button-Color
    background-color white
    span(1/4)
    text-align center
    width 230px
    border-right 1px solid #e7e7e7
    padding 7px
    font-size 14px
    &:hover
      color Menu-Bottom-Button-Hover-Color
  .fa.fa-star
    font-size 22px
  a[href="/address_book"]
    color Menu-Bottom-Button-Color
    background-color white
    span(1/4)
    text-align center
    width 230px
    border-right 1px solid #e7e7e7
    padding 7px
    font-size 14px
    &:hover
      color Menu-Bottom-Button-Hover-Color
  .fa.fa-users
    font-size 19px
  a[href="/profile"]
    color Menu-Bottom-Button-Color
    background-color white
    span(1/4)
    text-align center
    width 230px
    border-right 1px solid #e7e7e7
    padding 7px
    font-size 14px
    &:hover
      color Menu-Bottom-Button-Hover-Color
  .fa.fa-cog
    font-size 19px
a[href="#top"]
  opacity 0.2
  position fixed
  bottom 50px
  right 30px
  font-size 68px
  fa.fa-arrow-circle-up
  &:hover
    opacity 0.8
    color Lead-Orange
// :::::::::::: LEADS/INDEX => homepage :::::::::::: //
.body_leads_index
  body-mixin(backgroundImage: url(/images/interior6.png))
  .columns
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
  .lead_box
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;
    .lead_title
      color #606060
      opacity 0.85
      background-color Lead-Orange
      padding 15px
      font-weight bold
      font-size 14px
      // transition: all .25s ease-in-sine
      .fa.fa-star
        color #fcd229
        font-size 16px
        &:hover
          color #606060
    .lead_body
      font-size 14px
      padding 15px
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
      color #606060
      line-height 150%
      .lead_subtitle
        font-weight bold
        -webkit-font-smoothing: antialiased
        padding-top 7px

// :::::::::::: LEADS/show => individual lead :::::::::::: //

.body_leads_show
  body-mixin(backgroundImage: url(/images/interior2.png))
  .back_to_main_page_button
    width 100%
    height 100%
    position absolute
    top 0 
    left 0
  .lead_show
    opacity 0.9
    position relative
    margin 60px auto  80px 0px
    padding-bottom 40px
    width 70%
    max-width 1100px
    min-width 800px
    shift(0.079)
    vertical-align bottom
    -webkit-column-break-inside: avoid
    -moz-column-break-inside: avoid
    column-break-inside: avoid
    background-color white
    // background-clip padding-box
    line-break 1px  
    .lead_show_title
      background-color Lead-Orange
      padding 20px
      font-weight bold
      text-align center
      -webkit-font-smoothing: antialiased
      font-size 40px
    .lead_show_body
      font-size 22px
      padding-top 30px
      padding-left 25px
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
      color #606060
      line-height 150%
      .lead_show_items_long
        width 60%
        padding-left 80px
        padding-right 10px
        // padding-left 5px
      .lead_show_items_short,
      .lead_show_items_long
        display inline-block
        vertical-align top
        .lead_show_item
          -webkit-font-smoothing: antialiased
          margin-top 20px
          margin-right 15px
          .lead_show_subtitle
            font-weight bold
            display inline-block
    .lead_show_buy input,   
    .lead_show_buy a 
      margin 30px 0 20px 330px
      button(color = Lead-Orange)
      font-size 22px


// :::::::::::: ORDERS/show => buy lead :::::::::::: //
.body_orders_show
  body-mixin(backgroundImage: url(/images/interior3.png))
  .back_to_main_page_button
    width 100%
    height 100%
    position absolute
    top 0 
    left 0
  .order_show
    opacity 0.9
    position relative
    padding-bottom 80px 
    margin 60px auto 60px 0px
    width 70%
    max-width 1100px
    min-width 800px
    shift(0.079)
    vertical-align bottom
    -webkit-column-break-inside: avoid
    -moz-column-break-inside: avoid
    column-break-inside: avoid
    background-color white
    line-break 1px  
    .order_show_title
      background-color Lead-Orange
      padding 20px
      font-weight bold
      text-align center
      -webkit-font-smoothing: antialiased
      font-size 40px
    .lead_show_body
      font-size 22px
      padding-top 30px
      padding-left 25px
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
      color #606060
      line-height 150%
      .lead_show_items_long
        width 60%
        padding-left 80px
        padding-right 10px
      .lead_show_items_short_additional
        background-color Lead-Orange
        blur-mixin(intensity = 0.7px)
      .lead_show_items_short,
      .lead_show_items_long,
      .lead_show_items_short_additional
        margin-top 10px
        display inline-block
        vertical-align top
        .lead_show_item
          -webkit-font-smoothing: antialiased
          margin-top 20px
          margin-right 15px
          :last-child
            margin-bottom 20px
          .lead_show_subtitle
            font-weight bold
            display inline-block
    .payment_buttons_choose_payment_text
      text-align center
      padding 7px
    .order_show_buy_buttons
      padding 7px
      margin-left 220px
      .order_show_buy   
        display inline-block
      .order_show_buy input,   
      .order_show_buy a 
        // margin-left 1px
        button(color = Lead-Orange)
        font-size 22px
  .order_show_notes
    margin-top 5px
    margin-bottom 50px
    font-size 20px
    // shift(0.08)
    .order_show_notes_title
      padding 7px
      margin-top 40px
      margin-bottom 4px
      color #606060
      font-weight bold
      width 150px
    #order_notes
      position relative
      blur-mixin(intensity = 0.7px)
      background: rgb(0, 0, 0); /* fallback color */
      background-color white
      opacity 0.95
      -webkit-column-break-inside: avoid
      -moz-column-break-inside: avoid
      column-break-inside: avoid
      text-decoration none
      color #606060    
      padding 20px
      font-size 16px
      -webkit-font-smoothing: antialiased
      height 300px
      width 71%
      max-width 1100px
      min-width 800px
      margin-bottom 7px
      margin-top 7px
      line-break 1px 
      border 2px solid #eeeeee
      &:hover
        background-color #F0F0F0
    .order_show_notes_submit input
    .order_show_notes_submit a
      margin-left 717px
      margin-top 10px
      button(color = Lead-Orange)

      

  // :::::::::::: BANK TRANSACTION => offer for the lead :::::::::::: //

.body_bank_transaction
  body-mixin(backgroundImage: url(/images/interior2.png))
  background-repeat no-repeat
  background-position center top
  background-size cover
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  .offer
    opacity 0.95
    width 63%
    margin 80px auto
    padding 100px
    padding-top 70px
    background-color white
    .offer_title
      center(420px)
      color Offer-Font-Color
      font-weight bold
      font-size 28px
      margin-bottom 30px
    .offer_company_info 
      shift(0.55)
      color #606060
      text-align left
      border 1px solid #e7e7e7
      box-shadow inset 0 0 0 0 #CCC
      border-radius 4px
      padding 4px 7px 4px 7px
      background-color Lead-Subtitle 
    .offer_date
      color #606060
      font-size 16px
      margin-bottom 20px
      margin-top 10px
      shift(-0.29)
      text-align right
    .offer_sosed_info
      shift(0.075)
      margin-top 20px
      color #606060
      text-align left
      border 1px solid #e7e7e7
      box-shadow inset 0 0 0 0 #CCC
      border-radius 4px
      .offer_sosed_info_price td,
        font-weight bold
        padding 7px 30px 7px 30px
        font-size 16px
        background-color Lead-Subtitle
      .offer_sosed_info_item td
        background-color Lead-Subtitle     
        padding 7px 30px 7px 30px
        font-size 12px
    .offer_show_lead
      margin-top 37px
      padding-bottom 20px
      center(70%)
      shift(-0.07)
      height 30%
      width 70%
      vertical-align bottom
      -webkit-column-break-inside: avoid
      -moz-column-break-inside: avoid
      column-break-inside: avoid
      background-color white
      background-clip padding-box
      border-radius 4px
      box-shadow 0 1px 2px rgba(0, 0, 0, 0.05)
      border 1px solid #ccc
      line-break 1px  
      .offer_show_lead_title
        background-color Lead-Orange
        border-top-left-radius 4px
        border-top-right-radius 4px
        padding 10px
        font-weight bold
        -webkit-font-smoothing: antialiased
        font-size 20px
        border-bottom 1px solid #e7e7e7
      .offer_show_lead_body
        font-size 16px
        padding-top 3px
        padding-left 25px
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        color #606060
        line-height 150%
        .offer_show_lead_subtitle
          font-weight bold
          -webkit-font-smoothing: antialiased
          margin-top 20px
          margin-right 15px
        .ordersindex-notifications.customer-info
          color red
    .offer_instructions
      width 70%
      margin-top 20px
      font-size 12px
      font-weight bold
      shift(0.08)

  // :::::::::::: ORDERS/RESERVED => Reserved Leads :::::::::::: //
.body_orders_reserved
  body-mixin(backgroundImage: url(/images/interior6.png))
  .address_book_reserved_leads
    opacity 0.9
    shift(0.37)
    margin-top 60px
    font-size 20px
    font-weight bold
  .address_book_columns
    shift (-1/15)
    // margin-top 60px
    shift (1/25)
    .address_book_lead_box
      column(0.28, offset: 0, gutter: 5.5)
      vertical-align bottom
      -webkit-column-break-inside: avoid
      -moz-column-break-inside: avoid
      column-break-inside: avoid
      background-color white
      background-clip padding-box
      margin-bottom 45px
      line-break 1px
      blur-mixin(intensity = 0.7px)
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(255, 255, 255, 0.95);
      .address_book_lead_title
        opacity 0.85
        background-color Lead-Orange
        padding 15px
        font-weight bold
        -webkit-font-smoothing: antialiased
        font-size 14px
        border-bottom 1px solid #e7e7e7
      .address_book_lead_body
        font-size 14px
        padding 15px
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        color #606060
        line-height 150%
        .address_book_lead_subtitle
          font-weight bold
          -webkit-font-smoothing: antialiased
          padding-top 7px
      .address_book_lead_notification
        font-size 14px
        padding 10px
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        color #606060
        line-height 150%
        font-weight bold
        padding-top 7px
        .address_book_lead_notification_explanation
          font-weight normal
      .address_book_buttons
        margin-top 20px
        .address_book_buy_button
          margin-left 80px
          button(color = Lead-Orange)
        .address_book_remove_button input
        .address_book_remove_button a 
          margin 5px 0px 5px 50px
          color #606060
          button(color = #eeeeee)
.body_dummy_orders_reserved
  position relative
  opacity 0.5
  blur-mixin()
.reserved_link_to_signup
  position: absolute
  margin-top 30px
  margin-left 103px
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  position fixed
  blur-mixin(intensity = 0px)
  padding: 10px;
  top: 200px;  
  width: 100%; 
  width 70%
  font-size 28px
  font-weight bold
  -webkit-font-smoothing: antialiased
  max-width 800px
  min-width 400px
  color: white; 
  letter-spacing: -1px
  line-height 150%   
  .address_book_signup,
  .address_book_signin
    color Lead-Orange
   


    // :::::::::::: ORDERS/ADDRESS_BOOK => Bought Leads :::::::::::: //
.body_orders_address_book
  body-mixin(backgroundImage: url(/images/interior2.png))
  .address_book_columns
    margin-top 60px
    shift (1/25)
    .address_book_lead_box
      column(0.28, offset: 0, gutter: 5.5)
      // margin-top 60px
      vertical-align bottom
      -webkit-column-break-inside: avoid
      -moz-column-break-inside: avoid
      column-break-inside: avoid
      background-color white
      background-clip padding-box
      margin-bottom 45px
      line-break 1px
      blur-mixin(intensity = 0.7px)
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(255, 255, 255, 0.95);
      .address_book_lead_title
        opacity 0.85
        background-color #82c0c7
        padding 15px
        font-weight bold
        -webkit-font-smoothing: antialiased
        font-size 14px
        border-bottom 1px solid #e7e7e7
      .address_book_lead_body
        font-size 14px
        padding 15px
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        color #606060
        line-height 150%
        .address_book_lead_subtitle
          font-weight bold
          -webkit-font-smoothing: antialiased
          padding-top 7px
      .address_book_lead_notes
        padding 5px
        #order_notes
          background-color white
          opacity 0.5
          position relative
          text-decoration none
          color #606060
          // font-weight bold       
          padding 7px
          font-size 12px 
          height 150px
          width 293px
          vertical-align bottom
          -webkit-column-break-inside: avoid
          -moz-column-break-inside: avoid
          column-break-inside: avoid
          margin 7px 0px 7px 0px
          line-break 1px 
          border 2px solid #82c0c7 
          hover-darken(percent = 5%)
        .address_book_lead_notes_button input
        .address_book_lead_notes_button a
          shift(0.66)
          margin-bottom 7px
          margin-top 3px
          button(color = #82c0c7)
      .address_book_link_to-signup
        font-size 12px
  .address_book_bought_leads
    font-size 20px
    font-weight bold
    width 70%
    max-width 1100px
    min-width 800px
    margin-top 100px
    margin-left 450px
.body_dummy_orders_address_book
  opacity 0.5
  blur-mixin()
.address_book_link_to_signup
  position: absolute
  margin-top 30px
  margin-left 103px
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  position fixed
  blur-mixin(intensity = 0px)
  padding: 10px;
  top: 200px;  
  font-size 28px
  font-weight bold
  -webkit-font-smoothing: antialiased
  max-width 1000px
  min-width 400px
  color: white; 
  letter-spacing: -1px;  
  line-height 150%
  .address_book_signup,
  .address_book_signin
    color Lead-Orange

  // :::::::::::: NEW_LEAD_CONFIRMATION.html.erb => landing page after submitting new lead :::::::::::: //
.body_new_lead_confirmation
  body-mixin()
  .new_lead_confirmation
    margin-top 200px
    padding 20px
    center(420px)
    .new_lead_confirmation_thank_you
      font-weight bold
      font-size 20px
      padding-top 20px
    .new_lead_confirmation_text
      font-size 16px
      padding-top 40px
    .new_lead_confirmation_signature
      font-size 14px
      padding-top 20px

  // :::::::::::: PROFILE :::::::::::: //
.body_profile
  body-mixin(backgroundImage: url(/images/interior6.png))
  .profile_dashboard_columns
    margin-top 60px
    shift (1/25)
    .profile_dashboard_box
      column(0.28, offset: 0, gutter: 5.5)
      // margin-top 60px
      vertical-align bottom
      -webkit-column-break-inside: avoid
      -moz-column-break-inside: avoid
      column-break-inside: avoid
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(255, 255, 255, 0.9);
      blur-mixin(intensity = 0.7px)
      margin-bottom 45px
      line-break 1px
      .profile_dashboard_title
        color #606060
        font-weight bold
        text-align center
        background-color #82c0c7
        opacity 0.9
        padding 15px
        font-weight bold
        -webkit-font-smoothing: antialiased
        font-size 12px
        hover-darken(percent = 15%)
      .profile_dashboard_body
        color #606060
        padding 30px 30px 20px 30px
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        text-align center
        .profile_dashboard_body_username
          font-size 14px
          padding-bottom 20px
          font-weight bold
        .profile_dashboard_body_logout,
        .profile_dashboard_body_edit
          margin-top 30px
          button(color = #82c0c7)
        .profile_dashboard_body_wallet_amount
          font-size 57px
          padding 24px
        .profile_dashboard_body_wallet_buttons
          display inline-block
          margin-top 30px
          .profile_dashboard_body_wallet_button
            button(color = #82c0c7)
        .profile_dashboard_body_bought_leads_amount
          font-size 100px
          padding 24px
        .profile_dashboard_title_login_or_signup
          font-size 14px
          font-weight bold
          .profile_dashboard_body_signup
            color white
            padding-bottom 7px
            font-size 14px
            &:hover
              text-decoration underline
          .profile_dashboard_body_login
            font-size 14px
            &:hover
              text-decoration underline
              transition: all .25s ease-in-sine          
        .profile_dashboard_body_bought_leads_last
          font-size 24px
          font-weight bold
          padding 24px

  // :::::::::::: ABOUT :::::::::::: //
// .body_about
//   body-mixin()     

//see assets/stylesheets/about_singlepage/
  

  // :::::::::::: DEVISE/LOGIN (sessions/new)  :::::::::::: //
.body_devise_login
.body_devise_login
  body-mixin(backgroundImage: url(/images/interior2.png))
  background-repeat no-repeat
  background-position center top
  background-size cover
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover  
  .login
    margin-top 60px
    margin-left 20px  
    .login_title
      font-size 28px
      font-weight bold
      margin-bottom 20px
    .login_form_email,
    .login_form_password
      font-size 12px
      margin-bottom 14px
      #user_email,
      #user_password
        padding 4px
        border-radius 4px
        margin-top 4px
        height 30px
        width 200px
        border 1px solid #E8E8E8  
    .login_form_remember_me
      font-size 12px  
    .login_form_submit input
    .login_form_submit a 
      position relative
      padding 4px
      padding-left 20px
      padding-right 20px
      margin-top 10px
      margin-bottom 10px  
      button(color = Lead-Orange)
    .login_shared_links
      font-size 12px
      &:hover
        text-decoration underline
        transition: all .25s ease-in-sine

  // :::::::::::: DEVISE/SIGNUP (registrations/new) :::::::::::: //
.body_devise_signup
  body-mixin(backgroundImage: url(/images/interior6.png))
  background-repeat no-repeat
  background-position center top
  background-size cover
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover  
  .signup
    margin-top 60px
    margin-left 100px

    .signup_title
      font-size 28px
      font-weight bold
      margin-bottom 20px
    .signup_form_email,
    .signup_form_password,
    .signup_form_password_confirmation
      font-size 12px
      margin-bottom 14px
      #user_email,
      #user_password,
      #user_password_confirmation
        padding 4px
        border-radius 4px
        margin-top 4px
        height 30px
        width 200px
        border 1px solid #E8E8E8  
    .signup_form_submit input
    .signup_form_submit a 
      position relative
      padding 4px
      padding-left 20px
      padding-right 20px
      margin-top 10px
      margin-bottom 10px  
      button(color = Lead-Orange)
    .signup_shared_links
      font-size 12px
      &:hover
        text-decoration underline
        transition: all .25s ease-in-sine
      

  // :::::::::::: DEVISE/PASSWORD/NEW (passwords/new) :::::::::::: //

.body_devise_password_new
  body-mixin()
  .password_new
    margin-top 60px
    margin-left 100px  
    .password_new_title
      font-size 28px
      font-weight bold
      margin-bottom 20px
    .password_new_form_email
      font-size 12px
      margin-bottom 14px
      #user_email
        padding 4px
        border-radius 4px
        margin-top 4px
        height 20px
        width 300px
        border 1px solid #E8E8E8  
    .password_new_form_submit input
    .password_new_form_submit a 
      margin-top 10px
      margin-bottom 10px  
      button(color = Lead-Orange)
    .password_new_shared_links
      font-size 12px
      &:hover
        text-decoration underline
        transition: all .25s ease-in-sine    
  // :::::::::::: DEVISE/USERS/EDIT (registrations/new) :::::::::::: //
.body_devise_users_edit
  body-mixin()
  .user_edit
    margin-top 60px
    margin-left 100px  
    .user_edit_title
      font-size 28px
      font-weight bold
      margin-bottom 20px
    .user_edit_form_email,
    .user_edit_form_password,
    .user_edit_form_password_confirmation,
    .user_edit_form_current_password
      font-size 12px
      margin-bottom 14px
      #user_email,
      #user_password,
      #user_password_confirmation,
      #user_current_password
        padding 4px
        border-radius 4px
        margin-top 4px
        height 30px
        width 200px
        border 1px solid #E8E8E8  
    .user_edit_form_submit input
    .user_edit_form_submit a 
      margin-top 10px
      margin-bottom 10px  
      button(color = Lead-Orange)
    .user_edit_cancel_acount,
    .user_edit_unhappy,
    .user_edit_back
      font-size 12px
      &:hover
        text-decoration underline
        transition: all .25s ease-in-sine
    .user_edit_button_cancel_account input
    .user_edit_button_cancel_account a
      margin-top 10px
      margin-bottom 10px  
      button(color = Lead-Orange)

 // :::::::::::: LEADS/NEW (new lead - for end customers (B2C))  :::::::::::: //
.body_leads_new
  body-mixin(backgroundImage: url(/images/interior1.png))
  background-repeat no-repeat
  background-position center top
  background-size cover
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  .lead_new
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    span(1.3/4)
    shift(0.45)
    padding-bottom 14px
    margin-top 50px
    margin-bottom 100px
    margin-left 100px  
    .lead_new_title
      -webkit-font-smoothing: antialiased
      color white
      padding-top 20px
      padding-left 20px
      padding-right 20px
      font-size 28px
      font-weight bold
      margin-bottom 20px
    .lead_new_instructions
      -webkit-font-smoothing: antialiased
      padding-left 20px
      padding-right 20px
      color white
      font-size 20px
      font-weight bold
      margin-bottom 40px
    .lead_new_form_business_type,
    .lead_new_form_time,
    .lead_new_form_zip,
    .lead_new_form_description,
    .lead_new_form_name,
    .lead_new_form_email,
    .lead_new_form_phone
      color white
      padding-left 20px
      padding-right 20px
      font-size 12px
      margin-bottom 14px
      #lead_business_type,
      #lead_time
        color #606060
        font-weight bold
        font-size 12px
        padding 4px
        border-radius 4px
        margin-top 4px
        height 30px
        width 310 px
        border 1px solid #E8E8E8 
      #lead_name,
      #lead_email,
      #lead_phone
        center()
        padding 4px
        border-radius 4px
        margin-top 2px
        margin-left 0px
        font-size 12px
        height 30px
        width 310px
        border 1px solid #E8E8E8
      #lead_zip
        color #606060
        font-weight bold
        center()
        padding 4px
        border-radius 4px
        margin-top 2px
        margin-left 0px
        font-size 12px
        height 30px
        width 310px
        border 1px solid #E8E8E8  
      #lead_description
        color #606060
        font-weight bold
        center()
        padding 4px
        border-radius 4px
        margin-top 2px
        margin-left 0px
        font-size 12px
        height 70px
        width 310px
        border 1px solid #E8E8E8  
    .lead_new_form_remember_me
      font-size 10px  
    .lead_new_form_submit input
    .lead_new_form_submit a 
      margin-left 254px
      button(color = #f26421)
      color black
    .lead_new_shared_links
      font-size 12px
      &:hover
        text-decoration underline
        transition: all .25s ease-in-sine

// :::::::::::: WALLET_PAYMENT => adding money to the wallet :::::::::::: //
// :::::::::::: same styling also for ORDERS/WALLET_PAYMENT_FOR LEADS:::::::::::: //

.body_wallet_payment
  body-mixin(backgroundImage: url(/images/interior2.png))
  background-repeat no-repeat
  background-position center top
  background-size cover
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  .wallet_payment_offer
    opacity 0.95
    width 63%
    margin 80px auto
    padding 100px
    padding-top 70px
    background-color white
    // box-shadow 0px 0px 20px white
    .wallet_payment_offer_title
      center(420px)
      color #606060
      font-weight bold
      font-size 28px
      margin-bottom 50px
    .wallet_payment_offer_promotion
      width 70%
      color #606060
      font-size 16px
      margin 0px 0px 50px 90px
    .wallet_payment_offer_company_info 
      shift(0.53)
      color black
      text-align left
      padding 4px 7px 4px 7px
      background-color Lead-Orange 
    .wallet_payment_offer_date
      color black
      font-size 16px
      margin-bottom 50px
      margin-top 10px
      shift(-0.21)
      text-align right
    .wallet_payment_offer_sosed_info
      shift(0.075)
      margin-top 20px
      margin-bottom 10px
      color black
      text-align left
      // bellow copy from bank transaction //
      .wallet_payment_offer_sosed_info_price td
        font-weight bold
        padding 15px 30px 15px 30px
        font-size 16px
        background-color Lead-Orange
        color white
      .wallet_payment_offer_sosed_info_item td
        font-weight bold
        background-color #eeeeee   
        padding 15px 30px 15px 30px
        font-size 12px
    .wallet_payment_offer_instructions
      // width 70%
      margin-top 20px
      font-size 12px
      font-weight bold
      shift(0.08)
    

          

      



    

          

      


