@import '../node_modules/jeet/stylus/jeet'
@import '../node_modules/axis/axis'

// edit()

// :::::::::::: BOX SIZING :::::::::::::: //

html
  box-sizing border-box

*, *:before, *:after
  box-sizing inherit

// :::::::::::: COLORS :::::::::::::: //

// ::: LEAD ::: //
Lead-Orange = #fac30e
Lead-Blue = #04a498
Lead-Orange-light = #fac30e
Lead-Subtitle = #F0F0F0

// ::: ORDER ::: //
Order-Orange = #FFAE4D
Order-Orange-light = #FFAE4D
Order-Subtitle = #FFEED9


// ::: MENU ::: //
Menu-Bottom-Color = #eee
Menu-Bottom-Button-Color = black
Menu-Bottom-Button-Hover-Color = #fac30e
Menu-Top-Color = #eee
Menu-Top-Button-Color = black
Menu-Top-Button-Hover-Color = #FFAE4D

// ::: BODY ::: //
Background-Color = #EEEEEE
Buy-Button-Color = #FFAE4D

// ::: BODY ::: //
Offer-Font-Color = black

// ::: FONT ::: //
App-Font-Family = 'Helvetica','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック', sans-serif


// :::::::::::: MIXINS :::::::::::::: //

body-mixin(backgroundImage = url(/images/cream_pixels.png))
  top_menu_bar()
  background-image  backgroundImage
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: fixed
  margin 0px
  font-size 12px
  color Offer-Font-Color
  font-family App-Font-Family
  a
    text-decoration none
    color Offer-Font-Color
    font-family App-Font-Family

mobile-body-mixin(backgroundImage = url(/images/cream_pixels.png))
  top_menu_bar()
  background-image  backgroundImage
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: fixed
  margin 0px
  font-size 8px
  color Offer-Font-Color
  font-family App-Font-Family
  a
    text-decoration none
    color Offer-Font-Color
    font-family App-Font-Family

blur-mixin(intensity = 1.6px)
  -webkit-filter blur(intensity)
  -moz-filter blur(intensity)
  -o-filter blur(intensity)
  // -ms-filter blur(intensity)
  filter blur(intensity)

// ::::::::::::::::::::::::::::::::::::::::::::::::::::::
//                 LEAD LISTING MIXINS
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::

column-mixin(defaultTop = 29px)
  position: relative;
  margin-top: defaultTop
  padding-top 40px
  padding-bottom 1050px
  // height 100%

wookmarkMixin(defautPadding = 0px)
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  padding: defautPadding

leadBoxMixin(defaultMarginLeft = 42px)
  margin-left defaultMarginLeft
  width 303px
  padding: 15px;
  display none
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);


mobileLeadBoxMixin(defaultMarginLeft = 40px)
  margin-left defaultMarginLeft
  padding: 5px;
  display none
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);


bottomButtonMixin(defaultFontSize = 12px)
  padding 8px
  text-decoration none
  color Menu-Bottom-Button-Color
  background-color white
  span(1/4)
  text-align center
  border-right 1px solid #e7e7e7
  font-size defaultFontSize
  -webkit-font-smoothing: antialiased
  &:hover
    background-color Menu-Bottom-Button-Hover-Color
    text-decoration none
  a
    text-decoration none
    color Menu-Bottom-Button-Color


@import "app_below_1300px"
@import "app_below_804px"
@import "app_below_706px"
@import "app_below_550px"
@import "app_below_350px"
