+below(5000px)
  /* :::::::::::: APPLICATION.html.erb => menu buttons & login :::::::::::: */
  .zopim
    bottom 38px !important
  body
    margin 0px
    padding 0px
    .top_menu_bar
      position fixed
      top 0
      z-index 999
      width 100%
      background-color Menu-Top-Color
      blur-mixin(intensity =  0px)
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(255, 255, 255, 0.8);
      border-bottom 1px solid #ccc
      padding-top 3px
      font-family App-Font-Family
      .logged_user,
      .not_logged_user
        padding-bottom 2px
        font-size 13px
        -webkit-font-smoothing: antialiased
        font-weight bold
        display inline-block
        a
          text-decoration none
          color Menu-Top-Button-Color
          &:hover
            color Lead-Orange
      .logo
        shift(0.44)
        top 4px
        height 37px
        display inline-block
        &:hover
          opacity 0.7
      .info
        padding-bottom 2px
        shift(0.63)
        font-size 21px
        display inline-block
        .fa.fa-weixin
          color Offer-Font-Color
          text-decoration none
          &:hover
            color Lead-Orange
    .bottom_menu_bar
      background-color Menu-Bottom-Color
      position fixed
      bottom 0px
      z-index 999
      width 100%
      font-weight bold
      font-family App-Font-Family
      letter-spacing 1.4px
      .button_home
        bottomButtonMixin()
      .fa.fa-home
        font-size 22px
        padding-right 10px
      .button_reserved
        bottomButtonMixin()
      .fa.fa-star
        font-size 22px
        padding-right 10px
      .button_address_book
        bottomButtonMixin()
      .fa.fa-users
        font-size 22px
        padding-right 10px
      .button_profile
        bottomButtonMixin()
      .fa.fa-cog
        font-size 22px
        padding-right 10px
    a[href="#top"]
      text-decoration none
      opacity 0.2
      position fixed
      bottom 50px
      right 30px
      font-size 68px
      fa.fa-arrow-circle-up
      &:hover
        opacity 0.8
        color Lead-Orange
    /* :::::::::::: LEADS/INDEX => homepage :::::::::::: */
    .body_leads_index
      body-mixin(backgroundImage: url(/images/interior1.jpg))
      margin-top 0px
      padding-bottom 300px
      .columns
        column-mixin()
        .wookmark
          wookmarkMixin()
          .lead_box
            leadBoxMixin()
            .lead_title
              opacity 0.85
              background-color Lead-Orange
              padding 15px
              color Offer-Font-Color
              font-weight bold
              font-size 14px
              .fa.fa-star
                color #fcd229
                font-size 16px
                shift 0.05
                &:hover
                  color Offer-Font-Color
            .lead_body
              font-size 14px
              padding 15px
              -webkit-font-smoothing: antialiased
              -moz-osx-font-smoothing: grayscale
              color Offer-Font-Color
              line-height 150%
              width 280px
              .lead_subtitle
                font-weight bold
                -webkit-font-smoothing: antialiased
                padding-top 7px
      .leads_index_no_leads_available
        position: absolute
        margin-top 30px
        margin-left 210px
        background: rgb(0, 0, 0); /* fallback color */
        background: rgba(0, 0, 0, 0.7);
        position fixed
        blur-mixin(intensity = 0px)
        padding: 50px;
        top: 200px;
        font-size 28px
        font-weight bold
        -webkit-font-smoothing: antialiased
        max-width 1000px
        min-width 400px
        color: white;
        letter-spacing: -1px;
        line-height 150%
      .leads_index_no_leads_available_button_first a
        button(size: large)
        margin-right 10%
        float left
      .leads_index_no_leads_available_button_second a
        button(size: large, color: #fac30e)
    /* :::::::::::: LEADS/show => individual lead :::::::::::: */
    .body_leads_show
      body-mixin(backgroundImage: url(/images/interior2.jpg))
      padding-bottom 600px
      .back_to_main_page_button
        width 100%
        height 100%
        position absolute
        top 0
        left 0
      .lead_show
        shift 0.15
        margin-right 7px
        opacity 0.9
        margin 29px 0px 0px 0px
        padding 30px
        width 70%
        max-width 1290px
        min-width 800px
        -webkit-column-break-inside: avoid
        -moz-column-break-inside: avoid
        column-break-inside: avoid
        background-color white
        line-break 1px
        .lead_show_title
          background-color Lead-Orange
          padding 30px
          font-weight bold
          text-align center
          -webkit-font-smoothing: antialiased
          font-size 40px
        .lead_show_body
          font-size 22px
          padding-left 25px
          padding-top 40px
          -webkit-font-smoothing: antialiased
          -moz-osx-font-smoothing: grayscale
          color Offer-Font-Color
          line-height 150%
          .lead_show_items_long
            width 60%
            padding-left 140px
          .lead_show_items_short,
          .lead_show_items_long
            display inline-block
            vertical-align top
            .lead_show_item
              -webkit-font-smoothing: antialiased
              margin-top 20px
              line-height 150%
              padding-bottom 20px
              .lead_show_subtitle
                font-weight bold
                display inline-block
        .lead_show_buy input,
        .lead_show_buy a
          shift 0.3
          margin 40px 0 40px 0px
          button(color = Lead-Orange)
          background-color Lead-Orange
          font-size 22px
    /* :::::::::::: ORDERS/show => buy lead :::::::::::: */
    .body_orders_show
      body-mixin(backgroundImage: url(/images/interior3.jpg))
      padding-bottom 600px
      .back_to_main_page_button
        width 100%
        height 100%
        position absolute
        top 0
        left 0
      .order_show
        shift 0.15
        opacity 0.9
        margin 15px 15px 0px 0px
        padding 30px
        width 70%
        max-width 1290px
        min-width 600px
        -webkit-column-break-inside: avoid
        -moz-column-break-inside: avoid
        column-break-inside: avoid
        background-color white
        line-break 1px
        .order_show_title
          background-color Lead-Orange
          padding 30px
          font-weight bold
          text-align center
          -webkit-font-smoothing: antialiased
          font-size 40px
        .lead_show_body
          font-size 22px
          padding-left 25px
          padding-top 40px
          -webkit-font-smoothing: antialiased
          -moz-osx-font-smoothing: grayscale
          color Offer-Font-Color
          line-height 150%
          .lead_show_items_short_additional
            padding 5px
            width 100%
            background-color #eee
            blur-mixin(intensity = 0.7px)
          .lead_show_items_short,
          .lead_show_items_long,
          .lead_show_items_short_additional
            display inline-block
            vertical-align top
            .lead_show_item
              -webkit-font-smoothing: antialiased
              margin-top 20px
              line-height 150%
              padding-bottom 20px
              .lead_show_subtitle
                font-weight bold
                display inline-block
        .order_show_buy_popup
          shift 0.28
          font-size 16px
          line-height 150%
          color black
          border-radius 4px
          background-color #eee
          padding 15px
          width 40%
          text-align center
          .order_show_buy_popup_item
            padding 5px
            padding-top 15px
            padding-bottom 15px
            button(color = Lead-Blue)
            font-size 14px
            margin-bottom 10px
            margin-top 10px
            text-align center
            width 70%
            line-height 150%
        .payment_buttons_choose_payment_text
          text-align center
          padding 50px 10px 30px 0px
        .order_show_buy_buttons
          padding 7px
          padding-bottom 40px
          shift 0.37
          .order_show_buy
            display inline-block
          .order_show_buy input,
          .order_show_buy a
            // margin-left 1px
            button(color: Lead-Orange)
            font-size 22px
      .order_show_notes
        margin-top 5px
        margin-bottom 50px
        font-size 20px
        // shift(0.08)
        .order_show_notes_title
          padding 7px
          margin-top 40px
          margin-bottom 4px
          color Offer-Font-Color
          font-weight bold
          width 150px
        #order_notes
          position relative
          blur-mixin(intensity = 0.7px)
          background: rgb(0, 0, 0); /* fallback color */
          background-color white
          opacity 0.95
          -webkit-column-break-inside: avoid
          -moz-column-break-inside: avoid
          column-break-inside: avoid
          text-decoration none
          color Offer-Font-Color
          padding 20px
          font-size 16px
          -webkit-font-smoothing: antialiased
          height 300px
          width 100%
          max-width 1100px
          min-width 500px
          margin-bottom 7px
          margin-top 7px
          line-break 1px
          border 2px solid #eeeeee
          &:hover
            background-color #F0F0F0
        .order_show_notes_submit input
        .order_show_notes_submit a
          shift 0.87
          margin-top 10px
          margin-bottom 40px
          margin-right 5px
          button(color = Lead-Orange)
    /* :::::::::::: BANK TRANSACTION => offer for the lead :::::::::::: */
    .body_bank_transaction
      body-mixin(backgroundImage: url(/images/interior1.jpg))
      margin-top 29px
      .offer
        center(720px)
        opacity 0.95
        width 63%
        position relative
        top 10px
        padding 40px
        padding-top 70px
        padding-bottom 70px
        background-color white
        .offer_title
          // center(420px)
          color Offer-Font-Color
          font-weight bold
          font-size 28px
          padding-bottom 60px
        .offer_company_info
          color Offer-Font-Color
          border 1px solid #e7e7e7
          box-shadow inset 0 0 0 0 #CCC
          border-radius 4px
          padding 4px 7px 4px 10px
          background-color Lead-Subtitle
        .offer_company_info td:last-child
          text-align left
        .offer_company_info td:first-child
          text-align left
          width 109px
        .offer_date
          color Offer-Font-Color
          font-size 13px
          margin 10px 10px 20px 10px
          text-align left
        .offer_sosed_info
          // shift(0.075)
          margin-top 20px
          color Offer-Font-Color
          text-align left
          border 1px solid #e7e7e7
          box-shadow inset 0 0 0 0 #CCC
          border-radius 4px
          .offer_sosed_info_price td,
            font-weight bold
            padding 30px 30px 15px 15px
            font-size 16px
            background-color Lead-Subtitle
          .offer_sosed_info_item td
            background-color Lead-Subtitle
            padding 15px 30px 10px 15px
            font-size 12px
        .offer_show_lead
          margin-top 37px
          padding-bottom 20px
          // center(70%)
          // shift(-0.07)
          height 30%
          // width 70%
          vertical-align bottom
          -webkit-column-break-inside: avoid
          -moz-column-break-inside: avoid
          column-break-inside: avoid
          background-color white
          background-clip padding-box
          border-radius 4px
          box-shadow 0 1px 2px rgba(0, 0, 0, 0.05)
          border 1px solid #ccc
          line-break 1px
          .offer_show_lead_title
            background-color Lead-Orange
            border-top-left-radius 4px
            border-top-right-radius 4px
            padding 10px
            font-weight bold
            -webkit-font-smoothing: antialiased
            font-size 20px
            border-bottom 1px solid #e7e7e7
          .offer_show_lead_body
            font-size 16px
            padding-top 3px
            padding-left 25px
            -webkit-font-smoothing: antialiased
            -moz-osx-font-smoothing: grayscale
            color Offer-Font-Color
            line-height 150%
            width 280px
            .offer_show_lead_subtitle
              font-weight bold
              -webkit-font-smoothing: antialiased
              margin-top 20px
              margin-right 15px
            .ordersindex-notifications.customer-info
              color red
        .offer_instructions
          // width 70%
          margin-top 20px
          font-size 12px
          font-weight bold
          // shift(0.08)
    /* :::::::::::: ORDERS/RESERVED => Reserved Leads :::::::::::: */
    .body_orders_reserved
      body-mixin(backgroundImage: url(/images/interior5.jpg))
      .address_book_reserved_leads
        opacity 0.9
        shift(0.37)
        margin-top 60px
        font-size 20px
        font-weight bold
      .columns
        column-mixin()
        .wookmark
          wookmarkMixin()
          .lead_box
            leadBoxMixin()
            .address_book_lead_title
              opacity 0.85
              background-color Lead-Orange
              padding 15px
              color Offer-Font-Color
              font-weight bold
              font-size 14px
            .address_book_lead_body
              font-size 14px
              padding 15px
              -webkit-font-smoothing: antialiased
              -moz-osx-font-smoothing: grayscale
              color Offer-Font-Color
              line-height 150%
              width 280px
              .address_book_lead_subtitle
                font-weight bold
                -webkit-font-smoothing: antialiased
                padding-top 7px
            .address_book_lead_notification
              font-size 14px
              padding 10px
              -webkit-font-smoothing: antialiased
              -moz-osx-font-smoothing: grayscale
              color Offer-Font-Color
              line-height 150%
              font-weight bold
              padding-top 7px
              .address_book_lead_notification_explanation
                font-weight normal
            .address_book_buttons
              margin-top 20px
              .address_book_buy_button
                margin-left 80px
                button(color = Lead-Orange)
              .address_book_remove_button input,
              .address_book_remove_button a
                margin 10px 0px 5px 50px
                button(color = Lead-Orange)
                decoration none
                // text-decoration none
    .body_dummy_orders_reserved
      position relative
      blur-mixin(intensity = 1.1px)
    .reserved_link_to_signup
      margin-left 10%
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(0, 0, 0, 0.85);
      position fixed
      padding: 50px;
      top: 200px;
      width: 100%;
      width 70%
      font-size 28px
      font-weight bold
      -webkit-font-smoothing: antialiased
      max-width 1050px
      min-width 400px
      color: white;
      letter-spacing: -1px
      line-height 150%
      .address_book_signup,
      .address_book_signin
        color Lead-Orange
    /* :::::::::::: ORDERS/ADDRESS_BOOK => Bought Leads :::::::::::: */
    .body_orders_address_book
      body-mixin(backgroundImage: url(/images/interior6.jpg))
      .columns
        column-mixin()
        .wookmark
          wookmarkMixin()
          .lead_box
            leadBoxMixin()
            .address_book_lead_title
              opacity 0.85
              background-color Lead-Blue
              padding 15px
              color Offer-Font-Color
              font-weight bold
              font-size 14px
            .address_book_lead_body
              font-size 14px
              padding 15px
              -webkit-font-smoothing: antialiased
              -moz-osx-font-smoothing: grayscale
              color Offer-Font-Color
              line-height 150%
              width: 280px
              .address_book_lead_subtitle
                font-weight bold
                -webkit-font-smoothing: antialiased
                padding-top 7px
            .address_book_lead_notes
              padding 5px
              #order_notes
                background-color white
                position relative
                text-decoration none
                color Offer-Font-Color
                padding 7px
                font-size 12px
                height 150px
                width 100%
                vertical-align bottom
                -webkit-column-break-inside: avoid
                -moz-column-break-inside: avoid
                column-break-inside: avoid
                margin 7px 0px 7px 0px
                line-break 1px
                border 2px solid #82c0c7
              .address_book_lead_notes_button input,
              .address_book_lead_notes_button a
                button(color = Lead-Orange)
                shift(0.66)
                margin-bottom 7px
                margin-top 3px
            .address_book_link_to-signup
              font-size 12px
      .address_book_bought_leads
        font-size 20px
        font-weight bold
        width 70%
        max-width 1100px
        min-width 1050px
        margin-top 100px
        margin-left 450px
    .body_dummy_orders_address_book
      blur-mixin(intensity = 1.1px)
    .address_book_link_to_signup
      position: absolute
      margin-top 30px
      margin-left 10%
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(0, 0, 0, 0.85);
      position fixed
      padding: 50px;
      top: 250px;
      font-size 28px
      font-weight bold
      -webkit-font-smoothing: antialiased
      max-width 1000px
      min-width 400px
      color: white;
      letter-spacing: -1px;
      line-height 150%
      .address_book_signup,
      .address_book_signin
        color Lead-Orange
    /* :::::::::::: PROFILE :::::::::::: */
    .body_profile
      body-mixin(backgroundImage: url(/images/interior3.jpg))
      .columns
        column-mixin()
        .wookmark
          wookmarkMixin()
          .lead_box
            leadBoxMixin()
            .profile_dashboard_title
              text-align center
              opacity 0.85
              background-color #82c0c7
              padding 15px
              font-weight bold
              font-size 14px
            .profile_dashboard_body
              color Offer-Font-Color
              padding 30px 30px 20px 30px
              -webkit-font-smoothing: antialiased
              -moz-osx-font-smoothing: grayscale
              line-height 150%
              text-align center
              width 280px
              .profile_dashboard_body_username
                font-size 14px
                padding-bottom 20px
                font-weight bold
              .profile_dashboard_body_logout,
              .profile_dashboard_body_edit
                padding-top 30px
                button(color = #82c0c7)
              .profile_dashboard_body_wallet_amount
                font-size 57px
                padding 24px
              .profile_dashboard_body_wallet_buttons
                display inline-block
                padding-top 30px
                .profile_dashboard_body_wallet_button
                  button(color = #82c0c7)
              .profile_dashboard_body_bought_leads_amount
                font-size 100px
                padding 24px
              .profile_dashboard_title_login_or_signup
                font-size 14px
                font-weight bold
                .profile_dashboard_body_signup
                  color white
                  padding-bottom 7px
                  font-size 14px
                  &:hover
                    text-decoration underline
                .profile_dashboard_body_login
                  font-size 14px
                  &:hover
                    text-decoration underline
              .profile_dashboard_body_bought_leads_last
                font-size 24px
                font-weight bold
                padding 24px
                line-height 100%
              .profile_dashboard_body_no_bought_leads,
              .profile_dashboard_body_not_signed_in
                font-size 14px
                padding-bottom 20px
                font-weight bold
                opacity 0.3
    /* :::::::::::: DEVISE/LOGIN (sessions/new)  :::::::::::: */
    .body_devise_login
      body-mixin(backgroundImage: url(/images/interior2.jpg))
      margin-top 29px
      padding-top 20px
      padding-bottom 1050px
      color white
      .login
        padding-top 30px
        margin-left 20px
        .login_title
          font-size 28px
          font-weight bold
          margin-bottom 20px
        .login_form_email,
        .login_form_password
        .login_form_password
          font-size 14px
          font-weight bold
          margin-bottom 14px
          #user_email,
          #user_password
            padding 4px
            border-radius 4px
            margin-top 4px
            height 30px
            width 200px
            border 1px solid #E8E8E8
        .login_form_remember_me
          font-size 14px
          font-weight bold
        .login_form_submit input
        .login_form_submit a
          position relative
          padding 4px
          padding-left 20px
          padding-right 20px
          margin-top 10px
          margin-bottom 10px
          button(color = Lead-Orange)
        .login_shared_links
          font-size 14px
          // font-weight bold
          &:hover
            text-decoration underline
        .login_shared_links a
          color white
    /* :::::::::::: DEVISE/SIGNUP (registrations/new) :::::::::::: */
    .body_devise_signup
      body-mixin(backgroundImage: url(/images/interior2.jpg))
      margin-top 29px
      padding-top 20px
      padding-bottom 1050px
      color white
      .signup
        padding-top 30px
        margin-left 5%
        .signup_title
          background: rgb(0, 0, 0); /* fallback color */
          background: rgba(0, 0, 0, 0.7);
          width 60%
          padding 2%
          padding-left 4%
          font-size 25px
          font-weight bold
          margin-bottom 20px
          color #eee
        .signup_form_email,
        .signup_form_password,
        .signup_form_password_confirmation,
        .user_new_form_field
          font-size 14px
          font-weight bold
          margin-bottom 14px
          #user_email,
          #user_password,
          #user_password_confirmation,
          #user_name,
          #user_business_type
            padding 4px
            border-radius 4px
            margin-top 4px
            height 30px
            width 200px
            border 1px solid #E8E8E8
        .signup_form_submit input
        .signup_form_submit a
          position relative
          padding 4px
          padding-left 20px
          padding-right 20px
          margin-top 10px
          margin-bottom 10px
          button(color = Lead-Orange)
          background-color Lead-Orange
        .signup_shared_links
          font-size 14px
          color white
          // font-weight bold
          &:hover
            text-decoration underline
        .signup_shared_links a
          color white
    /* :::::::::::: DEVISE/PASSWORD/NEW (passwords/new) :::::::::::: */
    .body_devise_password_new
      body-mixin(backgroundImage: url(/images/interior6.jpg))
      margin-top 29px
      padding-top 20px
      padding-bottom 1050px
      .password_new
        padding-top 30px
        margin-left 20px
        .password_new_title
          font-size 28px
          font-weight bold
          margin-bottom 20px
        .password_new_form_email
          font-size 14px
          font-weight bold
          margin-bottom 14px
          #user_email
            padding 4px
            border-radius 4px
            margin-top 4px
            height 30px
            width 300px
            border 1px solid #E8E8E8
        .password_new_form_submit input
        .password_new_form_submit a
          margin-top 10px
          margin-bottom 10px
          button(color = Lead-Orange)
          background-color Lead-Orange
        .password_new_shared_links
          font-size 14px
          &:hover
            text-decoration underline
    /* :::::::::::: DEVISE/USERS/EDIT (registrations/new) :::::::::::: */
    .body_devise_users_edit
      body-mixin(backgroundImage: url(/images/interior2.jpg))
      margin-top 29px
      padding-top 20px
      padding-bottom 1050px
      color #eee
      .user_edit
        padding-top 30px
        margin-left 20px
        background: rgb(0, 0, 0); /* fallback color */
        background: rgba(0, 0, 0, 0.7);
        width 40%
        padding 2%
        .user_edit_title
          font-size 28px
          font-weight bold
          margin-bottom 20px
        .user_edit_form_email,
        .user_edit_form_password,
        .user_edit_form_password_confirmation,
        .user_edit_form_business_type,
        .user_edit_form_country,
        .user_edit_form_city,
        .user_edit_form_name
          font-size 14px
          font-weight bold
          margin-bottom 14px
          #user_business_type,
          #user_city,
          #user_country,
          #user_name
            padding 4px
            border-radius 4px
            margin-top 4px
            height 30px
            width 200px
            border 1px solid #E8E8E8
        .user_edit_form_submit input
        .user_edit_form_submit a
          margin-top 10px
          margin-bottom 10px
          button(color = Lead-Orange)
        .user_edit_cancel_acount,
        .user_edit_unhappy,
        .user_edit_back
          font-size 14px
          &:hover
            text-decoration underline
        .user_edit_cancel_acount a
          color #eee
        .user_edit_button_cancel_account input
        .user_edit_button_cancel_account a
          margin-top 10px
          margin-bottom 10px
          button(color = Lead-Orange)
    /* :::::::::::: LEADS/NEW (new lead - for end customers (B2C))  :::::::::::: */
    .body_leads_new
      margin-top 27px
      font-family App-Font-Family
      .lead_new_photo
        body-mixin(backgroundImage: url(/images/interior1.jpg))
        padding-top 20px
        padding-bottom 900px
        .lead_new
          span(1/3)
          background: rgb(0, 0, 0); /* fallback color */
          background: rgba(0, 0, 0, 0.7);
          shift(0.13)
          padding-bottom 14px
          margin-top 30px
          margin-bottom 40px
          margin-left 100px
          .lead_new_title
            -webkit-font-smoothing: antialiased
            color Lead-Orange
            padding-top 20px
            padding-left 20px
            padding-right 20px
            font-size 28px
            font-weight bold
            margin-bottom 20px
            line-height 120%
          .lead_new_instructions
            -webkit-font-smoothing: antialiased
            padding-left 20px
            padding-right 20px
            color white
            font-size 20px
            font-weight bold
            margin-bottom 40px
            line-height 120%
          .lead_new_form_business_type,
          .lead_new_form_time,
          .lead_new_form_zip,
          .lead_new_form_description,
          .lead_new_form_name,
          .lead_new_form_email,
          .lead_new_form_phone,
          .lead_new_form_property_type,
          .lead_new_form_material_supply
            color white
            padding-left 20px
            padding-right 20px
            font-size 12px
            margin-bottom 14px
            #lead_business_type,
            #lead_time,
            #lead_property_type,
            #lead_material_supply
              color Offer-Font-Color
              font-weight bold
              font-size 12px
              padding 4px
              border-radius 4px
              margin-top 4px
              height 40px
              width 80%
              border 1px solid #E8E8E8
            #lead_name,
            #lead_email,
            #lead_address,
            #lead_affiliation_id,
            #lead_phone
              center()
              padding 4px
              border-radius 4px
              margin-top 2px
              margin-left 0px
              font-size 12px
              height 40px
              width 80%
              border 1px solid #E8E8E8
            #lead_zip
              color Offer-Font-Color
              font-weight bold
              center()
              padding 4px
              border-radius 4px
              margin-top 2px
              margin-left 0px
              font-size 12px
              height 40px
              width 80%
              border 1px solid #E8E8E8
            #lead_description
              color Offer-Font-Color
              font-weight bold
              center()
              padding 4px
              border-radius 4px
              margin-top 2px
              margin-left 0px
              font-size 12px
              height 80px
              width 80%
              border 1px solid #E8E8E8
            #lead_description input
              display inline-block
          .lead_new_form_remember_me
            font-size 10px
          .lead_new_form_submit input
          .lead_new_form_submit a
            shift 0.37
            color white
            button(color = Lead-Orange)
            background-color Lead-Orange
          .lead_new_shared_links
            font-size 12px
            &:hover
              text-decoration underline
        .lead_new_explanation
          span(0.8/3)
          margin-top 60px
          shift 0.07
          padding 20px
          font-size 29px
          font-weight bold
          color white
          background: rgb(0, 0, 0); /* fallback color */
          background: rgba(0, 0, 0, 0.7);
          .lead_new_explanation_first,
          .lead_new_explanation_second,
          .lead_new_explanation_third
            padding-bottom 30px
            width 100%
            .fa.fa-pencil,
            .fa.fa-files-o,
            .fa.fa-check-square-o
              font-size 42px
        // .fa.fa-angle-down
        //   color Lead-Orange
        //   font-size 80px
        //   margin-top 470px
        //   padding-top 20px
      .lead_new_we_help
        padding 80px 220px 80px 220px
        background-color white
        color #606060
        .lead_new_we_help_title
          font-size 32px
          text-transform: uppercase
          text-align center
          color Lead-Orange
          margin-bottom 50px
        .lead_new_we_help_categories_title
          font-size 20px
          font-weight bold
          text-align center
          margin-bottom 60px
        .lead_new_we_help_categories_list
          text-align center
          font-size 16px
          shift 0.03
          .fa.fa-check-square-o
            padding 10px 10px 0px 0px
            font-size 16px
            color #606060
            opacity 0.8
      .lead_new_testimonials
        padding 50px 220px 50px 220px
        background-color Lead-Blue
        text-align left
        font-size 16px
        .lead_new_testimonials_text
          color #eee
          text-align center
          padding-bottom 50px
          .fa.fa-quote-left,
          .fa.fa-quote-right
            font-size 25px
            color white
            padding 0px 5px 0px 5px
      .lead_new_company_info
        padding 50px 0px 50px 0px
        background-color black
        text-align center
        font-size 18px
        .lead_new_company_info_contact input,
        .lead_new_company_info_contact a
          padding 7px 0px 0px 0px
          color white
          font-size 14px
          text-decoration none
          &:hover
            color Lead-Orange
        .lead_new_company_info_address
          padding 7px 0px 0px 0px
          color white
          font-size 14px
        .lead_new_company_info_name,
        .lead_new_company_info_phone
          font-size 24px
          color Lead-Orange
    /* :::::::::::: WALLET_PAYMENT => adding money to the wallet :::::::::::: */
    /* :::::::::::: same styling also for ORDERS/WALLET_PAYMENT_FOR LEADS:::::::::::: */
    .body_wallet_payment
      body-mixin(backgroundImage: url(/images/interior6.jpg))
      margin-top 29px
      .wallet_payment_offer
        center(720px)
        opacity 0.95
        width 63%
        position relative
        top 10px
        padding 40px
        padding-top 70px
        padding-bottom 70px
        background-color white
        .wallet_payment_offer_title
          center(420px)
          color Offer-Font-Color
          font-weight bold
          font-size 28px
          padding-bottom 50px
        .wallet_payment_offer_promotion
          margin-top 20px
          margin-bottom 50px
          font-size 13px
          font-weight bold
          background-color Lead-Orange
          padding 4px
        .wallet_payment_offer_company_info
          color Offer-Font-Color
          border 1px solid #e7e7e7
          box-shadow inset 0 0 0 0 #CCC
          border-radius 4px
          padding 4px 7px 4px 10px
          background-color Lead-Subtitle
        .wallet_payment_offer_company_info  td:last-child
          text-align left
        .wallet_payment_offer_company_info  td:first-child
          text-align left
          width 109px
        .wallet_payment_offer_date
          color Offer-Font-Color
          font-size 13px
          margin 10px 10px 20px 10px
          text-align left
        .wallet_payment_offer_sosed_info
          margin-top 20px
          color Offer-Font-Color
          text-align left
          border 1px solid #e7e7e7
          box-shadow inset 0 0 0 0 #CCC
          border-radius 4px
          .wallet_payment_offer_sosed_info_price td
            font-weight bold
            padding 15px 30px 15px 30px
            font-size 16px
            background-color Lead-Orange
            color white
          .wallet_payment_offer_sosed_info_item td
            font-weight bold
            background-color #eeeeee
            padding 15px 30px 0px 30px
            font-size 12px
          .wallet_payment_offer_sosed_info_item td:last-child
            padding 15px 30px 15px 30px
        .wallet_payment_offer_instructions
          margin-top 20px
          font-size 12px
          font-weight bold
    /* :::::::::::: DEVISE ALERTS :::::::::::: */
    .alert.alert-notice
      position relative
      top 60px
      left 70px
      color Lead-Orange
      font-size 14px
    /* :::::::::::: PAYMENT CONFIRMATION :::::::::::: */
    .body_payment_confirmation
      body-mixin(backgroundImage: url(/images/interior1.jpg))
      margin-top 29px
      padding-bottom 1500px
      .to_address_book
        width 100%
        height 100%
        position absolute
        top 0
        left 0
      .payment_confirmation_wrapper
        center(720px)
        opacity 0.95
        width 95%
        position relative
        top 70px
        padding 40px
        padding-top 30px
        padding-bottom 30px
        background-color black
        .payment_confirmation_title
          center(550px)
          color white
          font-weight bold
          font-size 28px
          padding-bottom 30px
        .payment_confirmation_text
          margin-top 20px
          margin-bottom 30px
          font-size 22px
          font-weight bold
          background-color Lead-Orange
          padding 4px
    /* :::::::::::: STATICPAGES/WELCOME landing singlepage :::::::::::: */
    .body_welcome
      body-mixin(backgroundImage: url(/images/interior1.jpg))
      margin-top 29px
      padding-bottom 1500px
      .leads_index_no_leads_available
        position: absolute
        margin-top 30px
        margin-left 190px
        background: rgb(0, 0, 0); /* fallback color */
        background: rgba(0, 0, 0, 0.7);
        blur-mixin(intensity = 0px)
        padding: 50px;
        top: 100px;
        font-size 26px
        font-weight bold
        -webkit-font-smoothing: antialiased
        max-width 80%
        min-width 65%
        color: white;
        letter-spacing: -1px;
        line-height 150%
      .leads_index_no_leads_available_button_first a
        button(size: large)
        margin-right 10%
        margin-left 25%
        float left
      .leads_index_no_leads_available_button_second a
        button(size: large, color: #fac30e)
    /* :::::::::::: STATICPAGES/INFO landing singlepage :::::::::::: */
    .body_info_singlepage
      font-family App-Font-Family
      margin-top 30px
      #disqus_thread
        padding 10%
      .section_welcome
        margin-top 29px
        padding 100px 60px 100px 100px
        background-color Lead-Blue
        color white
        letter-spacing 1.4px
        font-weight: 300
        .section_welcome_title
          font-size 18px
          color white
          font-weight bold
          margin-bottom 10px
          text-align center
        .section_welcome_subtitle
          color black
          font-size 32px
          letter-spacing 2px
          margin-bottom 30px
        .section_welcome_text
          font-size 18px
          line-height 150%
      .section_divided
        color white
        font-size 32px
        letter-spacing 1.4px
        .section_divided_left
          span(1/2)
          height 200px
          padding 50px
          background-color Lead-Orange
        .section_divided_right
          span(1/2)
          height 200px
          padding 50px
          background-color #82c0c7
      .section_how_it_works
        padding 0px 0px 60px 0px
        background-color #eee
        letter-spacing 1.4px
        font-weight: 300
        color black
        .section_how_it_works_image
          body-mixin(backgroundImage: url(/images/interior4.jpg))
          padding-bottom 300px
        .section_how_it_works_title
          margin 60px 60px 60px 50px
          font-size 32px
          color Lead-Orange
          text-align center
          font-weight bold
        .section_how_it_works_text
          margin 60px 60px 60px 50px
          font-size 18px
          line-height 150%
        .section_how_it_works_text a
          button(color: #fac30e)
          margin 10px 50px 10px 50px
          width 300px
      .section_our_team
        padding 0px 0px 60px 0px
        background-color #606060
        letter-spacing 1.4px
        font-weight: 300
        color Lead-Blue
        text-align center
        .fa.fa-heart
          margin 60px 60px 20px 30px
          font-size 80px
        .section_our_team_title
          margin 20px 60px 60px 30px
          font-size 32px
          text-align center
          font-weight bold
        .section_our_team_text
          margin 60px 60px 60px 50px
          font-size 18px
          line-height 150%
        .section_our_team_text a
          color white
      .section_budget
        padding 0px 50px 60px 50px
        background-color black
        letter-spacing 1.4px
        font-weight: 300
        color Lead-Orange
        text-align center
        .fa.fa-calculator
          margin 60px 60px 20px 30px
          font-size 80px
          color Lead-Orange
        .section_budget_title
          margin 20px 60px 60px 30px
          font-size 32px
          color Lead-Orange
          font-weight bold
        .section_budget_text
          margin 60px 60px 60px 30px
          font-size 18px
          line-height 150%
        .section_budget_text a
          color Lead-Orange
          &:hover
           color white
      .section_what_customers_want
        padding 60px 60px 60px 60px
        background-color black
        color #82c0c7
        text-transform: uppercase
        text-align center
        .section_what_customers_want_title
          margin-bottom 50px
          font-size 48px
          font-weight bold
        .fa.fa-check-square-o
          font-size 30px
          margin-right 10px
        .section_what_customers_want_item
          margin-bottom 20px
          font-size 18px
      .section_join_sosed
        background-color Lead-Orange
        color black
        font-size 18px
        text-transform: uppercase
        font-weight bold
        letter-spacing 1.4px
        line-height 200%
        .section_why_sosed_image
          body-mixin(backgroundImage: url(/images/interior2.jpg))
          padding-bottom 300px
        .fa.fa-line-chart,
        .fa.fa-paper-plane-o,
        .fa.fa-thumbs-up
          shift 0.44
          padding 50px 0px 0px 0px
          font-size 100px
          background-color Lead-Orange
          color black
        .section_join_sosed_introduce,
        .section_join_sosed_cooperation,
        .section_join_sosed_success
          text-align center
          color black
          padding 30px 50px 20px 50px
          background-color Lead-Orange
      .section_why_sosed
        padding 0px 50px 60px 50px
        letter-spacing 1.4px
        font-weight: 300
        color black
        .section_why_sosed_title
          margin 60px 60px 60px 50px
          font-size 32px
          color Lead-Blue
          font-weight bold
          text-align center
        .section_why_sosed_text
          margin 60px 60px 30px 30px
          font-size 18px
          line-height 150%
        .section_why_sosed_text a
          color black
      .section_form
        letter-spacing 1.4px
        font-weight: 300
        color black
        #mc_embed_signup
          background-color Lead-Blue
          padding 50px 0px 30px 0px
        #mc_embed_signup label
          font-size 32px
          color white
          text-align center
        #mce-EMAIL
          shift 0.33
          width 400px
        #mc-embedded-subscribe
          shift 0.4
          background-color Lead-Orange
          width 200px
      .section_company_info
        padding-top 20px
        text-align center
        background-color black
        color #eee
        font-size 14px
        .section_company_info_name
          font-size 18px
          text-transform: uppercase
          color Lead-Blue
          font-weight bold
        .section_company_info_name,
        .section_company_info_street,
        .section_company_info_city,
        .section_company_info_tax_number,
        .section_company_info_bank_account,
        .section_company_info_contact a
          padding 7px 0px 0px 0px
          color Lead-Blue
        .section_company_info_contact a
          &:hover
            color white
        &:last-child
          padding-bottom 80px
        .section_company_info_street a
          text-decoration underline
          color Lead-Blue
          &:hover
            color white

    /* :::::::::::::::::::::::: STATICPAGES/NEW_LEAD_CONFIRMATION :::::::::::::::::::::::::: */
    .body_new_lead_confirmation
      body-mixin(backgroundImage: url(/images/interior1.jpg))
      margin-top 26px
      padding-top 200px
      padding-bottom 300px
      .new_lead_confirmation
        center(550px)
        margin-top 0px
        padding 20px
        background-color black
        opacity 0.8
        color white
        .new_lead_confirmation_thank_you
          font-size 26px
          font-weight bold
        .new_lead_confirmation_text
          font-size 18px
          padding-top 40px

    /* :::::::::::::::::::::::: STATICPAGES/NEW_LEAD_CONFIRMATION :::::::::::::::::::::::::: */
    .body_plans
      body-mixin()
      margin-top 29px
      padding-bottom 50px
      .plans_title
        color Lead-Blue
        opacity 0.85
        font-size 36px
        text-align center
        padding-top 80px
        padding-bottom 80px
      .lead_box
        width 303px
        height 425px
        margin-top 250px
        padding 15px
        background-color #eee
        opacity 0.85
        color black
        text-align center
        .plans_item_text:first-child
          font-weight bold
          color black
          font-size 20px
          background-color Lead-Blue
          padding 15px
          text-align center
        .plans_item_text:nth-child(2)
          font-weight bold
          color white
          font-size 26px
          background-color Lead-Orange
          padding 15px
          margin-bottom 10px
          text-align center
        .plans_item_text
          font-size 15px
          padding 20px 25px 0px 30px
          text-align left
        .plans_item_buy_button
          margin-top 40px
          position absolute
          bottom 20px
          right 100px
          font-size 16px !important
          button(color = Lead-Orange)
      .plans_item_note
        color black
        font-size 14px
        shift 0.3
        padding-bottom 40px
        width 60%
      .plans_faq_item
        margin-top 40px
        shift 0.28
        width 40%
        color black
        font-size 18px
        line-height 150%
        .plans_faq_item_question
          font-size 22px
          font-weight bold
          padding-bottom 7px
        .plans_faq_item_answer
          font-weight italics
          padding-bottom 20px

    /* :::::::::::: PROMO :::::::::::: */
    .body_promo
      body-mixin(backgroundImage: url(/images/interior6.jpg))
      .columns
        column-mixin()
        .wookmark
          wookmarkMixin()
          .lead_box
            margin-left 42px
            width 303px
            padding: 15px;
            display none
            background: #FEFEFE;
            border: 2px solid #FAFAFA;
            box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
            .profile_dashboard_title
              text-align center
              opacity 0.85
              background-color Lead-Orange
              padding 15px
              font-weight bold
              font-size 14px
            .profile_dashboard_body
              color Offer-Font-Color
              padding 30px 30px 20px 30px
              -webkit-font-smoothing: antialiased
              -moz-osx-font-smoothing: grayscale
              line-height 150%
              text-align center
              width 280px

    /* :::::::::::: PROMO :::::::::::: */
    .promo_image_wrapper
      height 1500px
      .promo_image
        margin-top 170px
        align center
        padding-bottom 50px
      .promo_image_affiliation_code
        color red
        margin-top 300px
        // position relative
        // left 30
        // bottom 100
