+below(400px)
  /* :::::::::::: APPLICATION.html.erb => menu buttons & login :::::::::::: */
  .zopim
    bottom 38px !important
  body
    margin 0px
    padding 0px
    .top_menu_bar
      position fixed
      top 0
      z-index 999
      width 100%
      background-color Menu-Top-Color
      blur-mixin(intensity =  0px)
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(255, 255, 255, 0.8);
      border-bottom 1px solid #ccc
      padding-top 2px
      font-family App-Font-Family
      .logged_user,
      .not_logged_user
        padding-bottom 2px
        font-size 6px
        -webkit-font-smoothing: antialiased
        font-weight bold
        display inline-block
        &:hover
          opacity 0.7
        a
          visibility: hidden
          text-decoration none
          color Menu-Top-Button-Color
      .logo
        left 155px
        height 37px
        display inline-block
        &:hover
          opacity 0.7
      .info
        padding-bottom 2px
        font-size 28px
        left 160px
        .fa.fa-weixin
          color Offer-Font-Color
          &:hover
            color Lead-Orange
    .bottom_menu_bar
      background-color Menu-Bottom-Color
      position fixed
      bottom 0px
      z-index 999
      width 100%
      font-family App-Font-Family
      .button_home
        bottomButtonMixin(defaultFontSize = 10px)
        span
          display none
      .fa.fa-home
        font-size 21px
        padding-right 5px
        &:hover
            color Lead-Orange
      .button_reserved
        bottomButtonMixin(defaultFontSize = 10px)
        span
          display none
      .fa.fa-star
        font-size 21px
        padding-right 5px
      .button_address_book
        bottomButtonMixin(defaultFontSize = 10px)
        span
          display none
      .fa.fa-users
        font-size 21px
        padding-right 5px
      .button_profile
        bottomButtonMixin(defaultFontSize = 10px)
        span
          display none
      .fa.fa-cog
        font-size 21px
        padding-right 5px
        text-align center
    /* :::::::::::: LEADS/INDEX => homepage :::::::::::: */
    .body_leads_index
      body-mixin(backgroundImage: url(/images/interior2.jpg))
      .columns
        column-mixin(margin-top = 18px)
        .wookmark
          wookmarkMixin()
          .lead_box
            leadBoxMixin()
            .lead_title
              opacity 0.85
              background-color Lead-Orange
              padding 15px
              color Offer-Font-Color
              font-weight bold
              font-size 14px
              .fa.fa-star
                color #fcd229
                font-size 16px
                shift 0.05
                &:hover
                  color Offer-Font-Color
            .lead_body
              font-size 14px
              padding 15px
              -webkit-font-smoothing: antialiased
              -moz-osx-font-smoothing: grayscale
              color Offer-Font-Color
              line-height 150%
              width 280px
              .lead_subtitle
                font-weight bold
                -webkit-font-smoothing: antialiased
                padding-top 7px
      .leads_index_no_leads_available
        position: absolute
        margin-top 20px
        margin-left 50px
        background: rgb(0, 0, 0); /* fallback color */
        background: rgba(0, 0, 0, 0.7);
        position fixed
        blur-mixin(intensity = 0px)
        padding: 50px;
        top: 200px;
        font-size 12px
        font-weight bold
        -webkit-font-smoothing: antialiased
        max-width 550px
        min-width 200px
        color: white;
        letter-spacing: -1px;
        line-height 150%
    /* :::::::::::: LEADS/show => individual lead :::::::::::: */
    .body_leads_show
      body-mixin(backgroundImage: url(/images/interior2.jpg))
      padding-bottom 300px
      .back_to_main_page_button
        width 100%
        height 100%
        position absolute
        top 0
        left 0
      .lead_show
        top 40px
        shift 0.03
        opacity 0.9
        margin 29px 0px 0px 0px
        width 90%
        -webkit-column-break-inside: avoid
        -moz-column-break-inside: avoid
        column-break-inside: avoid
        background-color white
        line-break 1px
        .lead_show_title
          background-color Lead-Orange
          padding 18px
          margin-bottom 10px
          font-weight bold
          text-align center
          -webkit-font-smoothing: antialiased
          font-size 22px
        .lead_show_body
          font-size 12px
          padding-left 5px
          padding-top 10px
          -webkit-font-smoothing: antialiased
          -moz-osx-font-smoothing: grayscale
          color Offer-Font-Color
          line-height 150%
          .lead_show_items_long
            width 90%
            padding-left 0px
          .lead_show_items_short,
          .lead_show_items_long
            display inline-block
            vertical-align top
            .lead_show_item
              -webkit-font-smoothing: antialiased
              margin-top 10px
              line-height 150%
              padding-bottom 10px
              .lead_show_subtitle
                font-weight bold
                display inline-block
        .lead_show_buy input,
        .lead_show_buy a
          left 0px
          margin 20px 0 40px 0px
          button(size: large, color: #fac30e)
          background-color Lead-Orange
          font-size 12px
    /* :::::::::::: ORDERS/show => buy lead :::::::::::: */
    .body_orders_show
      body-mixin(backgroundImage: url(/images/interior3.jpg))
      padding-bottom 100px
      .back_to_main_page_button
        width 100%
        height 100%
        position absolute
        top 0
        left 0
      .order_show
        shift 0.03
        opacity 0.9
        margin 29px 0px 0px 0px
        width 90%
        -webkit-column-break-inside: avoid
        -moz-column-break-inside: avoid
        column-break-inside: avoid
        background-color white
        line-break 1px
        .order_show_title
          background-color Lead-Orange
          padding 18px
          margin-bottom 10px
          font-weight bold
          text-align center
          -webkit-font-smoothing: antialiased
          font-size 22px
        .lead_show_body
          font-size 12px
          padding-left 5px
          padding-top 10px
          -webkit-font-smoothing: antialiased
          -moz-osx-font-smoothing: grayscale
          color Offer-Font-Color
          line-height 150%
          .lead_show_items_long
            width 90%
            padding-left 0px
          .lead_show_items_short_additional
            padding 5px
            width 100%
            background-color #eee
            blur-mixin(intensity = 0.7px)
          .lead_show_items_short,
          .lead_show_items_long,
          .lead_show_items_short_additional
            display inline-block
            vertical-align top
            .lead_show_item
              -webkit-font-smoothing: antialiased
              margin-top 10px
              line-height 150%
              padding-bottom 10px
              .lead_show_subtitle
                font-weight bold
                display inline-block
        .order_show_buy_popup
          shift 0.28
          font-size 10px
          line-height 130%
          color black
          border-radius 4px
          background-color #eee
          padding 15px
          width 70%
          text-align center
          .order_show_buy_popup_item
            padding 5px
            button(color = Lead-Blue)
            margin-bottom 10px
            margin-top 10px
            text-align center
            width 80%
        .payment_buttons_choose_payment_text
          text-align center
          padding 30px 10px 20px 0px
        .order_show_buy_buttons
          padding 7px
          center(300px)
          .order_show_buy
            display inline-block
          .order_show_buy input,
          .order_show_buy a
            margin-bottom 2px
            button(color: Lead-Orange)
            font-size 12px
      .order_show_notes
        margin-top 5px
        margin-bottom 50px
        font-size 12px
        margin-left -10px
        .order_show_notes_title
          padding 5px
          margin-top 20px
          margin-bottom 4px
          color Offer-Font-Color
          font-weight bold
          width 150px
        #order_notes
          position relative
          blur-mixin(intensity = 0.7px)
          background: rgb(0, 0, 0); /* fallback color */
          background-color white
          opacity 0.95
          -webkit-column-break-inside: avoid
          -moz-column-break-inside: avoid
          column-break-inside: avoid
          text-decoration none
          color Offer-Font-Color
          padding 4px
          font-size 10px
          -webkit-font-smoothing: antialiased
          height 100px
          width 95%
          margin-bottom 7px
          margin-top 7px
          line-break 1px
          border 2px solid #eeeeee
          &:hover
            background-color #F0F0F0
        .order_show_notes_submit input
        .order_show_notes_submit a
          shift 0.6
          margin-top 10px
          margin-bottom 10px
          margin-right 5px
          button(color = Lead-Orange)
    /* :::::::::::: BANK TRANSACTION => offer for the lead :::::::::::: */
    .body_bank_transaction
      body-mixin(backgroundImage: url(/images/interior1.jpg))
      margin-top 29px
      .offer
        center(550px)
        opacity 0.95
        width 95%
        position relative
        top 10px
        padding 20px
        padding-top 70px
        padding-bottom 70px
        background-color white
        .offer_title
          color Lead-Blue
          font-weight bold
          font-size 18px
          padding-bottom 30px
        .offer_company_info
          color Offer-Font-Color
          border 1px solid #e7e7e7
          padding 4px 7px 4px 7px
          background-color Lead-Subtitle
        .offer_company_info td:last-child
          text-align left
        .offer_company_info td:first-child
          text-align left
          width 109px
        .offer_date
          color Offer-Font-Color
          font-size 12px
          margin 10px 7px 20px 7px
          text-align left
        .offer_sosed_info
          margin-top 20px
          color Offer-Font-Color
          text-align left
          border 1px solid #e7e7e7
          border-radius 4px
          .offer_sosed_info_price td,
            font-weight bold
            color Lead-Blue
            padding 20px 30px 10px 15px
            font-size 12px
            background-color Lead-Subtitle
          .offer_sosed_info_item td
            background-color Lead-Subtitle
            padding 10px 30px 10px 15px
            font-size 10px
        .offer_show_lead
          margin-top 37px
          padding-bottom 20px
          height 30%
          vertical-align bottom
          -webkit-column-break-inside: avoid
          -moz-column-break-inside: avoid
          column-break-inside: avoid
          background-color white
          background-clip padding-box
          border-radius 4px
          box-shadow 0 1px 2px rgba(0, 0, 0, 0.05)
          border 1px solid #ccc
          line-break 1px
          .offer_show_lead_title
            background-color Lead-Orange
            border-top-left-radius 4px
            border-top-right-radius 4px
            padding 10px
            font-weight bold
            -webkit-font-smoothing: antialiased
            font-size 16px
            border-bottom 1px solid #e7e7e7
          .offer_show_lead_body
            font-size 12px
            padding-top 3px
            padding-left 25px
            -webkit-font-smoothing: antialiased
            -moz-osx-font-smoothing: grayscale
            color Offer-Font-Color
            line-height 150%
            width 280px
            .offer_show_lead_subtitle
              font-weight bold
              -webkit-font-smoothing: antialiased
              margin-top 20px
              margin-right 15px
            .ordersindex-notifications.customer-info
              color red
        .offer_instructions
          center(420px)
          margin-top 20px
          font-size 10px
          font-weight bold
    /* :::::::::::: ORDERS/RESERVED => Reserved Leads :::::::::::: */
    .body_orders_reserved
      mobile-body-mixin(backgroundImage: url(/images/interior5.jpg))
      .address_book_reserved_leads
        opacity 0.9
        shift(0.37)
        margin-top 18px
        font-size 20px
        font-weight bold
      .columns
        column-mixin(defaultTop: 18px)
        .wookmark
          wookmarkMixin()
          .lead_box
            mobileLeadBoxMixin()
            .address_book_lead_title
              opacity 0.85
              background-color Lead-Blue
              padding 5px
              color Offer-Font-Color
              font-weight bold
              font-size 10px
            .address_book_lead_body
              font-size 8px
              padding 5px
              -webkit-font-smoothing: antialiased
              -moz-osx-font-smoothing: grayscale
              color Offer-Font-Color
              line-height 150%
              width 90%
              .address_book_lead_subtitle
                font-weight bold
                -webkit-font-smoothing: antialiased
                padding-top 3px
            .address_book_lead_notification
              font-size 10px
              padding 10px
              -webkit-font-smoothing: antialiased
              -moz-osx-font-smoothing: grayscale
              color Offer-Font-Color
              line-height 150%
              font-weight bold
              padding-top 7px
              .address_book_lead_notification_explanation
                font-weight normal
            .address_book_buttons
              margin-top 20px
              .address_book_buy_button
                margin-left 30px
                button(color = Lead-Orange)
                font-size 9px
                padding 10px
              .address_book_remove_button input,
              .address_book_remove_button a
                margin 10px 0px 5px 16px
                button(color = Lead-Orange)
                decoration none
                font-size 9px
                padding 10px
    .body_dummy_orders_reserved
      position relative
      blur-mixin(intensity = 1.1px)
    .reserved_link_to_signup
      position: absolute
      margin-top 20px
      margin-left 10%
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(0, 0, 0, 0.85);
      position fixed
      padding: 50px;
      top: 200px;
      font-size 12px
      font-weight bold
      -webkit-font-smoothing: antialiased
      max-width 300px
      min-width 200px
      color: white;
      letter-spacing: -1px;
      line-height 150%
      .address_book_signin
        color Lead-Orange
    /* :::::::::::: ORDERS/ADDRESS_BOOK => Bought Leads :::::::::::: */
    .body_orders_address_book
      body-mixin(backgroundImage: url(/images/interior6.jpg))
      .columns
        column-mixin(defaultTop: 18px)
        .wookmark
          wookmarkMixin()
          .lead_box
            mobileLeadBoxMixin()
              width 90%
            .address_book_lead_title
              opacity 0.85
              background-color Lead-Blue
              padding 15px
              color Offer-Font-Color
              font-weight bold
              font-size 14px
            .address_book_lead_body
              font-size 14px
              padding 15px
              -webkit-font-smoothing: antialiased
              -moz-osx-font-smoothing: grayscale
              color Offer-Font-Color
              line-height 150%
              width: 280px
              .address_book_lead_subtitle
                font-weight bold
                -webkit-font-smoothing: antialiased
                padding-top 7px
            .address_book_lead_notes
              padding 5px
              #order_notes
                background-color white
                // opacity 0.8
                position relative
                text-decoration none
                color Offer-Font-Color
                // font-weight bold
                padding 7px
                font-size 12px
                height 150px
                width 100%
                vertical-align bottom
                -webkit-column-break-inside: avoid
                -moz-column-break-inside: avoid
                column-break-inside: avoid
                margin 7px 0px 7px 0px
                line-break 1px
                border 2px solid #82c0c7
                // hover-darken(percent = 5%)
              .address_book_lead_notes_button input,
              .address_book_lead_notes_button a
                button(color = Lead-Orange)
                shift(0.66)
                margin-bottom 7px
                margin-top 3px
            .address_book_link_to-signup
              font-size 12px
      .address_book_bought_leads
        font-size 20px
        font-weight bold
        width 70%
        max-width 1100px
        min-width 1050px
        margin-top 100px
        margin-left 450px
    .body_dummy_orders_address_book
      blur-mixin(intensity = 1.1px)
    .address_book_link_to_signup
      position: absolute
      margin-top 30px
      margin-left 5%
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(0, 0, 0, 0.85);
      position fixed
      padding: 50px;
      top: 200px;
      font-size 23px
      font-weight bold
      -webkit-font-smoothing: antialiased
      max-width 350px
      min-width 200px
      color: white;
      letter-spacing: -1px;
      line-height 150%
      .address_book_signup,
      .address_book_signin
        color Lead-Orange
    /* :::::::::::: PROFILE :::::::::::: */
    .body_profile
      body-mixin(backgroundImage: url(/images/interior3.jpg))
      .columns
        column-mixin(defaultTop: 18px)
        .wookmark
          wookmarkMixin()
          .lead_box
            mobileLeadBoxMixin()
            .profile_dashboard_title
              text-align center
              opacity 0.85
              background-color #82c0c7
              padding 15px
              font-weight bold
              font-size 14px
            .profile_dashboard_body
              color Offer-Font-Color
              padding 30px 30px 20px 30px
              -webkit-font-smoothing: antialiased
              -moz-osx-font-smoothing: grayscale
              line-height 150%
              text-align center
              width 280px
              .profile_dashboard_body_username
                font-size 14px
                padding-bottom 20px
                font-weight bold
              .profile_dashboard_body_logout,
              .profile_dashboard_body_edit
                padding-top 30px
                button(color = Lead-Orange)
              .profile_dashboard_body_wallet_amount
                font-size 57px
                padding 24px
              .profile_dashboard_body_wallet_buttons
                display inline-block
                padding-top 30px
                .profile_dashboard_body_wallet_button
                  button(color = Lead-Orange)
              .profile_dashboard_body_bought_leads_amount
                font-size 100px
                padding 24px
              .profile_dashboard_title_login_or_signup
                font-size 14px
                font-weight bold
                .profile_dashboard_body_signup
                  color white
                  padding-bottom 7px
                  font-size 14px
                  &:hover
                    text-decoration underline
                .profile_dashboard_body_login
                  font-size 14px
                  &:hover
                    text-decoration underline
              .profile_dashboard_body_bought_leads_last
                font-size 24px
                font-weight bold
                padding 24px
                line-height 100%
              .profile_dashboard_body_no_bought_leads,
              .profile_dashboard_body_not_signed_in
                font-size 14px
                padding-bottom 20px
                font-weight bold
                opacity 0.3
    /* :::::::::::: DEVISE/LOGIN (sessions/new)  :::::::::::: */
    .body_devise_login
      body-mixin(backgroundImage: url(/images/cream_pixels.jpg))
      margin-top 29px
      padding-top 20px
      padding-bottom 1050px
      .login
        padding-top 30px
        margin-left 20px
        .login_title
          font-size 28px
          font-weight bold
          margin-bottom 20px
        .login_form_email,
        .login_form_password
          font-size 14px
          font-weight bold
          margin-bottom 14px
          #user_email,
          #user_password
            padding 4px
            border-radius 4px
            margin-top 4px
            height 30px
            width 200px
            border 1px solid #E8E8E8
        .login_form_remember_me
          font-size 14px
          font-weight bold
        .login_form_submit input
        .login_form_submit a
          position relative
          padding 4px
          padding-left 20px
          padding-right 20px
          margin-top 10px
          margin-bottom 10px
          button(color = Lead-Orange)
        .login_shared_links
          font-size 14px
          // font-weight bold
          &:hover
            text-decoration underline
    /* :::::::::::: DEVISE/SIGNUP (registrations/new) :::::::::::: */
    .body_devise_signup
      body-mixin()
      margin-top 29px
      padding-top 20px
      .signup
        margin-left 20px
        .signup_title
          background Lead-Orange
          padding 5%
          color black
          width 80%
          font-size 16px
          font-weight bold
          margin-bottom 20px
        .signup_form_email,
        .signup_form_password,
        .signup_form_password_confirmation
          font-size 18px
          font-weight bold
          margin-bottom 14px
          #user_email,
          #user_password,
          #user_password_confirmation
            padding 4px
            border-radius 4px
            margin-top 4px
            height 30px
            width 200px
            border 1px solid #E8E8E8
        .signup_form_submit input
        .signup_form_submit a
          position relative
          padding 4px
          padding-left 20px
          padding-right 20px
          margin-top 10px
          margin-bottom 10px
          button(color = Lead-Orange)
          background-color Lead-Orange
        .signup_shared_links
          font-size 14px
          // font-weight bold
          &:hover
            text-decoration underline
    /* :::::::::::: DEVISE/PASSWORD/NEW (passwords/new) :::::::::::: */
    .body_devise_password_new
      body-mixin(backgroundImage: url(/images/cream_pixels.jpg))
      margin-top 29px
      padding-top 20px
      padding-bottom 1050px
      .password_new
        padding-top 30px
        margin-left 20px
        .password_new_title
          font-size 28px
          font-weight bold
          margin-bottom 20px
        .password_new_form_email
          font-size 14px
          font-weight bold
          margin-bottom 14px
          #user_email
            padding 4px
            border-radius 4px
            margin-top 4px
            height 30px
            width 300px
            border 1px solid #E8E8E8
        .password_new_form_submit input
        .password_new_form_submit a
          margin-top 10px
          margin-bottom 10px
          button(color = Lead-Orange)
          background-color Lead-Orange
        .password_new_shared_links
          font-size 14px
          &:hover
            text-decoration underline
    /* :::::::::::: DEVISE/USERS/EDIT (registrations/new) :::::::::::: */
    .body_devise_users_edit
      body-mixin(backgroundImage: url(/images/cream_pixels.jpg))
      margin-top 29px
      padding-top 20px
      padding-bottom 1050px
      .user_edit
        padding-top 30px
        margin-left 20px
        .user_edit_title
          font-size 28px
          font-weight bold
          margin-bottom 20px
        .user_edit_form_email,
        .user_edit_form_password,
        .user_edit_form_password_confirmation,
        .user_edit_form_current_password
          font-size 14px
          font-weight bold
          margin-bottom 14px
          #user_email,
          #user_password,
          #user_password_confirmation,
          #user_current_password
            padding 4px
            border-radius 4px
            margin-top 4px
            height 30px
            width 200px
            border 1px solid #E8E8E8
        .user_edit_form_submit input
        .user_edit_form_submit a
          margin-top 10px
          margin-bottom 10px
          button(color = Lead-Orange)
        .user_edit_cancel_acount,
        .user_edit_unhappy,
        .user_edit_back
          font-size 14px
          &:hover
            text-decoration underline
        .user_edit_button_cancel_account input
        .user_edit_button_cancel_account a
          margin-top 10px
          margin-bottom 10px
          button(color = Lead-Orange)
    /* :::::::::::: LEADS/NEW (new lead - for end customers (B2C))  :::::::::::: */
    .body_leads_new
      margin-top 30px
      font-family App-Font-Family
      .lead_new_photo
        body-mixin(backgroundImage: url(/images/interior1.jpg))
        padding-top 20px
        padding-bottom 100px
        .lead_new
          stack()
          left 10px
          margin-left 0px
          margin-top 30px
          margin-top 30px
          margin-bottom 40px
          width 90%
          background: rgb(0, 0, 0); /* fallback color */
          background: rgba(0, 0, 0, 0.7);
          padding-bottom 14px
          .lead_new_title
            -webkit-font-smoothing: antialiased
            color Lead-Orange
            padding-top 20px
            padding-left 20px
            padding-right 20px
            font-size 24px
            font-weight bold
            margin-bottom 20px
            line-height 120%
          .lead_new_instructions
            -webkit-font-smoothing: antialiased
            padding-left 20px
            padding-right 20px
            color white
            font-size 17px
            font-weight bold
            margin-bottom 40px
            line-height 120%
          .lead_new_form_business_type,
          .lead_new_form_time,
          .lead_new_form_zip,
          .lead_new_form_description,
          .lead_new_form_name,
          .lead_new_form_email,
          .lead_new_form_phone,
          .lead_new_form_property_type,
          .lead_new_form_material_supply
            color white
            padding-left 20px
            padding-right 20px
            font-size 12px
            margin-bottom 14px
            #lead_business_type,
            #lead_time,
            #lead_property_type,
            #lead_material_supply
              color Offer-Font-Color
              font-weight bold
              font-size 10px
              padding 2px
              border-radius 4px
              margin-top 4px
              height 30px
              width 90%
              border 1px solid #E8E8E8
            #lead_name,
            #lead_email,
            #lead_address,
            #lead_affiliation_id,
            #lead_phone
              center()
              padding 4px
              border-radius 4px
              margin-top 2px
              margin-left 0px
              font-size 12px
              height 30px
              width 90%
              border 1px solid #E8E8E8
            #lead_zip
              color Offer-Font-Color
              font-weight bold
              center()
              padding 4px
              border-radius 4px
              margin-top 2px
              margin-left 0px
              font-size 12px
              height 30px
              width 90%
              border 1px solid #E8E8E8
            #lead_description
              color Offer-Font-Color
              font-weight bold
              center()
              padding 4px
              border-radius 4px
              margin-top 2px
              margin-left 0px
              font-size 12px
              height 70px
              width 90%
              border 1px solid #E8E8E8
          .lead_new_form_remember_me
            font-size 10px
          .lead_new_form_submit input
          .lead_new_form_submit a
            shift 0.39
            color red
            button(color = Lead-Orange)
          .lead_new_shared_links
            font-size 10px
            &:hover
              text-decoration underline
        .lead_new_explanation
          stack()
          margin-left 0px
          width 40%
          margin-top 20px
          padding 20px
          font-size 12px
          font-weight bold
          color white
          background: rgb(0, 0, 0); /* fallback color */
          background: rgba(0, 0, 0, 0.7);
          .lead_new_explanation_first,
          .lead_new_explanation_second,
          .lead_new_explanation_third
            padding-bottom 20px
            width 60%
            // text-align center
            .fa.fa-pencil,
            .fa.fa-files-o,
            .fa.fa-check-square-o
              margin-left 10px
              font-size 35px
              padding-right 30px
              padding-bottom 10px
      .lead_new_we_help
        padding 40px 40px 40px 40px
        background-color white
        color #606060
        .lead_new_we_help_title
          font-size 16px
          text-transform: uppercase
          text-align center
          color Lead-Orange
          margin-bottom 20px
        .lead_new_we_help_categories_title
          font-size 12px
          font-weight bold
          text-align center
          margin-bottom 40px
        .lead_new_we_help_categories_list
          text-align center
          font-size 12px
          shift 0.03
          .fa.fa-check-square-o
            padding 10px 10px 0px 0px
            font-size 14px
            color #606060
            opacity 0.8
      .lead_new_company_info
        padding 50px 0px 50px 0px
        background-color black
        text-align center
        font-size 12px
        .lead_new_company_info_name
          font-size 14px
          text-transform: uppercase
          color white
          font-weight bold
        .lead_new_company_info_name,
        .lead_new_company_info_contact
          padding 7px 0px 0px 0px
          color white
    /* :::::::::::: WALLET_PAYMENT => adding money to the wallet :::::::::::: */
    /* :::::::::::: same styling also for ORDERS/WALLET_PAYMENT_FOR LEADS:::::::::::: */
    .body_wallet_payment
      body-mixin(backgroundImage: url(/images/interior1.jpg))
      margin-top 29px
      .wallet_payment_offer
        center(720px)
        opacity 0.95
        width 95%
        position relative
        top 10px
        padding 40px
        padding-top 70px
        padding-bottom 70px
        background-color white
        .wallet_payment_offer_title
          center(550px)
          color Offer-Font-Color
          font-weight bold
          font-size 28px
          padding-bottom 50px
        .wallet_payment_offer_promotion
          margin-top 20px
          margin-bottom 50px
          font-size 13px
          font-weight bold
          background-color Lead-Orange
          padding 4px
        .wallet_payment_offer_company_info
          color Offer-Font-Color
          border 1px solid #e7e7e7
          box-shadow inset 0 0 0 0 #CCC
          border-radius 4px
          padding 4px 7px 4px 10px
          background-color Lead-Subtitle
        .wallet_payment_offer_company_info  td:last-child
          text-align left
        .wallet_payment_offer_company_info  td:first-child
          text-align left
          width 109px
        .wallet_payment_offer_date
          color Offer-Font-Color
          font-size 13px
          margin 10px 10px 20px 10px
          text-align left
        .wallet_payment_offer_sosed_info
          margin-top 20px
          color Offer-Font-Color
          text-align left
          border 1px solid #e7e7e7
          box-shadow inset 0 0 0 0 #CCC
          border-radius 4px
          .wallet_payment_offer_sosed_info_price td
            font-weight bold
            padding 15px 30px 15px 30px
            font-size 16px
            background-color Lead-Orange
            color white
          .wallet_payment_offer_sosed_info_item td
            font-weight bold
            background-color #eeeeee
            padding 15px 30px 0px 30px
            font-size 12px
          .wallet_payment_offer_sosed_info_item td:last-child
            padding 15px 30px 15px 30px
        .wallet_payment_offer_instructions
          margin-top 20px
          font-size 12px
          font-weight bold
    /* :::::::::::: DEVISE ALERTS :::::::::::: */
    .alert.alert-notice
      position relative
      top 60px
      left 70px
      color Lead-Orange
      font-size 14px
    /* :::::::::::: STATICPAGES/WELCOME landing singlepage :::::::::::: */
    .body_welcome
      body-mixin(backgroundImage: url(/images/interior1.jpg))
      margin-top 30px
      padding-bottom 1500px
      .leads_index_no_leads_available
        position: absolute;
        top: 5%;
        margin-left: 5%;
        background: #000;
        background: rgba(0,0,0,0.7);
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        filter: blur(0px);
        padding: 5%;
        padding-bottom 10%
        font-size: 20px;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        max-width: 60%;
        min-width: 91%;
        color: #fff;
        letter-spacing: -1px;
        line-height: 150%;
      .leads_index_no_leads_available_button_first a
        button(size: large)
        margin-right 10%
        margin-bottom 10%
        float left
      .leads_index_no_leads_available_button_second a
        button(size: large, color: #fac30e)
    /* :::::::::::: STATICPAGES/INFO :::::::::::: */
    .body_info_singlepage
      font-family App-Font-Family
      .section_picture
        mobile-body-mixin(backgroundImage: url(/images/interior1.jpg))
        margin-top 18px
        padding-bottom 400px
        .section_picture_background
          padding-top 100px
          padding-bottom 33px
          opacity 0.8
          background-color black
          .section_picture_title
            left -60px
            font-size 35px
            font-weight bold
            color white
          .section_picture_text
            top 50px
            left -10px
            center(280px)
            font-size 16px
            color white
          .section_picture_buttons
            margin-top 40px
            padding-bottom 90px
            left 10px
            font-size 18px
          .section_picture_buttons_signup
            button(color = Lead-Orange)
            width 120px
          .section_picture_buttons_signin
            button(color = Lead-Orange)
            width 135px
          .fa.fa-angle-down
            top 50px
            padding-bottom 50px
            shift 0.42
            color white
            font-weight bold
            font-size 30px
      .section_welcome
        padding 50px 60px 60px 60px
        background-color black
        color white
        letter-spacing 1.4px
        font-weight: 300
        .section_welcome_title
          font-size 22px
          color Lead-Orange
          margin-bottom 10px
        .section_welcome_subtitle
          font-size 16px
          letter-spacing 2px
          margin-bottom 30px
        .section_welcome_text
          font-size 14px
          line-height 150%
      .section_divided
        padding-bottom 300px
        color white
        font-size 20px
        letter-spacing 1.4px
        line-height 200%
        .section_divided_left
          span(1/2)
          height 500px
          padding 100px 20px 100px 20px
          background-color Lead-Orange
        .section_divided_right
          span(1/2)
          height 500px
          padding 100px 20px 100px 20px
          background-color #82c0c7
      .section_how_it_works
        padding 0px 0px 60px 0px
        background-color white
        letter-spacing 1.4px
        font-weight: 300
        color black
        .section_how_it_works_image
          body-mixin(backgroundImage: url(/images/interior4.jpg))
          margin-top 29px
          padding-bottom 350px
        .section_how_it_works_title
          margin 60px 60px 10px 30px
          font-size 22px
          color Lead-Orange
        .section_how_it_works_text
          margin 10px 60px 0px 30px
          font-size 14px
          line-height 150%
        .section_how_it_works_text a
          button(color: #fac30e)
          margin 10px 100px 10px 0px
          width 300px
      .section_our_team
        padding 0px 0px 60px 0px
        background-color Lead-Orange
        letter-spacing 1.4px
        font-weight: 300
        color white
        text-align center
        .fa.fa-heart
          margin 60px 60px 20px 30px
          font-size 50px
        .section_our_team_title
          margin 20px 60px 0px 30px
          font-size 22px
        .section_our_team_text
          margin 0px 60px 10px 30px
          padding-top 60px
          font-size 14px
        .section_our_team_text a
          button(color: white)
          width 300px
          margin-bottom 30px
      .section_budget
        padding 0px 0px 60px 0px
        background-color welcome
        letter-spacing 1.4px
        font-weight: 300
        color Lead-Orange
        text-align center
        .fa.fa-calculator
          margin 60px 60px 20px 30px
          font-size 50px
          color Lead-Orange
        .section_budget_title
          margin 20px 60px 60px 30px
          font-size 22px
          color Lead-Orange
        .section_budget_text
          margin 60px 60px 60px 30px
          font-size 14px
          line-height 150%
      .section_what_customers_want
        padding 60px 60px 60px 60px
        background-color black
        color #82c0c7
        text-transform: uppercase
        text-align center
        .section_what_customers_want_title
          margin-bottom 30px
          font-size 22px
        .fa.fa-check-square-o
          font-size 22px
          margin-right 10px
        .section_what_customers_want_item
          margin-bottom 20px
          font-size 14px
      .section_join_sosed
        background-color Lead-Orange
        color black
        font-size 14px
        text-transform: uppercase
        font-weight bold
        letter-spacing 1.4px
        line-height 200%
        .section_why_sosed_image
          backgroundImage: url(/images/interior2.jpg)
          padding-bottom 400px
        .fa.fa-line-chart,
        .fa.fa-paper-plane-o,
        .fa.fa-thumbs-up
          shift 0.3
          padding 50px 0px 0px 0px
          font-size 70px
          background-color Lead-Orange
          color black
        .section_join_sosed_introduce,
        .section_join_sosed_cooperation,
        .section_join_sosed_success
          text-align center
          color black
          padding 30px 50px 20px 50px
          background-color Lead-Orange
      .section_why_sosed
        padding 0px 0px 60px 0px
        letter-spacing 1.4px
        font-weight: 300
        color black
        text-align center
        .section_why_sosed_title
          margin 60px 60px 60px 30px
          font-size 16px
          color Lead-Blue
          font-weight bold
        .section_why_sosed_text
          margin 60px 60px 30px 30px
          font-size 14px
          line-height 150%
      .section_form
        letter-spacing 1.4px
        font-weight: 300
        color black
        #mc_embed_signup
          background-color Lead-Blue
          padding 50px 0px 30px 0px
        #mc_embed_signup label
          font-size 20px
          color white
          text-align center
        #mce-EMAIL
          shift 0.21
          width 200px
        #mc-embedded-subscribe
          shift 0.32
          background-color Lead-Orange
          width 100px
      .section_company_info
        text-align center
        background-color black
        color white
        font-size 11px
        .section_company_info_name
          font-size 18px
          text-transform: uppercase
          color white
          font-weight bold
        .section_company_info_name,
        .section_company_info_street,
        .section_company_info_city,
        .section_company_info_tax_number,
        .section_company_info_bank_account,
        .section_company_info_contact
          padding 7px 0px 0px 0px
        &:last-child
          padding-bottom 80px
    /* :::::::::::::::::::::::: STATICPAGES/NEW_LEAD_CONFIRMATION :::::::::::::::::::::::::: */
    .body_new_lead_confirmation
      body-mixin(backgroundImage: url(/images/interior1.jpg))
      margin-top 16px
      padding-top 200px
      padding-bottom 300px
      .new_lead_confirmation
        center(550px)
        margin-top 0px
        padding 20px
        background-color black
        opacity 0.8
        color white
        .new_lead_confirmation_thank_you
          font-size 22px
          font-weight bold
        .new_lead_confirmation_text
          font-size 14px
          padding-top 40px

    /* :::::::::::: PROFILE :::::::::::: */
    .body_profile
      body-mixin()
      .columns
        column-mixin(defaultTop: 18px)
        .wookmark
          wookmarkMixin()
          .lead_box
            margin-left 42px
            width 303px
            padding: 15px;
            display none
            background: #FEFEFE;
            border: 2px solid #FAFAFA;
            box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
            .profile_dashboard_title
              text-align center
              opacity 0.85
              background-color Lead-Orange
              padding 15px
              font-weight bold
              font-size 14px
            .profile_dashboard_body
              color Offer-Font-Color
              padding 30px 30px 20px 30px
              -webkit-font-smoothing: antialiased
              -moz-osx-font-smoothing: grayscale
              line-height 150%
              text-align center
              width 280px
