+below(1040px)
  .footer_container
    padding 5% 5% 5% 5%
    font-family App-Font-Family
    background-color #000
    color #606060
    font-size 12px
  .footer_main_row
    padding-bottom 5%
    overflow hidden
  .footer_column_1
    padding-right 5%
    width 20%
    float left
    ul
      list-style none
      color white
      text-transform uppercase
      li a
          text-decoration none
          color #606060
          text-transform none
          &:hover
            color white
            transition color .1s
  .footer_column_2
    width 60%
    float left
    color white
    text-transform uppercase
    .footer_column_2_column_3
      width 33%
      float left
      ul
        list-style none
        li a
          text-decoration none
          color #606060
          text-transform none
          &:hover
            color white
            transition color .1s
  .footer_social_row
    border-top 1px solid white
    padding-top 5%
    text-align center
    ul
      list-style none
      li
        display inline-block
        padding-right 5px
      li a
        text-decoration none
        .fa.fa-facebook,
        .fa.fa-twitter,
        .fa.fa-pinterest
          font-size 14px
          display block
          border 1px solid #494b55
          color #9a9eac
          width 35px
          height 35px
          border-radius 20px
          text-align center
          padding 8px 0
          -webkit-transition border-color .1s
          transition border-color .1s
          &:hover
            color white
            transition color .1s
