<section> <br>
  <% if user_signed_in? %>
      <% if current_user.coowning?(@campaign)%>
        <%= render 'campaigns/uncoown' %>
      <% else %>
        <%= render 'campaigns/coown' %>
      <% end %>
  <% else %>
    You have to <%= link_to "Sign up", 
      new_user_registration_path %> or
      <%= link_to "Login", 
      new_user_session_path %> to apply for leads.
  <% end %>
</section>
