<% @user ||= current_user %>
<div class="stats">
  <a href="<%= coowning_user_path(@user) %>">
    <strong id="coowning" class="stat">
      <%= @user.coowned_campaigns.count %>
    </strong>
    coowning
  </a>
</div>

