<div class="lead_new_form_time">
  <%= l.select :time, @time, {:prompt=>"#{I18n.t'lead-new.form.prompt-time'}"}%> <br>
</div>

<div class="lead_new_form_description">
  <%= l.label :"#{I18n.t'lead-new.form.description'}" %>
  <%= l.text_field :description %>
</div>


