<div class="lead_new_form_business_type">
  <%= l.select :business_type, @business_types, {:prompt=>"#{I18n.t'lead-new.form.prompt-business-type'}"}, required: "required" %> <br>
</div>
<div class="lead_new_form_zip">
  <%= l.label :"#{I18n.t'lead-new.form.zip'}" %>
  <%= l.text_field :zip, required: "required" %>
</div>