      <h3>Chose type of payment: </h3> 
<!--       
  #############################################################################
  2Checkout/Type: Intangible product
  https://www.2checkout.com/documentation/checkout/inline-checkout#int_params
  #############################################################################
--> 
        <form action='https://www.2checkout.com/checkout/purchase' method='post'>
          <input type='hidden' name='sid' value='202347509' />
          <input type='hidden' name='mode' value='2CO' />
          <input type='hidden' name='li_0_type' value='Blabla' />
          <input type='hidden' name='li_0_name' value='Kontakt' />
          <input type='hidden' name='li_0_price' value='12.73' />
          <input type='hidden' name='card_holder_name' value='Vpišite vaše ime' />
          <input type='hidden' name='street_address' value='Vaš naslov' />
          <input type='hidden' name='street_address2' value='/' />
          <input type='hidden' name='city' value='Kraj' />
          <input type='hidden' name='state' value='' />
          <input type='hidden' name='zip' value='Poštna številka' />
          <input type='hidden' name='country' value='Slovenia' />
          <input type='hidden' name='email' value='e-naslov@primer.si' />
          <input type='hidden' name='phone' value='Telefonska številka' />
          <button><input name='submit' type='submit' value='Credit Card' /></button>
        </form> <br>
  <!--       
  #############################################################################
  PayPal/Merchant Services/BuyNowButtons
  #############################################################################
-->
        <button> <%= link_to "Checkout", @order.paypal_url(orders_url, paypal_notifications_url) %> </button> <br>
  <!--       
  #############################################################################
  BankPayment
  #############################################################################
-->
       <br> <button><a href="/bank_transfer">Bank transfer</a></button>