<div class="payment_buttons_choose_payment_text">
  Click to see contact information of the person who posted this work offer.
  Write them a short email, introduce yourself, tell them you found their offer on RefugeesWork
  and ask them for more details and how would they like to proceed.

</div>
<div class="order_show_buy_buttons">
  <div class="order_show_buy">
    <%= link_to(
    "Continue",
    {
      :controller => 'orders',
      :action => 'edit',
      :id => @lead.reverse_orders.where(selector_id: current_user.id).first.id
      },
    :html =>
    {
      :method => :patch,
      :remote => true
    }
    ) %>
  </div>
</div>
