<div class="payment_buttons_choose_payment_text">
  If you would like to contact this user, confirm here. We wish you meet a nice new friend.
</div>
<div class="order_show_buy_buttons">
  <div class="order_show_buy">
    <%= link_to(
    "Continue",
    {
      :controller => 'orders',
      :action => 'edit',
      :id => @lead.reverse_orders.where(selector_id: current_user.id).first.id
      },
    :html =>
    {
      :method => :patch,
      :remote => true
    }
    ) %>
  </div>
</div>
