<div class="body_leads_index">

<div class="columns">
<ul class="wookmark">
<% if user_signed_in? %>
  <% if @leads.present? %>
    <% @sorted_leads.each do |lead| %>
      <div class="lead_box">
          <%= render 'lead_body_for_index', :lead => lead %>
      </div>
      <% end %>
</ul>
</div>
  <% else%>
    <div class="leads_index_no_leads_available">
      <%= I18n.t'leadsindex-notification.no-leads-available' %>
    </div>
  <% end %>
<% else %>
<div class="leads_index_no_leads_available">
  Welcome to RefugeesWork.
  <br>
  <br>
  Book a refugee for something you need to get done!
  <br>
  Haircut? Cooking? Repairs? Translation? Design? Anything else?
  <br>
  <br>
  <div class="leads_index_no_leads_available_button_first">
    <%= link_to "POST A JOB & HELP REFUGEES", new_lead_path %>
  </div>
  <div class="leads_index_no_leads_available_button_second">
    <%= link_to "ARE YOU A REFUGEE? Register here", new_user_registration_path %>
  </div>
</div>
<% end %>

<script type="text/javascript">
    var leadboxes = document.querySelectorAll('.lead_box');
    for(var i = 0; i < leadboxes.length; i++) {
      (function leadbox (ID) {
        leadboxes[ID].addEventListener('click', function onClick (event) {
          var leadpath =leadboxes[ID].querySelector('a').getAttribute('href');
          window.location.href = leadpath;
        });
      })(i);
    }
</script>
