<html>
<head>
  <title></title>
</head>
<body>
<h2>Leads</h2>
<% @leads.each do |lead| %>
  <strong><%= link_to lead.business_type, lead %> </strong> 
  (<%= lead.time %>, 
  <%= lead.name %>) <br>
<% end %>
</body>
</html>
