
<div class="body_leads_new">
<section class="lead_new_photo">
  <div class="lead_new_explanation">
    <div class="lead_new_explanation_first">  
      <i class="fa fa-pencil"></i>         Delite povpraševanje </div>
    <div class="lead_new_explanation_second"> 
      <i class="fa fa-files-o"></i>        Spoznajte zainteresirane izvajalce </div>
    <div class="lead_new_explanation_third">  
      <i class="fa fa-check-square-o"></i> Izberite pravega </div>
  </div>
  <div class="lead_new">
    <div class="lead_new_title">
      Gradbenik gradbeniku 
    </div>
    <div class="lead_new_instructions">
      Oddajte storitev, ki je ne izvajate - vzemite tisto, ki jo potrebujete.<br>Delite povpraševanje in pomagali vam bomo najti do 5 primernih izvajalcev, ki so zainteresirani za sodelovanje. Vam pa bomo za vsak kontakt dodali 10€ v vašo Denarnico.
    </div>

    <%= form_for (@lead) do |l| %>
      <%= render "share", :l => l %>
    <% end %>
  </div>
</section>
<section class="lead_new_we_help">
  <div class="lead_new_we_help_title">
    Uspešni so tisti, ki se znajo povezati. Delite kontakte strank, ki iščejo izvajalce iz drugih področij. Tudi drugi bodo delili takšne kontakte in skupnost bo močnejša. 
  </div>
  <div class="lead_new_we_help_categories_title">
    Povrnimo skupaj obrtnikom in malim podjetnikom s področja gradbeništva ugled in uspeh. Za vsako povpraševanje, ki ga boste oddali, bomo v vašo Denarnico dodali 10€, ki jih lahko potem uporabite za nakup kontaktov, ki jih potrebujete vi.
  </div>
  <div class="lead_new_we_help_categories_list">
    <i class="fa fa-check-square-o"> Arhitekti</i> 
    <i class="fa fa-check-square-o"> Gradnja</i> 
    <i class="fa fa-check-square-o"> Zidarstvo</i> 
    <i class="fa fa-check-square-o"> Prenove</i>  
    <i class="fa fa-check-square-o"> Strojne instalacije</i> 
    <i class="fa fa-check-square-o"> Električne instalacije</i> 
    <i class="fa fa-check-square-o"> Slikopleskarstvo</i> 
    <i class="fa fa-check-square-o"> Fasade</i> 
    <i class="fa fa-check-square-o"> Strehe</i> 
  </div>
</section> 
<section class="lead_new_testimonials">
  <div class="lead_new_testimonials_text"><i class="fa fa-quote-left"></i>Jaz tebi - ti meni.<i class="fa fa-quote-right"></i></div>
  

  <div class="lead_new_testimonials_text"><i class="fa fa-quote-left"></i>Deli z drugimi. Če sam deliš, bodo tudi drugi delili s teboj. <i class="fa fa-quote-right"></i></div>
  

  <div class="lead_new_testimonials_text"><i class="fa fa-quote-left"></i>Hitro priskoči na pomoč. To je prva definicija uspeha.<i class="fa fa-quote-right"></i></div>
</section>
<section class="lead_new_company_info">
  <div class="lead_new_company_info_phone"> 080 4144</div>
  <div class="lead_new_company_info_name">Moj sosed d.o.o.</div>
  <div class="lead_new_company_info_address">Radehova 39, 2230 Lenart</div>
  <div class="lead_new_company_info_address">Jablonskistr. 24, 10405 Berlin</div>
  <div class="lead_new_company_info_contact"><%= mail_to "info@sosed.si", "info@sosed.si" %></div>
</section> 