<div class="order_show_buy_popup">
  Namesto nakupa samo 1 kontakta se izvajalci včasih odločijo za:<br>
  <div class="order_show_buy_popup_item">
    <a href="<%= plans_path %>">Paket neomejenih kontaktov</a>
  </div>
</div>