<div class="order_show_buy_popup">
  Izbirate lahko med 3 možnostmi plačila:
  <div class="order_show_buy_popup_item">
    1 kontakt (10€)
  </div>
  <div class="order_show_buy_popup_item">
    1 mesec neomejenih kontaktov (45€)
  </div>
  <div class="order_show_buy_popup_item">
    6 mesecev neomejenih kontaktov (240€)
  </div>
</div>