

body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

body {
    font-family = 'Helvetica','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
    -webkit-overflow-scrolling: touch;
}


#img {
    height: 100%;
    min-height: 600px;
}

.lg-maincontent {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

/* */

.lg-clear {
    clear: both;
}

a {
    text-decoration: none;
}

/* */

.downarrow {
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

/*mobile screen, hide down arrow*/
@media (max-width: 1024px) {
    .downarrow {
        display: none;
    }
}

.lg-row {
    overflow: hidden;
}

.lg-subcolumn {
    width: -moz-calc(95% - 50px);
    width: -webkit-calc(95% - 50px);
    width: calc(95% - 50px);
    text-align: left;
    display: inline-block;
}

.lg-subcolumnicon {
    vertical-align: top;
    width: 50px;
    display: inline-block;
}

.lg-overflow {
    overflow: visible;
}


.column, .lg-column2, .lg-column3, .lg-column4, .lg-column60, .lg-column40 {
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
    box-sizing: border-box;
}

.lg-column60 {
    width: 60%;
}

.lg-column40 {
    width: 36%;
}

.column, .lg-column2 {
    width: 46%;
}

.lg-column3 {
    width: 31%;
}

.lg-column4 {
    width: 22%;
}

.lg-borderbox {
    box-sizing: border-box;
    border: 1px solid lightgray;
    padding: 10px;
}



.space {
    margin-top: 200px;
}

.lg-left {
    text-align: left !important;
}

.lg-right {
    text-align: right !important;
}

.lg-center {
    text-align: center !important;
}


h1, h2, h3, h4 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    font-weight: 400;
}

h1 {
    font-size: 1.7em;
    font-family = 'Helvetica','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif
}



.padtopbig {
    padding-top: 200px;
}

.padtopmedium {
    padding-top: 70px;
}

.lg-padtopsmall {
    padding-top: 30px;
}

.lg-padbottomsmall {
    padding-bottom: 30px;
}

.lg-padbottommedium {
    padding-bottom: 70px;
}

.lg-padbottomlarge {
    padding-bottom: 200px;
}

.padbottom1 {
    padding-bottom: 1px;
}

footer {
    width: 100%;
    background-color: #FFAE4D;
    text-align: center;
    color: white;
    min-height: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: medium;
}

.footersocial {
    vertical-align: top;
    margin-top: 2px;
}

.sitecoloricon {
    color: gray !important;
}

.lg-iphonemockrow {
    height: 200px;
    margin-top: 20px;
}

footer a {
    color: lightgray;
    transition: all 0.2s ease;
    display: inline-block;
}

    footer a:hover {
        color: white;
    }

footer span {
    height: 25px;
    line-height: 25px;
    display: inline-block;
}

footer i {
    display: inline-block;
    vertical-align: middle;
}

.smallertext {
    font-size: 50px;
}



.fullscreen-cont {
    /*width: -moz-calc(100% - 300px) !important;
    width: -webkit-calc(100% - 300px) !important;
    width: calc(100% - 300px) !important;*/
    height: 100%;
    min-height: 650px !important;
    position: relative;
    /*display: block;
    position: relative;
    min-width: 100%;
    height: 100vh;
    min-height: 500px;
    overflow: hidden;*/
}


.lg-backgroundcolordark {
    background-color: #FFAE4D;
}

.lg-backgroundcolor {
    background-color: #FFAE4D;
}

.lg-backgroundcolorlight {
    background-color: white !important;
}

.lg-borderlight {
    border-color: white !important;
}

.fullwidth {
    width: 100%;
}

.lg-roundfaceimgcontainer {
    width: 250px;
    height: 250px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    border-radius: 125px;
    overflow: hidden;
    margin: 0 auto;
}

    .lg-roundfaceimgcontainer > img {
        height: 100%;
    }

hr {
    margin-top: 0;
    margin-bottom: 10px !important;
}

.lg-lowerchevron, .lg-lowerchevrondivider {
    position: relative;
    margin-bottom: 30px;
}

.lg-lowerchevrondivider {
    margin-bottom: 80px !important;
    border-color: gray;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

    .lg-lowerchevron:after, .lg-lowerchevrondivider:after {
        background-color: inherit;
        border-color: inherit;
        border-width: 0px 1px 1px 0px;
        content: ' ';
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        bottom: -21px;
        left: 50%;
        margin-left: -21px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        border-style: solid;
        z-index: -1;
    }

    .lg-lowerchevrondivider:after {
        z-index: 1;
    }

.lg-panelthindark.lg-lowerchevron:after {
    border-width: 0px;
}

.lg-chevrondividerdarkpost {
    height: 1px;
}

.minscreenheight {
    min-height: 850px !important;
}

.lg-minhalfscreen {
    min-height: 425px !important;
}

.screenheight {
    height: 100vh;
    min-height: 800px !important;
}

.halfscreen {
    height: 50vh;
    min-height: 400px !important;
}

/*mobile screen, hack the screen height*/
@media (max-width: 1024px) {
    .screenheight {
        min-height: 1400px !important;
        height: 1400px !important;
    }

    .halfscreen {
        min-height: 700px !important;
        height: 700px !important;
    }
}

.lg-paneldark, .lg-panelthindark {
    background-color: #FFAE4D;
}

.lg-paneldark, .lg-panellight, .lg-panelthindark, .lg-panelthinlight {
    display: block;
    width: 100%;
    min-height: 300px;
}

.lg-panellight, .lg-panelthinlight {
    background-color: white;
}

.lg-panelthindark, .lg-panelthinlight {
    min-height: 8px;
}

.lg-panel, .panelshort {
    display: block;
    max-width: 1040px;
    width: 100%;
    font-size: medium;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}

/*mobile screen, drop the padding*/
@media (max-width: 520px) {
    .lg-panel, .panelshort {
        padding-left: 0px;
        padding-right: 0px;
    }
}





hr {
    text-align: center;
    max-width: 1040px;
}




.lg-panel {
    min-height: 400px;
    padding-bottom: 70px;
}

.lg-scrollfadein {
    -moz-backface-visibility: hidden;
}

.lg-scrollleftin {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.scrollrightin {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.lg-paneldark *, .lg-panelthindark * {
    color: rgba(255,255,255,1);
}


.lg-panellight *, .lg-panelthinlight * {
    color: #606060;
}

.lg-row2columnpicture {
    overflow: hidden;
}

.lg-columnpicturefixed {
    height: 350px;
    overflow: hidden;
    background-color: #82c0c7;
    opacity: 0.7;
}


.lg-hideoverflow {
    overflow: hidden;
}

.lg-columnpicture {
    min-height: 350px;
    width: 100%;
}

.maingraphic {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.graphicpanel, .lg-graphicpanelthin {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 100%;
    min-height: 350px;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
/*    background-image:url('https://s3.amazonaws.com/singlepage.guru/images/tumblr_n5p1417qP91qfirfao1_1280.jpg');
*/}

.lg-graphicpanelthin {
    min-height: 150px;
}

.backgroundimage, .backgroundimagepanel {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.backgroundimagepanel {
    height: 300px;
}

/* */

.gap {
    height: 100px;
    display: block;
}


/*mobile screen, drop the padding*/
@media (max-width: 520px) {
    .gap {
        height: 0px;
    }
}

.lg-panel, .panelshort, .lg-paneldark, .lg-panellight, .lg-panelthindark, .lg-panelthinlight {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}



.fullscreen-img {
    display: block;
    position: absolute;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
    background: center center no-repeat;
    background-size: cover;
}




.grid {
    background: url(../images/grid.png) repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -9;
}

.lg-splashbox {
    min-height: 60%;
    /*border: 2px solid white;*/
}

.boxsplashthumb {
    left: 0;
    right: 0;
    color: white;
    border: solid 1px white;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
    text-align: center;
    line-height: 30px;
    background-color: #FFAE4D;
}


.box {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: relative;
    display: inline-block;
    /*border: solid 2px white;*/
    border-radius: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    padding-bottom: 120px;
    margin-top: 5%;
    /*color: white;*/
    -moz-transition: 0.1s;
    -webkit-transition: 0.1s;
    transition: 0.5s;
    width: 80%;
    min-width: 600px;
    max-width: 900px;
    box-sizing: border-box;
}

.titlefadeout {
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

.titletransition {
    opacity: 0;
}


.darker {
    background: rgb(0, 0, 0); /* fallback color */
    background-color: white;
    opacity: 0.9;
    color: white;
}

    .darker * {
        color: #606060;
    }





.lg-hero-title {
    font-size: 35px;
}

.lg-hero-title-medium {
    font-size: 1.5em;
}

.hero-size-small, .hero-size-medium, .hero-size-large {
    opacity: 0.15;
}

.hero-size-small {
    font-size: 6em;
}

.hero-size-medium {
    font-size: 14em;
    margin-left: 10px;
    margin-left: 10px;
}

.hero-size-large {
    font-size: 24em;
}



/* contact form */

.contactlabels {
    display: inline-block;
    width: 10%;
    min-width: 100px;
    vertical-align: top;
    vertical-align: text-top;
}

.contactfields {
    display: inline-block;
    width: 89%;
    vertical-align: top;
    vertical-align: text-top;
}

.contactlabel {
    display: block;
    font-size: large;
    line-height: 1.7em;
}

.contactinput {
    display: block;
    width: 99%;
    font-size: 18px;
    color: black;
    padding: 3px;
    border-width: 1px;
}

input {
    font-family: inherit;
}

.contactmessage {
    resize: vertical;
    display: block;
    width: 99%;
    font-size: 18px;
    color: black;
    font-family: inherit;
    font-weight: inherit;
    padding: 3px;
}

textarea:focus, input:focus {
    outline: 0;
}

.contactbutton, .subscribebutton, .subscribeinput, .subscribeinputlight, .subscribebuttonlight {
    font-size: larger;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px white;
    border-radius: 0px;
    color: black;
}

.subscribeinputlight, .subscribebuttonlight {
    border: solid 1px gray;
}



.subscribeinput, .subscribebutton, .subscribebuttonlight, .subscribeinputlight {
    margin: 0px;
    vertical-align: top;
}

.subscribeinput, .subscribeinputlight {
    height: 23px;
    width: 60%;
}


/* slider */



.slider ul {
    padding-start: 0px;
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
}

[dir=ltr] .slider ul {
    padding-left: 2.5em;
}

.sliderbigimagebackground {
    background-size: cover;
    width: 100%;
    height: 100%;
}

.sliderbigimagetitle {
    color: white !important;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, .4);
    text-align: center;
}

.sliderbigimage {
    height: 400px;
}

.slidermediumimage {
    height: 200px;
}

@media (min-width: 768px) {
    .slidermediumimage {
        height: 400px;
    }

    .sliderbigimage {
        height: 700px;
    }
}


.slidermediumimagebackground {
    background-size: cover;
    width: 100%;
    height: 100%;
}

.slidermediumimagetitle {
    color: white !important;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, .4);
    text-align: center;
}


.slider-arrow {
    background-image: url(../images/glide-arrows.png);
    width: 17px;
    height: 28px;
    display: block;
    padding: 0;
}

.slider-arrow--left {
    margin-left: 36px;
    background-position: 0 0;
}

    .slider-arrow--left:hover {
        background-position: 0 -28px;
    }

.slider-arrow--right {
    margin-right: 36px;
    background-position: -17px 0;
}

    .slider-arrow--right:hover {
        background-position: -17px -28px;
    }

.box-shadow {
    -webkit-box-shadow: 0px 12px 24px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 12px 24px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 12px 24px 0px rgba(50, 50, 50, 0.75);
}

.slider-nav__item {
    border-radius: 8px;
    background: transparent;
    border: 1px solid #fff;
}

    .slider-nav__item:hover {
        background: #fff;
    }

.slider-nav__item--current {
    background: #fff;
}

/* lg-pricing */

.lg-pricebutton {
    width: 100%;
    font-size: x-large;
    padding: 10px;
    border: solid 1px white;
    color: black;
}


.lg-pricing {
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    text-align: center;
}

.lg-pricecolumn {
    border: solid 1px;
    border-color:rgba(38,54,51,1)
    padding: 2px;
    min-width: 220px;
}

.lg-box {
    border: 1px solid gray;
}


.lg-priceheader {
    background-color: #FFAE4D;
    font-size: 3em;
    color: white;
    padding: 20px;
}

.lg-pricesubheading {
    padding: 5px;
    font-size: larger;
    font-weight: bold;
}

.lg-pricecontent {
}

.lg-priceunorderedlist {
    list-style: square;
    list-style-position: inside;
    padding: 1px;
    margin: 5px;
}

.lg-pricelistitem {
    padding: 1px;
    margin: 5px;
}

.lgsocialbutton i {
    display: block;
    vertical-align: middle;
    line-height: 40px;
}

.lgsocialbutton {
    border: solid 1px #d0d0d0;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    text-align: center;
    min-width: 40px;
    height: 40px;
    display: inline-block;
    margin-bottom: 10px;
    transition: all 0.2s ease;
}

    .lgsocialbutton * {
        color: white;
    }

    .lgsocialbutton:hover {
        border-color: orangered;
    }


.fontlink {
    color: inherit;
}

    .fontlink:hover {
        color: #606060 !important;
    }

button {
    font-family: inherit;
    background-color: #606060;
}

    button:hover {
        background-color: #FFAE4D;
    }

.lg-brighticon * {
    color:rgba(54,77,73,1);
}


.lg-social {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    text-align: center;
}

.lg-circlesocial * {
    color:rgba(255,255,255,1);
}

.lg-circlesocial {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    font-size: 160px;
    line-height: 200px;
    text-align: center;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

    .lg-circlesocial:hover {
        background-color: #FFAE4D;
    }

    .lg-circlesocial > i {
        padding-top: 25px;
    }

#map_canvas {
    width: 100%;
    height: 400px;
    background-color: #fff;
}






label {
    vertical-align: middle;
}

    label input {
        vertical-align: -2px;
    }



.inline {
    display: inline-block;
}

.block {
    display: block;
}



input {
    color: rgb(0,10,10) !important;
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: -moz-text !important;
    -o-user-select: text !important;
    user-select: text !important;
    font-size: inherit !important;
    font-family: inherit !important;
}

textarea {
    color: rgb(0,10,10) !important;
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: -moz-text !important;
    -o-user-select: text !important;
    user-select: text !important;
}



/*.lg-halfwidth {
    width: 50%;
    margin: 0 auto;
}*/


.blur {
    -webkit-filter: blur(1px);
    filter: blur(1px);
}


.maxwidthoverride img {
    max-width: initial !important;
}

.maxwidthimage {
    max-width: 100%;
}




.lg-ul {
    font-size: larger;
    text-align: left;
    list-style: square;
}

.lg-li {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: inherit;
    color: inherit;
}


.lg-hide {
    display: none;
}




.lg-iphonescreenshot {
    width: 292px;
    height: 414px;
    margin: 0 auto;
    margin-top: -631px;
    padding-left: 32px;
    padding-right: 25px;
    position: relative;
    min-width: 292px;
    overflow: hidden;
}

.lg-iphonescreenshotbackground {
    position: relative;
    width: 292px;
    height: 600px;
    background-image: url('https://d3tonceflbkdng.cloudfront.net/images/iPhone-5S-3-colors-Mock-up.png');
    margin: 0 auto;
}


.lg-galaxyscreenshot {
    width: 300px;
    height: 422px;
    margin: 0 auto;
    margin-top: -577px;
    padding-left: 29px;
    padding-right: 33px;
    position: relative;
    min-width: 300px;
    overflow: hidden;
}

.lg-galaxyscreenshotbackground {
    width: 300px;
    height: 552px;
    position: relative;
    background-image: url('https://d3tonceflbkdng.cloudfront.net/images/galaxys5.png');
    margin: 0 auto;
}


.lg-macbookairscreenshotwrapper {
    height: 592px;
    text-align: center;
    position: relative;
}

.lg-macbookairscreenshot {
    width: 705px;
    height: 442px;
    position: absolute !important;
    left: 232px !important;
    top: 39px;
}

.lg-macbookairscreenshotbackground {
    width: 980px;
    height: 592px;
    margin: 0 auto;
    background-image: url('https://s3.amazonaws.com/singlepage.guru/images/macbookair.png');
}


.lg-iphonehandscreenshot {
width: 600px;
height: 600px;
margin-left: -600px;
margin-top: -587px;
padding-left: 214px;
padding-right: 197px;
padding-top: 81px;
position: relative;
padding-bottom: 183px;
min-width: 600px;
overflow: hidden;
transform: rotate(20.78deg);
}

.lg-iphonehandscreenshotbackground {
    width: 600px;
    height: 600px;
    position: relative;
    background-image: url('https://d3tonceflbkdng.cloudfront.net/images/iphonehand.png');
    transform: scaleX(-1);
    margin-left:0px;
}

.lg-iphonehandscreenshottitle {
    position: absolute !important;
    color: white !important;
    top: 200px;
    left: 600px;
    font-size: 7em;
}

.lg-iphonehandscreenshotwrapper {
    text-align: center;
    position: relative;
    height: 600px;
    background-color:#FFAE4D;
    background-size:cover;
}


.lg-formsent, .lg-formerror {
    line-height:46px;
    display:none;
}

.lg-sending {
    display:none;
}

