<html>
<head>
  <title></title>
</head>
<body>
  <div>
    <h2><p><strong>Campaigns you applied for
    </strong> <br></p></h2>
    <% @campaigns.each do |campaign| %>
      <% if current_user.coowning?(campaign) %>  
        <strong><%= link_to campaign.title, campaign%></strong>
        <%= link_to "Edit campaign", edit_campaign_path(campaign) %> <br>
      <% end %>
    <% end %>
      <% if @campaigns.count > 0 %>
        <div>
          <h2><p><strong>Your running campaigns</strong> <br></p></h2>
          Currently you have no running campaigns.
        </div>
        <div>
          <h2><p><strong>Your leads to potencial customers</strong> <br></p></h2>
          Currently you have no leads.
        </div>
      <% else %>
        No campaigns yet.
        <div>
          <p><a href ="campaigns/new">POST</a> your campaign and find people who will join and share costs with you.</p>
          <p>OR</p>
        </div>
        <div>
          <p>BROWSE active campaigns & click to get more details on a campaigns</p>
          <body>
          <% @campaigns.each do |campaign| %>
            <%= link_to campaign.title, campaign%> <br>
          <% end %>
        </div>  
      <% end %>
  </div>
</body>
</html>