@import 'jeet/index'

// edit()

// :::::::::::: COLORS :::::::::::::: //

// ::: LEAD ::: //
Lead-Orange = #FFAE4D
Lead-Orange-light = #FFAE4D
Lead-Subtitle = #F0F0F0

// ::: ORDER ::: //
Order-Orange = #FFAE4D  
Order-Orange-light = #FFAE4D
Order-Subtitle = #FFEED9


// ::: MENU ::: //
Menu-Bottom-Color = white  
Menu-Top-Color = white

// ::: BODY ::: //
Background-Color = #EEEEEE
Buy-Button-Color = #FFAE4D 

// ::: BODY ::: //
Offer-Font-Color = #606060

// :::::::::::: APPLICATION.html.erb => menu buttons & login :::::::::::: //

.top_menu_bar
  shift (-1/1000)
  background-color Menu-Top-Color
  border-bottom 1px solid #ccc
  position fixed
  top 0
  z-index 999
  width 100%
  height 33px
  padding-bottom 7px
  .logged_user
    shift(0.019)
    font-size 12px
    display inline-block
  .logo
    shift(0.38)
    height 35px
    display inline-block
  .info
    shift(0.574)
    font-size 19px
    display inline-block
    -webkit-font-smoothing: antialiased
    .fa.fa-info-circle
      color #606060
      &:hover
        color Lead-Orange
        -webkit-font-smoothing: antialiased
  
.bottom_menu_bar
  shift (-0.02)
  background-color white
  position fixed
  bottom 0
  z-index 999
  width 102%
  height 40px
  padding-left 131px
  border-top 1px solid #ccc
  font-size 20px
  a[href="/"]
    background-color white
    span(1/4)
    text-align center
    width 207.8px
    border-right 1px solid #e7e7e7
    padding 7px
    font-size 22px
  .fa.fa-home
    color #606060
    &:hover
      color Lead-Orange
  .fa.fa-home::after
    content: " Home"
    font-size 14px
    padding-bottom 4px
    &:hover
      color Lead-Orange
  a[href="/reserved"]
    span(1/4)
    text-align center
    width 207.8px
    border-right 1px solid #e7e7e7
    padding 7px
    font-size 22px
  .fa.fa-star
    color #606060
    &:hover
      color Lead-Orange
  .fa.fa-star::after
    content: " Reserved"
    font-size 14px
    padding-bottom 4px
    &:hover
      color Lead-Orange
      -webkit-font-smoothing: antialiased
  a[href="/address_book"]
    span(1/4)
    text-align center
    width 207.8px
    border-right 1px solid #e7e7e7
    padding 7px
    font-size 20px
  .fa.fa-users
    color #606060
    &:hover
      color Lead-Orange
      -webkit-font-smoothing: antialiased
  .fa.fa-users::after
    content: " Address book"
    font-size 14px
    padding-bottom 4px
    &:hover
      color Lead-Orange
      -webkit-font-smoothing: antialiased
  a[href="/profile"]
    span(1/4)
    text-align center
    width 207.8px
    border-right 1px solid #e7e7e7
    padding 7px
    font-size 22px
  .fa.fa-cog
    color #606060
    &:hover
      color Lead-Orange
      -webkit-font-smoothing: antialiased
  .fa.fa-cog::after
    content: " Profile"
    font-size 14px
    padding-bottom 4px
    &:hover
      color Lead-Orange
      -webkit-font-smoothing: antialiased

body
  background-image url("./subtle_zebra_3d.png") 
  margin 0px
  font-size 10px
  color #606060
  font-family: 'Helvetica','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif
  
  a  
    text-decoration none
    color #606060
    font-family: 'Helvetica','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif

// :::::::::::: LEADS/INDEX => homepage :::::::::::: //


.columns
  opacity 0.9
  shift (-1/15)
  width 70%
  max-width 1100px
  min-width 800px
  margin 50px auto
  -webkit-column-count 3
  -webkit-column-gap 10px
  -webkit-column-fill auto
  -moz-column-count 3
  -moz-column-gap 10px
  -moz-column-fill: auto
  column-count: 3
  column-gap: 15px
  column-fill: auto
.lead_box
  vertical-align bottom
  -webkit-column-break-inside: avoid
  -moz-column-break-inside: avoid
  column-break-inside: avoid
  background-color white
  background-clip padding-box
  border-radius 4px
  box-shadow 0 1px 2px rgba(0, 0, 0, 0.05)
  border 1px solid #ccc
  margin-bottom 7px
  line-break 1px
  .lead_title
    background-color Lead-Orange
    border-top-left-radius 4px
    border-top-right-radius 4px
    padding 10px
    font-weight bold
    -webkit-font-smoothing: antialiased
    font-size 12px
    border-bottom 1px solid #e7e7e7
    &:hover
      background-color Lead-Orange-light
      border-top-left-radius 4px
      border-top-right-radius 4px
      padding 10px
      font-weight bold
      -webkit-font-smoothing: antialiased
      font-size 12px
      border-bottom 1px solid #e7e7e7
    .fa.fa-star
      color #fcd229
      font-size 16px
      &:hover
        color #606060
  .lead_body
    font-size 10px
    padding 10px
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    color #606060
    line-height 150%
    .lead_subtitle
      font-weight bold
      -webkit-font-smoothing: antialiased
      padding-top 7px

// :::::::::::: LEADS/show => individual lead :::::::::::: //

.lead_show
  opacity 0.9
  position relative
  margin 60px auto  80px 0px
  padding-bottom 40px
  width 70%
  max-width 1100px
  min-width 800px
  shift(0.079)
  vertical-align bottom
  -webkit-column-break-inside: avoid
  -moz-column-break-inside: avoid
  column-break-inside: avoid
  background-color white
  background-clip padding-box
  border-radius 4px
  box-shadow 0 1px 2px rgba(0, 0, 0, 0.05)
  border 1px solid #ccc
  line-break 1px  
  .lead_show_title
    background-color Lead-Orange
    border-top-left-radius 4px
    border-top-right-radius 4px
    padding 20px
    font-weight bold
    text-align center
    -webkit-font-smoothing: antialiased
    font-size 30px
    border-bottom 1px solid #e7e7e7
  .lead_show_body
    font-size 16px
    padding-top 7px
    padding-left 25px
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    color #606060
    line-height 150%
    .lead_show_subtitle
      font-weight bold
      -webkit-font-smoothing: antialiased
      margin-top 20px
      margin-right 15px
  .lead_show_price
    // shift(0.423)
    text-align center
    font-size 16px
    padding 10px
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    color #606060
    line-height 150%
    font-weight bold
    -webkit-font-smoothing: antialiased
    padding-top 7px
    margin-top 50px
  .lead_show_buy input,   
  .lead_show_buy a 
    span(1/7)
    margin-top 0px
    color #606060
    center()
    position relative
    width 100px
    text-align center
    line-height 24px
    background-color Buy-Button-Color
    padding 5px
    font-weight bold
    -webkit-font-smoothing: antialiased
    font-size 14px
    border 1px solid #E8E8E8  
    border-radius 4px
    &:hover
      background-color #B8B8B8 


// :::::::::::: ORDERS/show => buy lead :::::::::::: //

.order_show
  opacity 0.9
  position relative
  padding-bottom 80px 
  margin 60px auto 60px 0px
  width 70%
  max-width 1100px
  min-width 800px
  shift(0.079)
  vertical-align bottom
  -webkit-column-break-inside: avoid
  -moz-column-break-inside: avoid
  column-break-inside: avoid
  background-color white
  background-clip padding-box
  border-radius 4px
  box-shadow 0 1px 2px rgba(0, 0, 0, 0.05)
  border 1px solid #ccc
  line-break 1px  
  .order_show_title
    background-color Lead-Orange
    border-top-left-radius 4px
    border-top-right-radius 4px
    padding 20px
    font-weight bold
    text-align center
    -webkit-font-smoothing: antialiased
    font-size 30px
    border-bottom 1px solid #e7e7e7
  .order_show_body
    font-size 16px
    padding-top 7px
    padding-left 25px
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    color #606060
    line-height 150%
    .order_show_subtitle
      font-weight bold
      -webkit-font-smoothing: antialiased
      margin-top 20px
      margin-right 15px
  .order_show_price
    text-align center
    font-size 16px
    padding 10px
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    color #606060
    line-height 150%
    font-weight bold
    -webkit-font-smoothing: antialiased
    padding-top 7px
    margin-top 50px
  .payment_buttons_choose_payment_text
    text-align center
    padding 7px
  .order_show_buy input,   
  .order_show_buy a 
    color #606060
    span(1/7)
    shift(0.3)
    position relative
    width 100px
    text-align center
    background-color Buy-Button-Color
    padding 5px
    font-weight bold
    -webkit-font-smoothing: antialiased
    font-size 14px
    border 1px solid #E8E8E8  
    border-radius 4px
    &:hover
      background-color #B8B8B8
.order_show_notes
  margin-top 50px
  margin-bottom 50px
  font-size 20px
  // font-weight bold
  shift(0.08)
  .order_show_notes_title
    shift(0.008)
    margin-bottom 4px
    width 100px
  #order_notes
    position relative
    text-decoration none
    color #606060
    font-family: 'Helvetica','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif
    padding 20px
    font-size 20px 
    height 400px
    width 67%
    max-width 1100px
    min-width 800px
    vertical-align bottom
    -webkit-column-break-inside: avoid
    -moz-column-break-inside: avoid
    column-break-inside: avoid
    background-color white
    background-clip padding-box
    border-radius 4px
    box-shadow 0 1px 2px rgba(0, 0, 0, 0.05)
    border 1px solid #ccc
    margin-bottom 7px
    margin-top 7px
    line-break 1px 
  .order_show_notes_submit input
  .order_show_notes_submit a
    margin-left 799px
    margin-top 10px
    color #606060
    width 100px
    line-height 24px
    text-align center
    background-color #B8B8B8
    padding 5px
    font-weight bold
    -webkit-font-smoothing: antialiased
    font-size 12px
    border 1px solid #E8E8E8  
    border-radius 4px
    &:hover
      background-color Buy-Button-Color
  


      

// :::::::::::: BANK TRANSACTION => offer for the lead :::::::::::: //

.offer
  opacity 0.9
  margin 38px auto
  padding 100px
  background-color white
  .offer_title
    center(420px)
    color Offer-Font-Color
    font-weight bold
    font-size 28px
    margin-bottom 30px
  .offer_company_info 
    shift(0.61)
    color #606060
    padding 10px
    border 4px solid #e7e7e7
    box-shadow inset 0 0 0 0 #CCC
    border-radius 4px
    margin-bottom 7px
  .offer_date
    color #606060
    font-size 16px
    margin-bottom 20px
    shift(-0.2)
    text-align right
  .offer_sosed_info
    shift(0.075)
    margin-top 20px
    color #606060
    text-align left
    padding 10px
    border 4px solid #e7e7e7
    box-shadow inset 0 0 0 0 #CCC
    border-radius 4px
    .offer_sosed_info_price td,
      font-weight bold
      padding 4px
      font-size 12px
      background-color Lead-Subtitle     
    .offer_sosed_info_item td
      font-weight bold
      padding 4px
      font-size 12px
  .offer_show_lead
    // position relative 
    top 30px
    center(70%)
    shift(-0.07)
    height 30%
    width 70%
    vertical-align bottom
    -webkit-column-break-inside: avoid
    -moz-column-break-inside: avoid
    column-break-inside: avoid
    background-color white
    background-clip padding-box
    border-radius 4px
    box-shadow 0 1px 2px rgba(0, 0, 0, 0.05)
    border 1px solid #ccc
    margin-bottom 10px
    margin-top 7px
    line-break 1px  
    .offer_show_lead_title
      background-color Lead-Orange
      border-top-left-radius 4px
      border-top-right-radius 4px
      padding 10px
      font-weight bold
      -webkit-font-smoothing: antialiased
      font-size 20px
      border-bottom 1px solid #e7e7e7
    .offer_show_lead_body
      font-size 16px
      padding-top 3px
      padding-left 25px
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
      color #606060
      line-height 150%
      .offer_show_lead_subtitle
        font-weight bold
        -webkit-font-smoothing: antialiased
        // padding-top 4px
        // padding-bottom 4px
        // padding-left 4px
        margin-top 20px
        // background-color Lead-Subtitle
        margin-right 15px
      .ordersindex-notifications.customer-info
        color red
  .offer_instructions
    margin-top 70px
    font-size 14px
    shift(0.075)
    width 850px

// :::::::::::: ORDERS/RESERVED => Reserved Leads :::::::::::: //

.address_book_reserved_leads
  opacity 0.9
  shift(0.37)
  margin-top 60px
  font-size 20px
  font-weight bold
.address_book_columns
  shift (-1/15)
  width 70%
  max-width 1100px
  min-width 800px
  margin 50px auto
  -webkit-column-count 3
  -webkit-column-gap 10px
  -webkit-column-fill auto
  -moz-column-count 3
  -moz-column-gap 10px
  -moz-column-fill: auto
  column-count: 3
  column-gap: 15px
  column-fill: auto
  .address_book_lead_box
    vertical-align bottom
    -webkit-column-break-inside: avoid
    -moz-column-break-inside: avoid
    column-break-inside: avoid
    background-color white
    background-clip padding-box
    border-radius 4px
    box-shadow 0 1px 2px rgba(0, 0, 0, 0.05)
    border 1px solid #ccc
    margin-bottom 7px
    line-break 1px
    .address_book_lead_title
      background-color Lead-Orange
      border-top-left-radius 4px
      border-top-right-radius 4px
      padding 10px
      font-weight bold
      -webkit-font-smoothing: antialiased
      font-size 12px
      border-bottom 1px solid #e7e7e7
      &:hover
        background-color Lead-Orange-light
        border-top-left-radius 4px
        border-top-right-radius 4px
        padding 10px
        font-weight bold
        -webkit-font-smoothing: antialiased
        font-size 12px
        border-bottom 1px solid #e7e7e7
      // .fa.fa-star
      // color #fcd229
      // font-size 16px
      // &:hover
      //   color #606060
    .address_book_lead_body
      font-size 10px
      padding 10px
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
      color #606060
      line-height 150%
      .address_book_lead_subtitle
        font-weight bold
        -webkit-font-smoothing: antialiased
        padding-top 7px
    .address_book_lead_notification
      font-size 10px
      padding 10px
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
      color #606060
      line-height 150%
      font-weight bold
      padding-top 7px
      .address_book_lead_notification_explanation
        font-weight normal

    .address_book_buy_button
      center()
      border 1px solid Lead-Orange-light  
      box-shadow 0 1px 3px rgba(0, 0, 0, 0.2)
      cursor pointer
      width 50px
      font-size 10px
      position relative
      border-radius 4px
      padding 4px
      margin-top 14px
      margin-bottom 10px  
      text-align center
      background-color Lead-Orange-light
      &:hover
        -webkit-font-smoothing: antialiased
    // .address_book_remove_from_reserved input
    // .address_book_remove_from_reserved a
    //   // shift(0.49)
    //   color #606060
    //   border 1px solid #E8E8E8  
    //   box-shadow 0 1px 3px rgba(0, 0, 0, 0.2)
    //   cursor pointer
    //   width 130px
    //   font-size 10px
    //   position relative
    //   padding 4px
    //   margin-top 7px
    //   margin-bottom 2px  
    //   text-align center
    //   background-color #F0F0F0
    //   &:hover
    //     -webkit-font-smoothing: antialiased
  .address_book_reserved_leads
    color red


  // :::::::::::: ORDERS/ADDRESS_BOOK => Bought Leads :::::::::::: //

.address_book_columns
  shift (-1/15)
  width 70%
  max-width 1100px
  min-width 800px
  margin 50px auto
  -webkit-column-count 3
  -webkit-column-gap 10px
  -webkit-column-fill auto
  -moz-column-count 3
  -moz-column-gap 10px
  -moz-column-fill: auto
  column-count: 3
  column-gap: 15px
  column-fill: auto
  .address_book_lead_box
    vertical-align bottom
    -webkit-column-break-inside: avoid
    -moz-column-break-inside: avoid
    column-break-inside: avoid
    background-color white
    background-clip padding-box
    border-radius 4px
    box-shadow 0 1px 2px rgba(0, 0, 0, 0.05)
    border 1px solid #ccc
    margin-bottom 7px
    line-break 1px
    .address_book_lead_title
      background-color Lead-Orange
      border-top-left-radius 4px
      border-top-right-radius 4px
      padding 10px
      font-weight bold
      -webkit-font-smoothing: antialiased
      font-size 12px
      border-bottom 1px solid #e7e7e7
      &:hover
        background-color Lead-Orange-light
        border-top-left-radius 4px
        border-top-right-radius 4px
        padding 10px
        font-weight bold
        -webkit-font-smoothing: antialiased
        font-size 12px
        border-bottom 1px solid #e7e7e7
    .address_book_lead_body
      font-size 10px
      padding 10px
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
      color #606060
      line-height 150%
      .address_book_lead_subtitle
        font-weight bold
        -webkit-font-smoothing: antialiased
        padding-top 7px
    .address_book_lead_notes
      margin-left 6px
      #order_notes
        position relative
        text-decoration none
        color #606060
        font-family: 'Helvetica','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif
        padding 7px
        font-size 10px 
        height 150px
        width 260px
        vertical-align bottom
        -webkit-column-break-inside: avoid
        -moz-column-break-inside: avoid
        column-break-inside: avoid
        background-color white
        background-clip padding-box
        border-radius 4px
        box-shadow 0 1px 2px rgba(0, 0, 0, 0.05)
        border 1px solid #ccc
        margin-bottom 7px
        margin-top 7px
        line-break 1px 
      .address_book_lead_notes_button input
      .address_book_lead_notes_button a
        shift(0.673)
        margin-bottom 7px
        color #606060
        width 100px
        text-align center
        background-color #B8B8B8
        padding 4px
        width 80px
        font-weight bold
        -webkit-font-smoothing: antialiased
        font-size 10px
        border 1px solid #E8E8E8  
        border-radius 4px
        &:hover
          background-color Buy-Button-Color
    .address_book_link_to-signup"
      font-size 12px



// :::::::::::: NEW_LEAD_CONFIRMATION.html.erb => landing page after submitting new lead :::::::::::: //

.new_lead_confirmation
  margin-top 200px
  padding 20px
  center(420px)
  .new_lead_confirmation_thank_you
    font-weight bold
    font-size 20px
    padding-top 20px
  .new_lead_confirmation_text
    font-size 16px
    padding-top 40px
  .new_lead_confirmation_signature
    font-size 14px
    padding-top 20px

// :::::::::::: PROFILE :::::::::::: //

.profile_dashboard_columns
  shift (-1/15)
  width 70%
  max-width 1100px
  min-width 800px
  margin 50px auto
  -webkit-column-count 3
  -webkit-column-gap 10px
  -webkit-column-fill auto
  -moz-column-count 3
  -moz-column-gap 10px
  -moz-column-fill: auto
  column-count: 3
  column-gap: 15px
  column-fill: auto
  .profile_dashboard_box
    vertical-align bottom
    -webkit-column-break-inside: avoid
    -moz-column-break-inside: avoid
    column-break-inside: avoid
    background-color white
    background-clip padding-box
    border-radius 4px
    box-shadow 0 1px 2px rgba(0, 0, 0, 0.05)
    border 1px solid #ccc
    margin-bottom 7px
    line-break 1px
    .profile_dashboard_title
      text-align center
      background-color Lead-Orange
      border-top-left-radius 4px
      border-top-right-radius 4px
      padding 10px
      font-weight bold
      -webkit-font-smoothing: antialiased
      font-size 12px
      border-bottom 1px solid #e7e7e7
    .profile_dashboard_body
      padding 10px
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
      color #606060
      // line-height 150%
      text-align center
      .profile_dashboard_body_username
        font-size 20px
        font-weight bold
      .profile_dashboard_body_logout,
      .profile_dashboard_body_edit
        font-weight bold
        -webkit-font-smoothing: antialiased
        padding-top 7px
        font-size 10px
      .profile_dashboard_body_wallet_amount
        font-size 60px
        padding 24px
      .profile_dashboard_body_bought_leads_amount
        font-size 60px
        padding 24px
      .profile_dashboard_title_login_or_signup
        -webkit-font-smoothing: antialiased
        // .profile_dashboard_body_signup,
        // .profile_dashboard_body_login,
      .profile_dashboard_body_bought_leads_last
        font-size 20px
        font-weight bold
        padding 24px
  
        

    


