.top_menu_bar {
  position: relative;
  left: -0.103%;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 33px;
  padding-bottom: 7px;
}
.top_menu_bar .logged_user {
  position: relative;
  left: 1.957%;
  font-size: 12px;
  display: inline-block;
}
.top_menu_bar .logo {
  position: relative;
  left: 39.14%;
  height: 35px;
  display: inline-block;
}
.top_menu_bar .info {
  position: relative;
  left: 59.122%;
  font-size: 19px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}
.top_menu_bar .info .fa.fa-info-circle {
  color: #606060;
}
.top_menu_bar .info .fa.fa-info-circle:hover {
  color: #ffae4d;
  -webkit-font-smoothing: antialiased;
}
.bottom_menu_bar {
  position: relative;
  left: -2.06%;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 102%;
  height: 40px;
  padding-left: 131px;
  border-top: 1px solid #ccc;
  font-size: 20px;
}
.bottom_menu_bar a[href="/"] {
  background-color: #fff;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
  width: 207.8px;
  border-right: 1px solid #e7e7e7;
  padding: 7px;
  font-size: 22px;
}
.bottom_menu_bar a[href="/"]:before,
.bottom_menu_bar a[href="/"]:after {
  content: '';
  display: table;
}
.bottom_menu_bar a[href="/"]:after {
  clear: both;
}
.bottom_menu_bar .fa.fa-home {
  color: #606060;
}
.bottom_menu_bar .fa.fa-home:hover {
  color: #ffae4d;
}
.bottom_menu_bar .fa.fa-home::after {
  content: " Home";
  font-size: 14px;
  padding-bottom: 4px;
}
.bottom_menu_bar .fa.fa-home::after:hover {
  color: #ffae4d;
}
.bottom_menu_bar a[href="/reserved"] {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
  width: 207.8px;
  border-right: 1px solid #e7e7e7;
  padding: 7px;
  font-size: 22px;
}
.bottom_menu_bar a[href="/reserved"]:before,
.bottom_menu_bar a[href="/reserved"]:after {
  content: '';
  display: table;
}
.bottom_menu_bar a[href="/reserved"]:after {
  clear: both;
}
.bottom_menu_bar .fa.fa-star {
  color: #606060;
}
.bottom_menu_bar .fa.fa-star:hover {
  color: #ffae4d;
}
.bottom_menu_bar .fa.fa-star::after {
  content: " Reserved";
  font-size: 14px;
  padding-bottom: 4px;
}
.bottom_menu_bar .fa.fa-star::after:hover {
  color: #ffae4d;
  -webkit-font-smoothing: antialiased;
}
.bottom_menu_bar a[href="/address_book"] {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
  width: 207.8px;
  border-right: 1px solid #e7e7e7;
  padding: 7px;
  font-size: 20px;
}
.bottom_menu_bar a[href="/address_book"]:before,
.bottom_menu_bar a[href="/address_book"]:after {
  content: '';
  display: table;
}
.bottom_menu_bar a[href="/address_book"]:after {
  clear: both;
}
.bottom_menu_bar .fa.fa-users {
  color: #606060;
}
.bottom_menu_bar .fa.fa-users:hover {
  color: #ffae4d;
  -webkit-font-smoothing: antialiased;
}
.bottom_menu_bar .fa.fa-users::after {
  content: " Address book";
  font-size: 14px;
  padding-bottom: 4px;
}
.bottom_menu_bar .fa.fa-users::after:hover {
  color: #ffae4d;
  -webkit-font-smoothing: antialiased;
}
.bottom_menu_bar a[href="/profile"] {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
  width: 207.8px;
  border-right: 1px solid #e7e7e7;
  padding: 7px;
  font-size: 22px;
}
.bottom_menu_bar a[href="/profile"]:before,
.bottom_menu_bar a[href="/profile"]:after {
  content: '';
  display: table;
}
.bottom_menu_bar a[href="/profile"]:after {
  clear: both;
}
.bottom_menu_bar .fa.fa-cog {
  color: #606060;
}
.bottom_menu_bar .fa.fa-cog:hover {
  color: #ffae4d;
  -webkit-font-smoothing: antialiased;
}
.bottom_menu_bar .fa.fa-cog::after {
  content: " Profile";
  font-size: 14px;
  padding-bottom: 4px;
}
.bottom_menu_bar .fa.fa-cog::after:hover {
  color: #ffae4d;
  -webkit-font-smoothing: antialiased;
}
body {
  background-image: url("./subtle_zebra_3d.png");
  margin: 0px;
  font-size: 10px;
  color: #606060;
  font-family: 'Helvetica', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', sans-serif;
}
body a {
  text-decoration: none;
  color: #606060;
  font-family: 'Helvetica', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', sans-serif;
}
.columns {
  opacity: 0.9;
  position: relative;
  left: -6.866666666666701%;
  width: 70%;
  max-width: 1100px;
  min-width: 800px;
  margin: 50px auto;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}
.lead_box {
  vertical-align: bottom;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  border: 1px solid #ccc;
  margin-bottom: 15px;
  line-break: 1px;
}
.lead_box .lead_title {
  background-color: #ffae4d;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 10px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  border-bottom: 1px solid #e7e7e7;
}
.lead_box .lead_title:hover {
  background-color: #ffae4d;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 10px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  border-bottom: 1px solid #e7e7e7;
}
.lead_box .lead_title .fa.fa-star {
  color: #fcd229;
  font-size: 16px;
}
.lead_box .lead_title .fa.fa-star:hover {
  color: #606060;
}
.lead_box .lead_body {
  font-size: 10px;
  padding: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #606060;
  line-height: 150%;
}
.lead_box .lead_body .lead_subtitle {
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  padding-top: 7px;
}
.lead_show {
  opacity: 0.9;
  position: relative;
  margin: 60px auto 80px 0px;
  padding-bottom: 40px;
  width: 70%;
  max-width: 1100px;
  min-width: 800px;
  position: relative;
  left: 8.137%;
  vertical-align: bottom;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  border: 1px solid #ccc;
  line-break: 1px;
}
.lead_show .lead_show_title {
  background-color: #ffae4d;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-size: 30px;
  border-bottom: 1px solid #e7e7e7;
}
.lead_show .lead_show_body {
  font-size: 16px;
  padding-top: 7px;
  padding-left: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #606060;
  line-height: 150%;
}
.lead_show .lead_show_body .lead_show_subtitle {
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  margin-top: 20px;
  margin-right: 15px;
}
.lead_show .lead_show_price {
  text-align: center;
  font-size: 16px;
  padding: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #606060;
  line-height: 150%;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  padding-top: 7px;
  margin-top: 50px;
}
.lead_show .lead_show_buy input,
.lead_show .lead_show_buy a {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 14.285714285714299%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0px;
  color: #606060;
  *zoom: 1;
  width: auto;
  max-width: 1410px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100px;
  text-align: center;
  line-height: 24px;
  background-color: #ffae4d;
  padding: 5px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}
.lead_show .lead_show_buy input:before,
.lead_show .lead_show_buy a:before,
.lead_show .lead_show_buy input:after,
.lead_show .lead_show_buy a:after {
  content: '';
  display: table;
}
.lead_show .lead_show_buy input:after,
.lead_show .lead_show_buy a:after {
  clear: both;
}
.lead_show .lead_show_buy input:before,
.lead_show .lead_show_buy a:before,
.lead_show .lead_show_buy input:after,
.lead_show .lead_show_buy a:after {
  content: '';
  display: table;
}
.lead_show .lead_show_buy input:after,
.lead_show .lead_show_buy a:after {
  clear: both;
}
.lead_show .lead_show_buy input:hover,
.lead_show .lead_show_buy a:hover {
  background-color: #b8b8b8;
}
.order_show {
  opacity: 0.9;
  position: relative;
  padding-bottom: 80px;
  margin: 60px auto 60px 0px;
  width: 70%;
  max-width: 1100px;
  min-width: 800px;
  position: relative;
  left: 8.137%;
  vertical-align: bottom;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  border: 1px solid #ccc;
  line-break: 1px;
}
.order_show .order_show_title {
  background-color: #ffae4d;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-size: 30px;
  border-bottom: 1px solid #e7e7e7;
}
.order_show .order_show_body {
  font-size: 16px;
  padding-top: 7px;
  padding-left: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #606060;
  line-height: 150%;
}
.order_show .order_show_body .order_show_subtitle {
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  margin-top: 20px;
  margin-right: 15px;
}
.order_show .order_show_price {
  text-align: center;
  font-size: 16px;
  padding: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #606060;
  line-height: 150%;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  padding-top: 7px;
  margin-top: 50px;
}
.order_show .payment_buttons_choose_payment_text {
  text-align: center;
  padding: 7px;
}
.order_show .order_show_buy input,
.order_show .order_show_buy a {
  color: #606060;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 14.285714285714299%;
  margin-left: 0%;
  margin-right: 0%;
  position: relative;
  left: 30.9%;
  position: relative;
  width: 100px;
  text-align: center;
  background-color: #ffae4d;
  padding: 5px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}
.order_show .order_show_buy input:before,
.order_show .order_show_buy a:before,
.order_show .order_show_buy input:after,
.order_show .order_show_buy a:after {
  content: '';
  display: table;
}
.order_show .order_show_buy input:after,
.order_show .order_show_buy a:after {
  clear: both;
}
.order_show .order_show_buy input:hover,
.order_show .order_show_buy a:hover {
  background-color: #b8b8b8;
}
.order_show_notes {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
  position: relative;
  left: 8.24%;
}
.order_show_notes .order_show_notes_title {
  position: relative;
  left: 0.824%;
  margin-bottom: 4px;
  width: 100px;
}
.order_show_notes #order_notes {
  position: relative;
  text-decoration: none;
  color: #606060;
  font-family: 'Helvetica', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', sans-serif;
  padding: 20px;
  font-size: 20px;
  height: 400px;
  width: 67%;
  max-width: 1100px;
  min-width: 800px;
  vertical-align: bottom;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  border: 1px solid #ccc;
  margin-bottom: 7px;
  margin-top: 7px;
  line-break: 1px;
}
.order_show_notes .order_show_notes_submit input,
.order_show_notes .order_show_notes_submit a {
  margin-left: 799px;
  margin-top: 10px;
  color: #606060;
  width: 100px;
  line-height: 24px;
  text-align: center;
  background-color: #b8b8b8;
  padding: 5px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}
.order_show_notes .order_show_notes_submit input:hover,
.order_show_notes .order_show_notes_submit a:hover {
  background-color: #ffae4d;
}
.offer {
  opacity: 0.9;
  margin: 38px auto;
  padding: 100px;
  background-color: #fff;
}
.offer .offer_title {
  *zoom: 1;
  width: auto;
  max-width: 420px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  color: #606060;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 30px;
}
.offer .offer_title:before,
.offer .offer_title:after {
  content: '';
  display: table;
}
.offer .offer_title:after {
  clear: both;
}
.offer .offer_company_info {
  position: relative;
  left: 62.83%;
  color: #606060;
  padding: 10px;
  border: 4px solid #e7e7e7;
  box-shadow: inset 0 0 0 0 #ccc;
  border-radius: 4px;
  margin-bottom: 7px;
}
.offer .offer_date {
  color: #606060;
  font-size: 16px;
  margin-bottom: 20px;
  position: relative;
  left: -20.6%;
  text-align: right;
}
.offer .offer_sosed_info {
  position: relative;
  left: 7.725%;
  margin-top: 20px;
  color: #606060;
  text-align: left;
  padding: 10px;
  border: 4px solid #e7e7e7;
  box-shadow: inset 0 0 0 0 #ccc;
  border-radius: 4px;
}
.offer .offer_sosed_info .offer_sosed_info_price td {
  font-weight: bold;
  padding: 4px;
  font-size: 12px;
  background-color: #f0f0f0;
}
.offer .offer_sosed_info .offer_sosed_info_item td {
  font-weight: bold;
  padding: 4px;
  font-size: 12px;
}
.offer .offer_show_lead {
  top: 30px;
  *zoom: 1;
  width: auto;
  max-width: 70%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  left: -7.210000000000001%;
  height: 30%;
  width: 70%;
  vertical-align: bottom;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  border: 1px solid #ccc;
  margin-bottom: 10px;
  margin-top: 7px;
  line-break: 1px;
}
.offer .offer_show_lead:before,
.offer .offer_show_lead:after {
  content: '';
  display: table;
}
.offer .offer_show_lead:after {
  clear: both;
}
.offer .offer_show_lead .offer_show_lead_title {
  background-color: #ffae4d;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 10px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  border-bottom: 1px solid #e7e7e7;
}
.offer .offer_show_lead .offer_show_lead_body {
  font-size: 16px;
  padding-top: 3px;
  padding-left: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #606060;
  line-height: 150%;
}
.offer .offer_show_lead .offer_show_lead_body .offer_show_lead_subtitle {
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  margin-top: 20px;
  margin-right: 15px;
}
.offer .offer_show_lead .offer_show_lead_body .ordersindex-notifications.customer-info {
  color: #f00;
}
.offer .offer_instructions {
  width: 70%;
  margin-top: 70px;
  font-size: 14px;
  position: relative;
  left: 7.725%;
}
.address_book_reserved_leads {
  opacity: 0.9;
  position: relative;
  left: 38.11%;
  margin-top: 60px;
  font-size: 20px;
  font-weight: bold;
}
.address_book_columns {
  position: relative;
  left: -6.866666666666701%;
  width: 70%;
  max-width: 1100px;
  min-width: 800px;
  margin: 50px auto;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}
.address_book_columns .address_book_lead_box {
  vertical-align: bottom;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  border: 1px solid #ccc;
  margin-bottom: 15px;
  line-break: 1px;
}
.address_book_columns .address_book_lead_box .address_book_lead_title {
  background-color: #ffae4d;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 10px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  border-bottom: 1px solid #e7e7e7;
}
.address_book_columns .address_book_lead_box .address_book_lead_title:hover {
  background-color: #ffae4d;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 10px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  border-bottom: 1px solid #e7e7e7;
}
.address_book_columns .address_book_lead_box .address_book_lead_body {
  font-size: 10px;
  padding: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #606060;
  line-height: 150%;
}
.address_book_columns .address_book_lead_box .address_book_lead_body .address_book_lead_subtitle {
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  padding-top: 7px;
}
.address_book_columns .address_book_lead_box .address_book_lead_notification {
  font-size: 10px;
  padding: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #606060;
  line-height: 150%;
  font-weight: bold;
  padding-top: 7px;
}
.address_book_columns .address_book_lead_box .address_book_lead_notification .address_book_lead_notification_explanation {
  font-weight: normal;
}
.address_book_columns .address_book_lead_box .address_book_buttons .address_book_buy_button {
  *zoom: 1;
  width: auto;
  max-width: 1410px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  color: #606060;
  border: 1px solid #e8e8e8;
  cursor: pointer;
  width: 57px;
  line-height: 16px;
  font-size: 10px;
  font-weight: bold;
  position: relative;
  border-radius: 4px;
  padding: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #ffae4d;
  -webkit-font-smoothing: antialiased;
}
.address_book_columns .address_book_lead_box .address_book_buttons .address_book_buy_button:before,
.address_book_columns .address_book_lead_box .address_book_buttons .address_book_buy_button:after {
  content: '';
  display: table;
}
.address_book_columns .address_book_lead_box .address_book_buttons .address_book_buy_button:after {
  clear: both;
}
.address_book_columns .address_book_lead_box .address_book_buttons .address_book_buy_button:hover {
  background-color: #b8b8b8;
}
.address_book_columns .address_book_lead_box .address_book_buttons .address_book_remove_button input,
.address_book_columns .address_book_lead_box .address_book_buttons .address_book_remove_button a {
  *zoom: 1;
  width: auto;
  max-width: 1410px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  color: #606060;
  border: 1px solid #fff;
  cursor: pointer;
  line-height: 16px;
  font-size: 10px;
  font-weight: normal;
  position: relative;
  border-radius: 4px;
  margin-bottom: 7px;
  text-align: center;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}
.address_book_columns .address_book_lead_box .address_book_buttons .address_book_remove_button input:before,
.address_book_columns .address_book_lead_box .address_book_buttons .address_book_remove_button a:before,
.address_book_columns .address_book_lead_box .address_book_buttons .address_book_remove_button input:after,
.address_book_columns .address_book_lead_box .address_book_buttons .address_book_remove_button a:after {
  content: '';
  display: table;
}
.address_book_columns .address_book_lead_box .address_book_buttons .address_book_remove_button input:after,
.address_book_columns .address_book_lead_box .address_book_buttons .address_book_remove_button a:after {
  clear: both;
}
.address_book_link_to_signup {
  width: 70%;
  font-size: 16px;
  font-weight: bold;
  max-width: 1100px;
  min-width: 800px;
  margin-top: 100px;
  margin-left: 270px;
}
.address_book_link_to_signup a[href="/users/sign_up"],
.address_book_link_to_signup a[href="/users/sign_in"] {
  text-decoration: underline;
}
.address_book_columns {
  position: relative;
  left: -6.866666666666701%;
  width: 70%;
  max-width: 1100px;
  min-width: 800px;
  margin: 50px auto;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}
.address_book_columns .address_book_lead_box {
  vertical-align: bottom;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  border: 1px solid #ccc;
  margin-bottom: 15px;
  line-break: 1px;
}
.address_book_columns .address_book_lead_box .address_book_lead_title {
  background-color: #ffae4d;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 10px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  border-bottom: 1px solid #e7e7e7;
}
.address_book_columns .address_book_lead_box .address_book_lead_title:hover {
  background-color: #ffae4d;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 10px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  border-bottom: 1px solid #e7e7e7;
}
.address_book_columns .address_book_lead_box .address_book_lead_body {
  font-size: 10px;
  padding: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #606060;
  line-height: 150%;
}
.address_book_columns .address_book_lead_box .address_book_lead_body .address_book_lead_subtitle {
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  padding-top: 7px;
}
.address_book_columns .address_book_lead_box .address_book_lead_notes {
  margin-left: 6px;
}
.address_book_columns .address_book_lead_box .address_book_lead_notes #order_notes {
  position: relative;
  text-decoration: none;
  color: #606060;
  font-family: 'Helvetica', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', sans-serif;
  padding: 7px;
  font-size: 10px;
  height: 150px;
  width: 260px;
  vertical-align: bottom;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  border: 1px solid #ccc;
  margin-bottom: 7px;
  margin-top: 7px;
  line-break: 1px;
}
.address_book_columns .address_book_lead_box .address_book_lead_notes .address_book_lead_notes_button input,
.address_book_columns .address_book_lead_box .address_book_lead_notes .address_book_lead_notes_button a {
  position: relative;
  left: 69.31900000000002%;
  margin-bottom: 7px;
  color: #606060;
  width: 67px;
  line-height: 16px;
  text-align: center;
  background-color: #b8b8b8;
  padding: 4px;
  width: 80px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  font-size: 10px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}
.address_book_columns .address_book_lead_box .address_book_lead_notes .address_book_lead_notes_button input:hover,
.address_book_columns .address_book_lead_box .address_book_lead_notes .address_book_lead_notes_button a:hover {
  background-color: #ffae4d;
}
.address_book_columns .address_book_lead_box .address_book_link_to-signup" {
  font-size: 12px;
}
.address_book_bought_leads {
  font-size: 20px;
  font-weight: bold;
  width: 70%;
  max-width: 1100px;
  min-width: 800px;
  margin-top: 100px;
  margin-left: 450px;
}
.address_book_link_to_signup {
  width: 70%;
  font-size: 16px;
  font-weight: bold;
  max-width: 1100px;
  min-width: 800px;
  margin-top: 100px;
  margin-left: 270px;
}
.new_lead_confirmation {
  margin-top: 200px;
  padding: 20px;
  *zoom: 1;
  width: auto;
  max-width: 420px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.new_lead_confirmation:before,
.new_lead_confirmation:after {
  content: '';
  display: table;
}
.new_lead_confirmation:after {
  clear: both;
}
.new_lead_confirmation .new_lead_confirmation_thank_you {
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
}
.new_lead_confirmation .new_lead_confirmation_text {
  font-size: 16px;
  padding-top: 40px;
}
.new_lead_confirmation .new_lead_confirmation_signature {
  font-size: 14px;
  padding-top: 20px;
}
.profile_dashboard_columns {
  position: relative;
  left: -6.866666666666701%;
  width: 70%;
  max-width: 1100px;
  min-width: 800px;
  margin: 50px auto;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}
.profile_dashboard_columns .profile_dashboard_box {
  vertical-align: bottom;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  border: 1px solid #ccc;
  margin-bottom: 15px;
  line-break: 1px;
}
.profile_dashboard_columns .profile_dashboard_box .profile_dashboard_title {
  text-align: center;
  background-color: #82c0c7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 10px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  border-bottom: 1px solid #e7e7e7;
}
.profile_dashboard_columns .profile_dashboard_box .profile_dashboard_body {
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #606060;
  text-align: center;
}
.profile_dashboard_columns .profile_dashboard_box .profile_dashboard_body .profile_dashboard_body_username {
  font-size: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}
.profile_dashboard_columns .profile_dashboard_box .profile_dashboard_body .profile_dashboard_body_logout,
.profile_dashboard_columns .profile_dashboard_box .profile_dashboard_body .profile_dashboard_body_edit {
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  padding-top: 7px;
  font-size: 12px;
  display: inline-block;
  text-align: right;
  text-decoration: underline;
}
.profile_dashboard_columns .profile_dashboard_box .profile_dashboard_body .profile_dashboard_body_wallet_amount {
  font-size: 80px;
  padding: 24px;
}
.profile_dashboard_columns .profile_dashboard_box .profile_dashboard_body .profile_dashboard_body_wallet_transfer {
  font-size: 10px;
  font-weight: bold;
}
.profile_dashboard_columns .profile_dashboard_box .profile_dashboard_body .profile_dashboard_body_bought_leads_amount {
  font-size: 100px;
  padding: 24px;
}
.profile_dashboard_columns .profile_dashboard_box .profile_dashboard_body .profile_dashboard_title_login_or_signup {
  font-size: 14px;
  font-weight: bold;
}
.profile_dashboard_columns .profile_dashboard_box .profile_dashboard_body .profile_dashboard_title_login_or_signup .profile_dashboard_body_signup {
  padding-bottom: 7px;
  font-size: 14px;
}
.profile_dashboard_columns .profile_dashboard_box .profile_dashboard_body .profile_dashboard_title_login_or_signup .profile_dashboard_body_signup:hover {
  text-decoration: underline;
}
.profile_dashboard_columns .profile_dashboard_box .profile_dashboard_body .profile_dashboard_title_login_or_signup .profile_dashboard_body_login {
  font-size: 14px;
}
.profile_dashboard_columns .profile_dashboard_box .profile_dashboard_body .profile_dashboard_title_login_or_signup .profile_dashboard_body_login:hover {
  text-decoration: underline;
}
.profile_dashboard_columns .profile_dashboard_box .profile_dashboard_body .profile_dashboard_body_bought_leads_last {
  font-size: 24px;
  font-weight: bold;
  padding: 24px;
}
.info_body {
  margin-left: 96px;
  padding: 50px;
  width: 69%;
  max-width: 1100px;
  min-width: 800px;
  margin-top: 40px;
  background-color: #fff;
  font-size: 12px;
  color: #606060;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 150%;
}
.info_body .info_thanks {
  text-align: center;
  color: #606060;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 30px;
}
.info_body .info_table {
  *zoom: 1;
  width: auto;
  max-width: 420px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
  color: #606060;
  text-align: left;
  padding: 10px;
  border: 4px solid #e7e7e7;
  box-shadow: inset 0 0 0 0 #ccc;
  border-radius: 4px;
}
.info_body .info_table:before,
.info_body .info_table:after {
  content: '';
  display: table;
}
.info_body .info_table:after {
  clear: both;
}
.info_body .info_table .info_table_item {
  font-weight: bold;
  padding: 4px;
  font-size: 12px;
  background-color: #f0f0f0;
}
.info_body .info_table .info_table_item td {
  font-weight: bold;
  padding: 4px;
  font-size: 12px;
}
.info_body .info_faq_title {
  text-align: left;
  color: #606060;
  font-weight: bold;
  font-size: 28px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.info_body .info_faq_question {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 4px;
}
.info_body .info_faq_answer {
  margin-bottom: 30px;
  font-size: 14px;
}
.login {
  margin-top: 60px;
  margin-left: 100px;
}
.login .login_title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
.login .login_form_email,
.login .login_form_password {
  font-size: 12px;
  margin-bottom: 14px;
}
.login .login_form_email #user_email,
.login .login_form_password #user_email,
.login .login_form_email #user_password,
.login .login_form_password #user_password {
  border-radius: 4px;
  margin-top: 4px;
  height: 26px;
  width: 200px;
  border: 1px solid #e8e8e8;
}
.login .login_form_remember_me {
  font-size: 10px;
}
.login .login_form_submit input,
.login .login_form_submit a {
  color: #606060;
  border: 1px solid #e8e8e8;
  cursor: pointer;
  width: 57px;
  line-height: 16px;
  font-size: 10px;
  font-weight: bold;
  position: relative;
  border-radius: 4px;
  padding: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #ffae4d;
  -webkit-font-smoothing: antialiased;
}
.login .login_form_submit input:hover,
.login .login_form_submit a:hover {
  background-color: #b8b8b8;
}
.login .login_shared_links {
  font-size: 10px;
}
.login .login_shared_links:hover {
  text-decoration: underline;
}
