/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  RESPONSIVE LAYOUT
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
breakpoint_xxl      = 1640px
breakpoint_tablet   = 1000px
breakpoint_phablet  =  640px
breakpoint_mobile   =  480px


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  COLORS
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
color_green         = #99FF99


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  FONTS
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
@font-face
  font-family       'timelessbold'
  font-weight       normal
  font-style        normal

font_size_base      = 14px
font_style_main     = 'Ubuntu'

