<div class="bottom_menu_bar">
  <a class="button_home" href="/"><i class="fa fa-home"></i><span><%= I18n.t'application.bottom-menu.home' %></span></a>
  <a class="button_reserved" href="/reserved"><i class="fa fa-star"></i><span> <%= I18n.t'application.bottom-menu.reserved' %></span></a>
  <a class="button_address_book" href="/address_book"><i class="fa fa-users"></i><span> <%= I18n.t'application.bottom-menu.address-book' %></span></a>
  <a class="button_profile" href="/profile"><i class="fa fa-cog"></i><span> <%= I18n.t'application.bottom-menu.profile' %></span></a>
</div>