<footer>
  <div class="footer_container">
    <div class="footer_main_row">
      <div class="footer_column_1">
          <%= image_tag 'logo.png'%>
          <br><br>
          Work is the best pathway to connect newcomers with locals. We grow through the things we make together.
      </div>
      <div class="footer_column_2">
        <div class="footer_column_2_column_3">
          <ul>
            <li>PARTNERS</li>
            <br>
            <li><a href="http://app.wizardamigos.com/">WizardAmigos</a></li>
            <li><a href="http://co-up.de/about.html">CoUp coworking</a></li>
            <li><a href="https://okfn.org/">Open Knowledge Fundation</a></li>
          </ul>
        </div>
        <div class="footer_column_2_column_3">
          <ul>
            <li>CREATORS</li>
            <br>
            <li><a href="http://www.codingamigos.com">CodingAmigos</a></li>
            <li><a href="http://fairydust.agency/">FairyDust.agency</a></li>
            <li>
              <a href="https://github.com/RefugeesWork/organization">
                Join the team</a>
            </li>
          </ul>
        </div>
        <div class="footer_column_2_column_3">
          <ul>
            <li>ABOUT</li>
            <br>
            <li><%= link_to "More info", info_path %></li>
            <li><a href="https://gitter.im/RefugeesWork/Chat">Ask us</a></li>
          </ul>
        </div>
      </div>
      <div class="footer_column_1">
        <ul>
          <li>Contact us today</li>
          <li><%= link_to "we@refugeeswork.com", "mailto:we@refugeeswork.com"%></li>
          <br>
          <li>Or join our online community</li>
          <li><a href="https://www.facebook.com/groups/RefugeesWork/">Facebook</a></li>
          <li><a href="https://www.linkedin.com/groups/3889758">LinkedIn</a></li>
        </ul>
      </div>
    </div>
    <div class="footer_social_row">
      <ul>
        <li><a href="https://github.com/ninabreznik/RefugeesWork"><i class="fa fa-copyright"></i></a></li>
        <br>
        <br>
        <li class="copyright">&copy; <%= Time.now.year %> RefugeesWork is an open source project and can be reused for non-commercial purposes.</li>
      </ul>
    </div>
  </div>
</footer>
