<div class="top_menu_bar">
  <a href="<%= root_path %>"><%= image_tag 'logo.png', :class => 'logo' %></a>
    <div class="logged_user">
      <%= link_to "Login/Register", new_user_registration_path %>
    </div>
  <div class="info">
    <a href="http://blog.refugeeswork.com"><i class="fa fa-rss-square"></i></a>
  </div>
</div>
