<div class="top_menu_bar">
  <a href="<%= root_path %>"><%= image_tag 'logo.png', :class => 'logo' %></a>
    <div class="logged_user">
      <a href="http://blog.refugeeswork.com">Visit our blog</a>
    </div>
  <div class="info">
    <a href="<%= info_path %>"><i class="fa fa-info-circle"></i></a>
  </div>
</div>
